<!-- 參考網頁 -->
<!-- https://getbootstrap.com/docs/4.3/components/card/ -->
<!-- https://mdbootstrap.com/docs/angular/advanced/carousel/ -->

<h4 style="font-weight:bold;text-align: center;">經銷廠牌</h4>

<div class="row">
    <div class="col">
        <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-slide *ngFor="let card of cards; let i = index">
                <div class="view w-100">
                    <img class="d-block w-100" src="{{card.img}}" alt="First slide">
                </div>
            </mdb-slide>
        </mdb-carousel>
    </div>
</div>