<div class="container-fluid">
    <app-head></app-head>

    <div class="row">
        <table>
            <tr>
                <td style="height: 12vh"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="row">
        <table>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col w-100">
            <br>
            <div class="container-fluid">
                <nav class="breadcrumb bg-white">
                    <a class="breadcrumb-item" href="#">首頁</a>
                    <a class="breadcrumb-item">玩潛水</a>
                    <a class="breadcrumb-item">套裝區</a>
                </nav>
            </div>
            <br>
        </div>
    </div>

    <!-- https://mdbootstrap.com/docs/angular/layout/grid-usage/ -->
    <!-- https://mdbootstrap.com/docs/angular/layout/grid-examples/ -->
    <div class="row">
        <div class="col-xl">
        </div>
        <div class="col-xl-10">

            <h3>器材 套裝區</h3>
            <hr>

            <!-- https://mdbootstrap.com/docs/angular/sections/blog/ -->
            <!-- 套裝區 -->
            <div>
                <!-- A 組合 -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-lg-4">
                        <!-- Featured image -->
                        <div class="view overlay rounded mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                            <!-- <img src="../../../assets/Image/Data/FDI_L1-1.jpg" alt="Sample image"> -->
                            <table width="80%">
                                <tr>
                                    <td>
                                        <img src="../../../assets/Image/Data/AQUA_LUNG_CORE.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/AQUALUNG-2GAUGE-MAIN.jpg"
                                            width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/ATOMIC_SS1.jpg" width="60%" /><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../../../assets/Image/Data/TUSA_BCJ-1800_MAIN.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/Problue_bag.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/Problue_AC-92-9AS_20m.jpg"
                                            width="60%" /><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../../../assets/Image/Data/SMB.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <div class="col-lg-8">
                        <!-- Post title -->
                        <h3 class="font-weight-bold mb-3" style="font-family:DFKai-sb;"><strong>A 組合</strong>
                        </h3>
                        <!-- Excerpt -->
                        <ol class="fs-4">
                            <li>Aqua lung Core調節器</li>
                            <li>Aqua lung 壓力指北針兩用錶</li>
                            <li>ATOMIC SS1整合式備用氣源</li>
                            <li>TUSA BJC 1800 輕量化旅行者BC</li>
                            <li>Problue 20m手輪</li>
                            <li>1.2M浮力袋</li>
                            <li>Problue整合收納包</li>
                        </ol>
                        <p class="fs-4">定價：49,650</p>
                        <p class="fs-4">全套現金優惠價：43,690</p>
                    </div>
                </div>
                <br>
                <!-- B 組合 -->
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-lg-4">
                        <!-- Featured image -->
                        <div class="view overlay rounded mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                            <!-- <img src="../../../assets/Image/Data/FDI_L2-1.jpg" alt="Sample image"> -->
                            <table width="80%">
                                <tr>
                                    <td>
                                        <img src="../../../assets/Image/Data/AQUA_LUNG-Leg3nd.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/AQUALUNG-2GAUGE-MAIN.jpg"
                                            width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/ATOMIC_SS1.jpg" width="60%" /><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../../../assets/Image/Data/TUSA_BCJ-1800_MAIN.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/Problue_bag.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/Problue_AC-92-9AS_20m.jpg"
                                            width="60%" /><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../../../assets/Image/Data/SMB.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                            </table>
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <div class="col-lg-8">
                        <!-- Post title -->
                        <h3 class="font-weight-bold mb-3" style="font-family:DFKai-sb;"><strong>B 組合</strong>
                        </h3>
                        <!-- Excerpt -->
                        <ol class="fs-4">
                            <li>Aqua lung LEG3END調節器</li>
                            <li>Aqua lung 壓力指北針兩用錶</li>
                            <li>ATOMIC SS1整合式備用氣源</li>
                            <li>TUSA BJC 1800 輕量化旅行者BC</li>
                            <li>Problue 20m手輪</li>
                            <li>1.2M浮力袋</li>
                            <li>Problue整合收納包</li>
                        </ol>
                        <p class="fs-4">定價：55,550</p>
                        <p class="fs-4">全套現金優惠價：45,400</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <br>
                <!-- C 組合 -->
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-lg-4">
                        <!-- Featured image -->
                        <div class="view overlay rounded mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                            <!-- <img src="../../../assets/Image/Data/FDI_L3-1.jpg" alt="Sample image"> -->
                            <table width="80%">
                                <tr>
                                    <td>
                                        <img src="../../../assets/Image/Data/AQUA_LUNG_CORE.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/AQUALUNG-2GAUGE-MAIN.jpg"
                                            width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/ATOMIC_SS1.jpg" width="60%" /><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../../../assets/Image/Data/AQUA_LUNG-ProHD.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/Problue_bag.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/Problue_AC-92-9AS_20m.jpg"
                                            width="60%" /><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../../../assets/Image/Data/SMB.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <div class="col-lg-8">
                        <!-- Post title -->
                        <h3 class="font-weight-bold mb-3" style="font-family:DFKai-sb;"><strong>C 組合</strong>
                        </h3>
                        <!-- Excerpt -->
                        <ol class="fs-4">
                            <li>Aqua lung CORE調節器</li>
                            <li>Aqua lung 壓力指北針兩用錶</li>
                            <li>ATOMIC SS1整合式備用氣源</li>
                            <li>Aqua lung PROHD BC</li>
                            <li>Problue 20m手輪</li>
                            <li>1.2M浮力袋</li>
                            <li>Problue整合收納包</li>
                        </ol>
                        <p class="fs-4">定價：51,650</p>
                        <p class="fs-4">全套現金優惠價：45,450</p>
                    </div>
                </div>
                <br>
                <!-- D 組合 -->
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-lg-4">
                        <!-- Featured image -->
                        <div class="view overlay rounded mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                            <!-- <img src="../../../assets/Image/Data/FDI_L3-1.jpg" alt="Sample image"> -->
                            <table width="80%">
                                <tr>
                                    <td>
                                        <img src="../../../assets/Image/Data/AQUA_LUNG-Leg3nd.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/AQUALUNG-2GAUGE-MAIN.jpg"
                                            width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/ATOMIC_SS1.jpg" width="60%" /><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../../../assets/Image/Data/AQUA_LUNG-ProHD.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/Problue_bag.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/Problue_AC-92-9AS_20m.jpg"
                                            width="60%" /><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../../../assets/Image/Data/SMB.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                            </table>
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <div class="col-lg-8">
                        <!-- Post title -->
                        <h3 class="font-weight-bold mb-3" style="font-family:DFKai-sb;"><strong>D 組合</strong>
                        </h3>
                        <!-- Excerpt -->
                        <ol class="fs-4">
                            <li>Aqua lung LEG3END調節器</li>
                            <li>Aqua lung 壓力指北針兩用錶</li>
                            <li>ATOMIC SS1整合式備用氣源</li>
                            <li>Aqua lung PROHD BC</li>
                            <li>Problue 20m手輪</li>
                            <li>1.2M浮力袋</li>
                            <li>Problue整合收納包</li>
                        </ol>
                        <p class="fs-4">定價：57,550</p>
                        <p class="fs-4">全套現金優惠價：50,640</p>
                    </div>
                </div>
                <br>
                <!-- E 組合 -->
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-lg-4">
                        <!-- Featured image -->
                        <div class="view overlay rounded mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                            <!-- <img src="../../../assets/Image/Data/FDI_L3-1.jpg" alt="Sample image"> -->
                            <table width="80%">
                                <tr>
                                    <td>
                                        <img src="../../../assets/Image/Data/AQUA_LUNG_CORE.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/AQUALUNG-2GAUGE-MAIN.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/Ｍares_octopus-loop.jpg" width="60%" /><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../../../assets/Image/Data/Xdeep_NX_Zen.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/Mares_Weight_Bag.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        <img src="../../../assets/Image/Data/Problue 1.8m.jpg" width="60%" /><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../../../assets/Image/Data/Scuba_YD_15m.jpg" width="60%" /><br>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                            </table>
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <div class="col-lg-8">
                        <!-- Post title -->
                        <h3 class="font-weight-bold mb-3" style="font-family:DFKai-sb;"><strong>E 組合</strong>
                        </h3>
                        <!-- Excerpt -->
                        <ol class="fs-4">
                            <li>Aqua lung CORE調節器</li>
                            <li>Aqua lung 壓力指北針兩用錶</li>
                            <li>Mares Loop Oct 備用氣源</li>
                            <li>Mares 配重包</li>
                            <li>XDeep Zen Ultralight豪華繡字版BC</li>
                            <li>Scuba YD 15m手輪</li>
                            <li>Problue 1.8m浮力袋</li>
                        </ol>
                        <p class="fs-4">定價：60,180</p>
                        <p class="fs-4">全套現金優惠價：57,000</p>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-xl">
        </div>
    </div>

    <div class="row">
        <table>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>

    <app-foot></app-foot>
</div>