<div class="container">

    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light idiving-header-color fixed-top">
                <div class="container-fluid">

                    <a class="navbar-brand text-dark" href="">
                        <img style="z-index:3" src="../../../../assets/Image/Logo.png" />
                        <!-- <h1 class="text-hide" style="background-image: url('../../../../assets/Image/Logo.png'); width: 250px; height: 90px;">MDBootstrap</h1> -->
                        <!-- <span>全方位潛水中心</span> -->
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav ms-auto">

                            <li class="nav-item dropdown has-megamenu flex-row-reverse">
                                <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" id="menu-mermaid" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    人魚/水舞
                                </a>
                                <ul class="dropdown-menu megamenu" role="menu" aria-labelledby="menu-mermaid">
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="sub-title text-uppercase font-weight-bold"></h6>
                                            <li><a class="dropdown-item fs-6" routerLink="/cfd131" routerLinkActive="active"> 人魚體驗 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/cfd130" routerLinkActive="active"> 人魚課程 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/j100" routerLinkActive="active"> 兒童/青少年課程 </a></li>
                                        </div>
                                        <div class="col">
                                            <h6 class="sub-title text-uppercase font-weight-bold"> </h6>
                                            <li><a class="dropdown-item fs-6" routerLink="/cfd140" routerLinkActive="active"> 水舞課程 </a></li>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                </ul>
                            </li>

                            <li class="nav-item dropdown has-megamenu">
                                <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" id="menu-freedive" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    自由潛水
                                </a>
                                <ul class="dropdown-menu megamenu" role="menu" aria-labelledby="menu-freedive">
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="sub-title text-uppercase font-weight-bold"></h6>
                                            <li><a class="dropdown-item fs-6" routerLink="/cfd110" routerLinkActive="active"> 自由潛水員 Freediver (初階課程) </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/cfd210" routerLinkActive="active"> 進階自由潛水員 Advanced Freediver </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/cfd310" routerLinkActive="active"> 卓越自由潛水員 Performance Freediver </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/cfd120" routerLinkActive="active"> FD 初階專長 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/cfd220" routerLinkActive="active"> FD 進階專長 </a></li>
                                        </div>
                                        <div class="col">
                                            <h6 class="sub-title text-uppercase font-weight-bold"> </h6>
                                            <li><a class="dropdown-item fs-6" routerLink="/cfdc210" routerLinkActive="active"> 自潛教練培訓 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/j100" routerLinkActive="active"> 兒童/青少年課程 </a></li>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                </ul>
                            </li>

                            <li class="nav-item dropdown has-megamenu">
                                <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" id="menu-scuba" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    水肺潛水
                                </a>
                                <ul class="dropdown-menu megamenu" role="menu" aria-labelledby="menu-scuba">
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="sub-title text-uppercase font-weight-bold"></h6>
                                            <li><a class="dropdown-item fs-6" routerLink="/c120" routerLinkActive="active"> OWD潛水課程 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/c210" routerLinkActive="active"> AOWD潛水員課程 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/c310" routerLinkActive="active"> 各項專長潛水員 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/c312" routerLinkActive="active"> 環保專長潛水員 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/c313" routerLinkActive="active"> 高階專長潛水員 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/c314" routerLinkActive="active"> 四項專長套裝 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/c101" routerLinkActive="active"> 體驗潛水/水肺複習 </a></li>
                                        </div>
                                        <div class="col">
                                            <h6 class="sub-title text-uppercase font-weight-bold"> </h6>
                                            <li><a class="dropdown-item fs-6" routerLink="/c410" routerLinkActive="active"> 水肺教練培訓 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/j100" routerLinkActive="active"> 兒童/青少年課程 </a></li>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                </ul>
                            </li>

                            <li class="nav-item dropdown has-megamenu">
                                <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" id="menu-tech" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    技術潛水
                                </a>
                                <ul class="dropdown-menu megamenu" role="menu" aria-labelledby="menu-tech">
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="sub-title text-uppercase font-weight-bold"></h6>
                                            <li><a class="dropdown-item fs-6" routerLink="/coc100" routerLinkActive="active"> 延伸領域潛水課程 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/ccr100" routerLinkActive="active"> 全密閉循環潛水課程 </a></li>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                </ul>
                            </li>

                            <li class="nav-item dropdown has-megamenu">
                                <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" id="menu-signup" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    課程報名專區
                                </a>
                                <ul class="dropdown-menu megamenu" role="menu" aria-labelledby="menu-signup">
                                    <div class="row">
                                        <div class="col">
                                            <!-- <h6 class="sub-title text-uppercase font-weight-bold">台灣潛點</h6> -->
                                            <li><a class="dropdown-item fs-6" routerLink="/cz01" routerLinkActive="active" (click)="onNavSignupClick()"> 線上報名 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/bz01" routerLinkActive="active"> 課程年度計畫 </a></li>
                                            <!-- <li><a class="dropdown-item fs-6" routerLink="/cp01" routerLinkActive="active"> 課程價格表 </a></li> -->
                                            <li><a class="dropdown-item fs-6" routerLink="/qac001" routerLinkActive="active"> 課程Q&A </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/c610" routerLinkActive="active"> 獎勵認證 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/health001" routerLinkActive="active"> 健康聲明 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/dz05" routerLinkActive="active"> 自評表 </a></li>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                </ul>
                            </li>

                            <li class="nav-item dropdown has-megamenu">
                                <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" id="menu-play" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    玩潛水
                                </a>
                                <ul class="dropdown-menu megamenu" role="menu" aria-labelledby="menu-play">
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="sub-title text-uppercase font-weight-bold">台灣潛點</h6>
                                            <li><a class="dropdown-item fs-6" routerLink="/d120" routerLinkActive="active"> 墾丁 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/d130a" routerLinkActive="active"> 小琉球 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/d140" routerLinkActive="active"> 綠島 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/d150" routerLinkActive="active"> 蘭嶼 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/d160" routerLinkActive="active"> 澎湖 </a></li>
                                        </div>
                                        <div class="col">
                                            <h6 class="sub-title text-uppercase font-weight-bold">國外潛點</h6>
                                            <li><a class="dropdown-item fs-6" routerLink="/d230" routerLinkActive="active"> 杜馬蓋地 </a></li>
                                            <!-- <li><a class="dropdown-item fs-6" href="#"> 圖巴塔哈 </a></li> -->
                                            <li><a class="dropdown-item fs-6" routerLink="/d310" routerLinkActive="active"> 峇里島 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/d420" routerLinkActive="active"> 馬爾地夫 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/d410" routerLinkActive="active"> 帛琉 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/d340" routerLinkActive="active"> 西巴丹 </a></li>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="sub-title text-uppercase font-weight-bold">報名相關</h6>
                                            <li><a class="dropdown-item fs-6" routerLink="/dz04" routerLinkActive="active"> 自由潛水活動報名 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/dz02" routerLinkActive="active"> 東北角水肺活動報名表 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/dz03" routerLinkActive="active"> 國內外水肺活動報名表 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/dz01" routerLinkActive="active"> 旅遊年度計畫 </a></li>
                                        </div>
                                        <div class="col">
                                            <h6 class="sub-title text-uppercase font-weight-bold">活動相關</h6>
                                            <li><a class="dropdown-item fs-6" routerLink="/b400" routerLinkActive="active"> 俱樂部 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/b240" routerLinkActive="active"> 活動照片 </a></li>
                                            <!-- <li><a class="dropdown-item fs-6" routerLink="/qaa001" routerLinkActive="active"> 活動Q&A </a></li> -->
                                        </div>
                                    </div>
                                </ul>
                            </li>

                            <li class="nav-item dropdown has-megamenu">
                                <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" id="menu-love" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    愛潛水
                                </a>
                                <ul class="dropdown-menu megamenu" role="menu" aria-labelledby="menu-love">
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="sub-title text-uppercase font-weight-bold">裝備</h6>
                                            <li><a class="dropdown-item fs-6" routerLink="/b310" routerLinkActive="active"> 輕裝 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/b320" routerLinkActive="active"> 重裝 </a></li>
                                            <!-- <li><a class="dropdown-item fs-6" routerLink="/b330" routerLinkActive="active"> 套裝 </a></li> -->
                                            <!-- <li><a class="dropdown-item fs-6" href="https://reurl.cc/1Yovx8"> 線上商品型錄 </a></li> -->
                                        </div>
                                        <div class="col">
                                            <h6 class="sub-title text-uppercase font-weight-bold">環保&企業合作</h6>
                                            <li><a class="dropdown-item fs-6" routerLink="/b411" routerLinkActive="active"> 環保里程碑 </a></li>
                                        </div>
                                        <div class="col">
                                            <h6 class="sub-title text-uppercase font-weight-bold" style="white-space:nowrap">關於iDiving</h6>
                                            <li><a class="dropdown-item fs-6" routerLink="/m100" routerLinkActive="active"> 最新消息 </a></li>
                                            <!--<li><a class="dropdown-item fs-6" routerLink="/b210" routerLinkActive="active"> 介紹 </a></li>-->
                                            <li><a class="dropdown-item fs-6" routerLink="/b211" routerLinkActive="active"> 前港店介紹 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/b212" routerLinkActive="active"> 龍洞店介紹 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/b230" routerLinkActive="active"> 教練團 </a></li>
                                            <li><a class="dropdown-item fs-6" routerLink="/about001" routerLinkActive="active"> 關於我們 </a></li>
                                        </div>
                                    </div>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

</div>