<div class="container-fluid">

    <app-head></app-head>

    <div class="row">
        <table>
            <tr>
                <td style="height: 12vh;">
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col w-100">
            <br>
            <div class="container-fluid">
                <nav class="breadcrumb bg-white">
                    <a class="breadcrumb-item" href="#">首頁</a>
                    <a class="breadcrumb-item">玩潛水</a>
                    <a class="breadcrumb-item">墾丁</a>
                </nav>
            </div>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-xl">
        </div>
        <div class="col-xl-10">
            <!-- 景點介紹 -->
            <div class="DMClass">
                <br>
                <h3 style="text-align: center;">景點介紹</h3>
                <br>
                <hr>
                <p class="fs-2">
                    墾丁國家公園附近因有黑潮暖流流經， 且未有大溪流沈積物之排放， 水質清澈，溫度適宜。 除海洋生物資源豐富，珊瑚生長茂盛外，
                    並具有富於變化多端之海底地形， 形成絢爛瑰麗之海底景觀， 規模之大，堪稱台灣地區所僅見
                </p>
                <br>
                <br>
                <br>
                <br>
            </div>
            <br>
            <!-- 潛點介紹 -->
            <div class="DMClass">
                <br>
                <div class="row">
                    <div class="col-xl">
                    </div>
                    <div class="col-xl-10 DMClassMask1">
                        <br>
                        <h3 style="text-align: center;">潛點介紹</h3>
                        <hr>
                        <br>
                        <h3>獨立礁</h3>
                        <p class="fs-4">
                            獨立礁是墾丁熱門的船潛點，礁體為長形，前端隆起部位俗稱龍頭，此潛場最著名的明星就是28米的豆丁海馬，
                            除此之外礁體上的軟珊瑚及各式魚群也是廣角拍照的最佳取景點。
                        </p>
                        <br>
                        <br>
                        <h3>雙峰藍洞</h3>
                        <p class="fs-4">
                            墾丁最出名的峭壁潛水點之一，此處有兩個洞穴景觀可觀探訪，一個是由下往上鑽的小藍洞，另一個則是如海底隧道般狹小的洞穴，
                            藉由洞口的光線照射呈現淡藍色波紋而得名，峭壁頂端更是觀看魚群頂流覓食的最佳地點，也是廣角拍照的取景點。
                        </p>
                        <br>
                        <br>
                        <h3>大咾咕斜坡(北側花園)</h3>
                        <p class="fs-4">
                            大咾咕礁岩下方一帶全都是軟珊瑚，淺礁內的魚群數量十分可觀，有時順著水流做放流潛水是非常舒服的潛水方式，
                            2016年在這發現的蝠魟Mobula更是讓潛水客流連忘返，每個潛水客都希望在海中偶遇這名稀客，哪怕是5秒的短暫相遇也讓大家開心不已。
                        </p>
                        <br>
                        <br>
                        <h3>小咾咕斷層</h3>
                        <p class="fs-4">
                            因接近小咾咕礁岩，為一南北走向的斷層地形，因而得名。陡峭的峭壁上有著層層相疊的大型海扇、鞭角珊瑚，往南踢至29m處有一軟柳珊
                            瑚上棲息著小嬌客"豆丁海馬"。當大潮來時，東南方海流撞擊峭壁，海流會增強需注意。
                        </p>
                        <br>
                        <br>
                        <h3>出水口</h3>
                        <p class="fs-4">
                            墾丁岸潛的朝聖地，也是水上活動及浮潛的最佳去處，夏天的出水口潛水客與水上活動混雜不好行動，只要一潛入水中迎面而來的黃金尾梭
                            魚就是最佳的迎賓禮，不期而遇的海龜帶給大家快樂驚奇。幸運的潛水客還會遇到難得一見的隆頭鸚哥群，這也是出水口變成岸潛聖地的原因，
                            因為在這裡我們總能跟大物偶遇，特別是沒帶相機下水的時刻。
                        </p>
                        <br>
                        <br>
                    </div>
                    <div class="col-xl">
                    </div>
                </div>
                <br>
                <br>
            </div>
            <br>
            <!-- 行程1 -->
            <br>
            <div class="DMClass">
                <br>
                <div class="row">
                    <div class="col-xl">
                    </div>
                    <div class="col-xl-10 DMClassMask1">
                        <br>
                        <h2 style="text-align:center">KENTING</h2>
                        <br>
                        <p style="text-align:center">水肺團</p>
                        <br>
                        <p style="text-align:center">二日建議行程</p>
                        <br>
                        <p style="text-align:center">行程潛一日<br>下班後從台北出發，晚上在墾丁住宿</p>
                        <br>
                        <p style="text-align:center">第一天<br>睡到自然醒<br>午餐後開始潛水活動(船潛，2支)</p>
                        <br>
                        <p style="text-align:center">第二天<br>上午進行第三趟船潛(2支)<br>午餐後準備北返</p>
                        <br>
                        <p style="text-align:center">行程價格：</p>
                        <br>
                        <p style="text-align:center">包含：</p>
                        <br>
                        <p style="text-align:center">欲參加</p>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="col-xl">
                    </div>
                </div>
                <br>
                <br>
            </div>
            <br>
            <!-- 行程2 -->
            <br>
            <div class="DMClass">
                <br>
                <div class="row">
                    <div class="col-xl">
                    </div>
                    <div class="col-xl-10 DMClassMask1">
                        <br>
                        <h2 style="text-align:center">KENTING</h2>
                        <br>
                        <p style="text-align:center">水肺團</p>
                        <br>
                        <p style="text-align:center">二日建議行程</p>
                        <br>
                        <p style="text-align:center">行程潛一日<br>下班後從台北出發，晚上在墾丁住宿</p>
                        <br>
                        <p style="text-align:center">第一天<br>睡到自然醒<br>午餐後開始潛水活動(船潛，2支)</p>
                        <br>
                        <p style="text-align:center">第二天<br>上午進行第三趟船潛(2支)<br>午餐後準備北返</p>
                        <br>
                        <p style="text-align:center">行程價格：</p>
                        <br>
                        <p style="text-align:center">包含：</p>
                        <br>
                        <p style="text-align:center">欲參加</p>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="col-xl">
                    </div>
                </div>
                <br>
                <br>
            </div>
            <br>
            <!-- 報名方式 -->
            <div>
                <br>
                <div class="col-xl">
                </div>
                <div class="col-xl-10">
                    <app-paymentmethod></app-paymentmethod>
                </div>
                <div class="col-xl">
                </div>
                <br>
            </div>
            <!-- 注意事項 -->
            <div class="DMClass2">
                <br>
                <div class="row">
                    <div class="col-xl">
                    </div>
                    <div class="col-xl-10 myclass2l1">
                        <br>
                        <h3 style="text-align:center">注意事項</h3>
                        <hr>
                        <ol class="fs-4">
                            <li>
                                請將您的匯款日期及帳號末五碼與金額傳至iDiving官方Line @帳號，以便確認。若以現金繳交全額費用，享有現金優惠！
                            </li>
                            <li>
                                國內潛水旅遊活動會有成團人數要求，含領隊需達10人才會出團；若因報名人數不足而無法出團，最遲將於出團日14天以前通知已報名活動之團員，『定金』可全數退還。
                            </li>
                            <li>
                                出團日30天以前會於Line的活動群組提供行程資料，若有任何需求請提出討論。
                            </li>
                            <li>
                                當人數達到出團門檻，所有團員亦繳清費用時，則保證出團，若有人員臨時取消造成出團人數不足亦不受影響，而臨時退團人員的退費規則如下：
                                <ul>
                                    <li>
                                        活動開始前第十五日以上取消者，須賠償團費的百分之十。
                                    </li>
                                    <li>
                                        活動開始前第五日至第十四日取消者，須賠償團費的百分之三十。
                                    </li>
                                    <li>
                                        活動開始前第二日至第四日取消者，須賠償團費的百分之五十。
                                    </li>
                                    <li>
                                        於活動當日或前一日取消，或未通知不參加者，須賠償團費全額。
                                    </li>
                                </ul>
                            </li>
                            <li>
                                若有溢繳或可退款的費用，可選擇來店退款或刷退（須視當時繳費方式），若要匯款轉帳退費須扣除手續費（每筆NT 30元），亦可選擇保留餘額轉至其他消費。
                            </li>
                            <li>
                                國內潛水旅遊皆為完整套裝行程，如有個人因素更動行程內容，恕不提供會員優惠。
                            </li>
                            <li>
                                住宿房間之房等差異（套房、雅房、通鋪等），如現場遇特殊情況，將由領隊視情況協調分配。若有特殊需求請事先提出。
                            </li>
                            <li>
                                須持有合格的潛水證照（國際潛水證照初級以上資格），若要參加特殊環境潛水（如：夜潛），需具備相關資格；部分活動可能會有額外條件要求。
                            </li>
                            <li>
                                活動行程以Line活動群組公布的資訊為準。潛點選擇由潛導視當時天候、海況、團隊狀況決定。進行潛水活動時採潛伴制進行，請彼此相互照應。
                            </li>
                            <li>
                                禁帶漁獵器材，亦禁止攜帶任何生物上岸，違者不得再參加後續潛水活動。
                            </li>
                            <li>
                                填寫＂Google表單＂報名者，視同同意以上所有條款。
                            </li>
                        </ol>
                        <br>
                        <br>
                    </div>
                    <div class="col-xl">
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
        <div class="col-xl">
        </div>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <app-foot></app-foot>

</div>