<div class="container-fluid">

    <app-head></app-head>

    <div class="row">
        <table>
            <tr>
                <td style="height: 12vh;">
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <h2>2級自由潛水專長</h2>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col w-100">
            <!-- 課程介紹 -->
            <!-- 課程規劃 -->
            <!-- 開課日期 -->
            <!-- 超值學費 -->
            <!-- 方案 -->
            <!-- 報名方式 -->
            <app-paymentmethod></app-paymentmethod>
            <!-- 學前須知 -->

        </div>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <app-foot></app-foot>

</div>