<div class="container-fluid">

    <app-head></app-head>

    <div class="row">
        <table>
            <tr>
                <td style="height: 12vh;">
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col w-100">
            <br>
            <div class="container-fluid">
                <nav class="breadcrumb bg-white">
                    <a class="breadcrumb-item" href="#">首頁</a>
                    <a class="breadcrumb-item">玩潛水</a>
                    <a class="breadcrumb-item">綠島</a>
                </nav>
            </div>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-xl">
        </div>
        <div class="col-xl-10">
            <!-- 景點介紹 -->
            <div class="DMClass">
                <br>
                <h3 style="text-align: center;">景點介紹</h3>
                <br>
                <hr>
                <p class="fs-2">
                    綠島被國際潛水雜誌評為世界百大潛點，不僅擁有遼闊清澈的大海，海底更蘊藏豐富的珊瑚、魚群，以及世界級的海底溫泉，更有各自的獨特海底樣貌，不管是浮潛、
                    水肺潛水或是自由潛水都深受各地潛客歡迎！ 此外，綠島是得天獨厚的美麗島嶼。海岸沿線由礁盤海岸形成，海水湛藍清澈，又因強勁的黑潮暖流經過，
                    水底溫度長年保持在25-30℃，因此迴游性魚類特別豐富。風浪小的時候，海裡的能見度可達30米，非常適合潛水，吸引許多國內外潛水客前來朝聖。
                </p>
                <br>
                <br>
                <br>
                <br>
            </div>
            <br>
            <!-- 潛點介紹 -->
            <div class="DMClass">
                <br>
                <div class="row">
                    <div class="col-xl">
                    </div>
                    <div class="col-xl-10 DMClassMask1">
                        <br>
                        <h3 style="text-align: center;">潛點介紹</h3>
                        <hr>
                        <br>
                        <h3>大峽谷</h3>
                        <p class="fs-4">
                            綠島頗負盛名的高級船潛點，大峽谷座落於綠島公館鼻外，因礁岩大裂縫神似壯闊大峽谷而得此名。
                            此潛點流強須由熟悉潛點的船家挑選洋流較弱時間下水較安全，特別是進入峽谷時的強流需特別注意，
                            流大時千萬不可貿然進入應採較安全的方式繞行外礁盤，峽谷內側及峽谷外側皆是廣角攝影的好地點。
                        </p>
                        <br>
                        <br>
                        <h3>鋼鐵礁</h3>
                        <p class="fs-4">
                            綠島初級船潛點，鋼鐵礁由鋼鐵架與廢棄輪胎構成四座大型人工魚礁，許多魚群皆在魚礁附近活動，
                            早期有多達七十多隻燕魚群進駐，因為人為盜獵只剩三～五隻燕魚，台灣的漁業觀光資源需要大家共同維護。
                        </p>
                        <br>
                        <br>
                        <h3>雞仔礁</h3>
                        <p class="fs-4">
                            此潛點為高級船潛點，下水點有一突出岩石狀似雞頭而得名，礁盤上佈滿軟硬珊瑚，沿著礁岩往北前進會經過另一地標鱷魚嘴，
                            雞仔礁潛點有許多奇岩怪石供水攝者發揮想像力拍出獨樹一格的廣角照。
                        </p>
                        <br>
                        <br>
                        <h3>教堂</h3>
                        <p class="fs-4">
                            位於綠島西南的岸潛點，由馬蹄橋下入水，此區淺水海域多為硬珊瑚，並有海蝕礁柱 洞穴以及拱門（教堂）地形，
                            教堂內光線變化十分適合廣角拍攝，此外海浪拍打岸邊的聲音迴盪在洞穴內也非常震撼。
                        </p>
                        <br>
                        <br>
                        <h3>大香菇</h3>
                        <p class="fs-4">
                            大香菇位於石朗外海，他是世界上最大的活體團塊微孔珊瑚，置底約18公尺，大香菇頂部巨海面約8公尺以每年長高一公分來算以
                            每年長高一公分來算，已有一千年歷史。2016年的莫蘭蒂颱風造成大香菇傾倒約四十五度，雖然大香菇珊瑚仍然可以存活只是整體形狀會改變。
                        </p>
                        <br>
                        <br>
                    </div>
                    <div class="col-xl">
                    </div>
                </div>
                <br>
                <br>
            </div>
            <br>
            <!-- 行程1 -->
            <br>
            <div class="DMClass">
                <br>
                <div class="row">
                    <div class="col-xl">
                    </div>
                    <div class="col-xl-10 DMClassMask1">
                        <br>
                        <h2 style="text-align:center">KENTING</h2>
                        <br>
                        <p style="text-align:center">水肺團</p>
                        <br>
                        <p style="text-align:center">二日建議行程</p>
                        <br>
                        <p style="text-align:center">行程潛一日<br>下班後從台北出發，晚上在墾丁住宿</p>
                        <br>
                        <p style="text-align:center">第一天<br>睡到自然醒<br>午餐後開始潛水活動(船潛，2支)</p>
                        <br>
                        <p style="text-align:center">第二天<br>上午進行第三趟船潛(2支)<br>午餐後準備北返</p>
                        <br>
                        <p style="text-align:center">行程價格：</p>
                        <br>
                        <p style="text-align:center">包含：</p>
                        <br>
                        <p style="text-align:center">欲參加</p>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="col-xl">
                    </div>
                </div>
                <br>
                <br>
            </div>
            <br>
            <!-- 行程2 -->
            <br>
            <div class="DMClass">
                <br>
                <div class="row">
                    <div class="col-xl">
                    </div>
                    <div class="col-xl-10 DMClassMask1">
                        <br>
                        <h2 style="text-align:center">KENTING</h2>
                        <br>
                        <p style="text-align:center">水肺團</p>
                        <br>
                        <p style="text-align:center">二日建議行程</p>
                        <br>
                        <p style="text-align:center">行程潛一日<br>下班後從台北出發，晚上在墾丁住宿</p>
                        <br>
                        <p style="text-align:center">第一天<br>睡到自然醒<br>午餐後開始潛水活動(船潛，2支)</p>
                        <br>
                        <p style="text-align:center">第二天<br>上午進行第三趟船潛(2支)<br>午餐後準備北返</p>
                        <br>
                        <p style="text-align:center">行程價格：</p>
                        <br>
                        <p style="text-align:center">包含：</p>
                        <br>
                        <p style="text-align:center">欲參加</p>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="col-xl">
                    </div>
                </div>
                <br>
                <br>
            </div>
            <br>
            <!-- 報名方式 -->
            <div>
                <br>
                <div class="col-xl">
                </div>
                <div class="col-xl-10">
                    <app-paymentmethod></app-paymentmethod>
                </div>
                <div class="col-xl">
                </div>
                <br>
            </div>
            <!-- 注意事項 -->
            <div class="DMClass2">
                <br>
                <div class="row">
                    <div class="col-xl">
                    </div>
                    <div class="col-xl-10 myclass2l1">
                        <br>
                        <h3 style="text-align:center">注意事項</h3>
                        <hr>
                        <ol class="fs-4">
                            <li>
                                請將您的匯款日期及帳號末五碼與金額傳至iDiving官方Line @帳號，以便確認。若以現金繳交全額費用，享有現金優惠！
                            </li>
                            <li>
                                國內潛水旅遊活動會有成團人數要求，含領隊需達10人才會出團；若因報名人數不足而無法出團，最遲將於出團日14天以前通知已報名活動之團員，『定金』可全數退還。
                            </li>
                            <li>
                                出團日30天以前會於Line的活動群組提供行程資料，若有任何需求請提出討論。
                            </li>
                            <li>
                                當人數達到出團門檻，所有團員亦繳清費用時，則保證出團，若有人員臨時取消造成出團人數不足亦不受影響，而臨時退團人員的退費規則如下：
                                <ul>
                                    <li>
                                        活動開始前第十五日以上取消者，須賠償團費的百分之十。
                                    </li>
                                    <li>
                                        活動開始前第五日至第十四日取消者，須賠償團費的百分之三十。
                                    </li>
                                    <li>
                                        活動開始前第二日至第四日取消者，須賠償團費的百分之五十。
                                    </li>
                                    <li>
                                        於活動當日或前一日取消，或未通知不參加者，須賠償團費全額。
                                    </li>
                                </ul>
                            </li>
                            <li>
                                若有溢繳或可退款的費用，可選擇來店退款或刷退（須視當時繳費方式），若要匯款轉帳退費須扣除手續費（每筆NT 30元），亦可選擇保留餘額轉至其他消費。
                            </li>
                            <li>
                                國內潛水旅遊皆為完整套裝行程，如有個人因素更動行程內容，恕不提供會員優惠。
                            </li>
                            <li>
                                住宿房間之房等差異（套房、雅房、通鋪等），如現場遇特殊情況，將由領隊視情況協調分配。若有特殊需求請事先提出。
                            </li>
                            <li>
                                須持有合格的潛水證照（國際潛水證照初級以上資格），若要參加特殊環境潛水（如：夜潛），需具備相關資格；部分活動可能會有額外條件要求。
                            </li>
                            <li>
                                活動行程以Line活動群組公布的資訊為準。潛點選擇由潛導視當時天候、海況、團隊狀況決定。進行潛水活動時採潛伴制進行，請彼此相互照應。
                            </li>
                            <li>
                                禁帶漁獵器材，亦禁止攜帶任何生物上岸，違者不得再參加後續潛水活動。
                            </li>
                            <li>
                                填寫＂Google表單＂報名者，視同同意以上所有條款。
                            </li>
                        </ol>
                        <br>
                        <br>
                    </div>
                    <div class="col-xl">
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
        <div class="col-xl">
        </div>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <app-foot></app-foot>

</div>