<div>
    <br>
    <h3 style="font-family:DFKai-sb;">更改辦法</h3>
    <hr>
    <table borderless="true">
        <tbody>
            <tr>
                <td class="fs-6" style="vertical-align:text-top;">
                    <ul>
                        <li></li>
                    </ul>
                </td>
                <td class="fs-6">
                    <p>課程須於開始上課後的兩個月內完成。</p>
                </td>
            </tr>
            <tr>
                <td class="fs-6" style="vertical-align:text-top;">
                    <ul>
                        <li></li>
                    </ul>
                </td>
                <td class="fs-6">
                    <p>上課日期之更改須在 10 天前告知</p>
                </td>
            </tr>
            <tr>
                <td class="fs-6" style="vertical-align:text-top;">
                    <ul>
                        <li></li>
                    </ul>
                </td>
                <td class="fs-6">
                    <p>上課日期 10 天內調整，每次需收取調整費 500 元</p>
                </td>
            </tr>
            <tr>
                <td class="fs-6" style="vertical-align:text-top;">
                    <ul>
                        <li></li>
                    </ul>
                </td>
                <td class="fs-6">
                    <p>上課當天通知要更改日期或曠課未通知則需收取調整費 1,000 元</p>
                </td>
            </tr>
            <tr>
                <td class="fs-6" style="vertical-align:text-top;">
                    <ul>
                        <li></li>
                    </ul>
                </td>
                <td class="fs-6">
                    <p>因身體不適，出示醫院掛號單據者則不收取。</p>
                </td>
            </tr>
            <tr>
                <td class="fs-6" style="vertical-align:text-top;">
                    <ul>
                        <li></li>
                    </ul>
                </td>
                <td class="fs-6">
                    <p>女性夥伴參加課程前請自行評估生理期影響。</p>
                </td>
            </tr>
            <tr>
                <td class="fs-6" style="vertical-align:text-top;">
                    <ul>
                        <li></li>
                    </ul>
                </td>
                <td class="fs-6">
                    <p>假日班學生可改於平日班完成術科，無額外優惠，亦不須額外付費。</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>