<div class="container-fluid">

    <app-head></app-head>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col">
            <div class="scrollspy-example z-depth-1 text-center p-0" data-spy="scroll" data-target="#mdb-scrollspy-ex"
                data-offset="0">
                <section id="section1">
                    <!-- <img alt="image" src="https://mdbootstrap.com/img/Photos/Others/food3.jpg" />
                        <img class="place_img" alt="image" src="../../../assets/Image/EC/History-top-banner.png" /> -->

                    <section id="subsection1A" class=" m-4 red lighten-4" style="overflow: hidden;">
                        <!-- Add the timeline -->
                        <vertical-timeline>

                            <!-- Add some cards to the timeline. It works with *ngFor too -->

                            <!-- If no value is passed for the date, the current time is used. -->
                            <vertical-timeline-card [dateValue]="2012">
                                <h2>正式開幕前港街</h2>
                            </vertical-timeline-card>

                            <!-- tomorrow = new Date(2017, 9, 20, 14,34); -->
                            <!-- <vertical-timeline-card [dateValue]="'myDate'" [timeString]="'15:18'"> -->
                            <vertical-timeline-card [dateValue]="2013">
                                <h2>5月第一次辦淨灘</h2>
                            </vertical-timeline-card>

                            <vertical-timeline-card [dateValue]="2014">
                                <h2>5月第一次辦淨灘</h2>
                            </vertical-timeline-card>

                            <vertical-timeline-card [dateValue]="2015">
                                <h2>5月第一次辦淨灘</h2>
                            </vertical-timeline-card>

                            <vertical-timeline-card [dateValue]="2016">
                                <h2>5月第一次辦淨灘</h2>
                            </vertical-timeline-card>

                            <vertical-timeline-card [dateValue]="2017">
                                <h2>5月第一次辦淨灘</h2>
                            </vertical-timeline-card>

                            <vertical-timeline-card [dateValue]="2018">
                                <h2>5月第一次辦淨灘</h2>
                            </vertical-timeline-card>

                            <vertical-timeline-card [dateValue]="2019">
                                <h2>5月第一次辦淨灘</h2>
                            </vertical-timeline-card>

                            <vertical-timeline-card [dateValue]="2020">
                                <h2>5月第一次辦淨灘</h2>
                            </vertical-timeline-card>
                        </vertical-timeline>
                        <div class="History-bottom" style="position: relative; overflow: hidden;">
                            <img src="../../../assets/Image/EC/timeline-01.png" style="opacity: 1; position: absolute; bottom: -884px; left: -62px; right:0;" />
                            <img src="../../../assets/Image/EC/timeline-02.png" style="opacity: 1; position: absolute; bottom: -861.5px; left: -280px;" />
                            <img src="../../../assets/Image/EC/timeline-03.png" style="opacity: 1; position: absolute; bottom: -720px; left: -60px;" />
                            <img src="../../../assets/Image/EC/timeline-04.png" style="opacity: 1; position: absolute; bottom: -824.05px; left: -221px;" />
                            <img src="../../../assets/Image/EC/timeline-05.png"  style="opacity: 1; position: absolute; bottom: -2378.3px; left: 0px;" />
                            <!-- <img class="place_img"/> -->
                            <!-- <td style="position:relative;">
                                <img style="position:absolute; z-index:1;" width="150" height="200" src="../../../assets/Image/EC/timeline-01.png" />
                                <img style="position:absolute; z-index:2" width="95" height="125" src="../../../assets/Image/EC/timeline-02.png" />
                                </td> -->
                            <!-- <img class="place_img" src="../../../assets/Image/EC/timeline-02.png" /> -->
                        </div>
                    </section>

                </section>
            </div>
        </div>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <app-foot></app-foot>