<div class="container-fluid">

    <app-head></app-head>

    <div class="row">
        <table>
            <tr>
                <td style="height: 12vh;">
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <!-- <img src="../../../../assets/Image/Data/OWD_Marketing_Area_01.png" width="99%" style="display:block; margin:auto;"
      alt="潛水 潛水證照 水肺證照 水肺潛水課程 台北學潛水 潛水課程 東北角 龍洞灣 台北水肺潛水課程 水肺潛水" /> -->

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col w-100">
            <br>
            <div class="container-fluid">
                <nav class="breadcrumb bg-white">
                    <a class="breadcrumb-item" href="#">首頁</a>
                    <a class="breadcrumb-item">愛潛水</a>
                    <a class="breadcrumb-item">教練團</a>
                </nav>
            </div>
            <br>
        </div>
    </div>

    <!-- https://mdbootstrap.com/docs/angular/content/images/ -->
    <!-- photoalbum -->
    <div class="row justify-content-around">
        <div class="card mb-2" style="max-width: 500px;">
            <div class="row">
                <div class="col-md-5">
                    <img src="../../../assets/Image/Coach/237.jpg" class="card-img-top" alt="...">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">麗瑜</h5>
                        <p class="card-text">SSI 自由潛水 LV1 教練</p>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-2" style="max-width: 500px;">
            <div class="row">
                <div class="col-md-5">
                    <img src="../../../assets/Image/Coach/233.jpg" class="card-img-top" alt="...">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">Kayla</h5>
                        <p class="card-text">SSI 開放水域潛水員教練</p>
                        <p class="card-text">SSI 自由潛水 LV1 教練</p>
                        <p class="card-text">SSI 美人魚教練</p>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-2" style="max-width: 500px;">
            <div class="row">
                <div class="col-md-5">
                    <img src="../../../assets/Image/Coach/236.jpg" class="card-img-top" alt="...">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">薛</h5>
                        <p class="card-text">SSI 自由潛水 LV1 教練</p>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-2" style="max-width: 500px;">
            <div class="row">
                <div class="col-md-5">
                    <img src="../../../assets/Image/Coach/237.jpg" class="card-img-top" alt="...">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">麗瑜</h5>
                        <p class="card-text">SSI 自由潛水 LV1 教練</p>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <app-foot></app-foot>

</div>