.example-container {
    height: 700px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.example-sidenav {
    user-select: none;
}
.full-width {
    width: 100%;
}
.menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(270deg);
}
.menu-button.rotated {
    transform: rotate(360deg);
}
.submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 20px;
}
.submenu.expanded {
    transform: scaleY(1);
}

.mdc-list-item.mdc-list-item--with-one-line {
    height: 55px;
}

.mat-icon {
    height: 20px;
}
