<div>

    <div class="row">
        <div class="col-xl">
        </div>
        <div class="col-xl-10">
            <h2 class="hwarsayblock">最新消息</h2>
            <br>
            <div>
                <div>
                    <a class="d-inline p-2 bg-primary text-white" style="border-radius:10px;padding-bottom: .5em;">訊息</a>
                    <a class="fs-6">&nbsp;&nbsp;  2022.02.24</a>
                </div>
                <br>
                <p class="fs-6 newsblock">海洋博物誌 新書分享會，於2/26(六)15:00開始</p>
            </div>
        
            <div>
                <div>
                    <a class="d-inline p-2 bg-danger text-white" style="border-radius:10px;">優惠</a>
                    <a class="fs-6">&nbsp;&nbsp;  2022.02.18</a>
                </div>
                <br>
                <p class="fs-6 newsblock">2022 OWD FD 課程夏季班早鳥優惠</p>
            </div>
        </div>
        <div class="col-xl">
        </div>
    </div>

</div>