
<h4 style="font-weight:bold;">教練團</h4>
<!-- Section: Testimonials v.4 -->
<section class="container text-center my-5 mt-5">
  <!-- Grid row -->
  <div class="row">
    <!--Carousel Wrapper-->
    <mdb-carousel [interval]="'0'" [isControls]="true" class="carousel-multi-item multi-animation testimonial-carousel" [type]="'carousel-multi-item'" [animation]="'slide'">

      <!--First slide-->
      <mdb-slide>

        <!--Grid column-->
        <div class="col-md-4">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="../../../../assets/Image/Coach/237.jpg" class="img-thumbnail z-depth-1">
              <!--<div class="mask flex-center rgba-black-strong">
                <p class="white-text">strong overlay</p>
              </div>-->
            </div>
            <!--Content-->
            <h4 class="font-weight-bold mt-4">SSI 自由潛水 LV1 教練</h4>
            <!-- <h6 class="blue-text font-weight-bold my-3">SSI 自由潛水 LV1 教練</h6>
            <p class="font-weight-normal">
              <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.
            </p> -->
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="../../../../assets/Image/Coach/233.jpg" class="img-fluid z-depth-1">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold mt-4">SSI 美人魚教練</h4>
            <!-- <h6 class="blue-text font-weight-bold my-3">SSI 美人魚教練</h6>
            <p class="font-weight-normal">
              <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>
              Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis laboriosam.
            </p> -->
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="../../../../assets/Image/Coach/236.jpg" class="img-fluid z-depth-1">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold mt-4">SSI 自由潛水 LV1 教練</h4>
            <!-- <h6 class="blue-text font-weight-bold my-3">SSI 自由潛水 LV1 教練</h6>
            <p class="font-weight-normal">
              <mdb-icon fas icon="quote-left" class="fas fa-quote-left pr-2"></mdb-icon>
              Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae.
            </p> -->
          </div>
        </div>
        <!--Grid column-->
      </mdb-slide>
      <!--/First slide-->

      <!--Second slide-->
      <mdb-slide>
        <div class="col-md-4">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="../../../../assets/Image/Coach/222.jpg" class="img-fluid z-depth-1">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold mt-4">SSI 助理教練</h4>
            <!-- <h6 class="blue-text font-weight-bold my-3">SSI 助理教練</h6>
            <p class="font-weight-normal">
              <mdb-icon fas icon="quote-elft" class="pr-2"></mdb-icon>
              Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis laboriosam.
            </p> -->
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="../../../../assets/Image/Coach/235.jpg" class="img-fluid z-depth-1">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold mt-4">SSI 自由潛水 LV1 教練</h4>
            <!-- <h6 class="blue-text font-weight-bold my-3">SSI 自由潛水 LV1 教練</h6>
            <p class="font-weight-normal">
              <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae.
            </p> -->
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="../../../../assets/Image/Coach/229.jpg" class="img-fluid z-depth-1">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold mt-4">SSI 自由潛水 LV1 教練</h4>
            <!-- <h6 class="blue-text font-weight-bold my-3">SSI 自由潛水 LV1 教練</h6>
            <p class="font-weight-normal">
              <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
            </p> -->
          </div>
        </div>
        <!--Grid column-->
      </mdb-slide>
      <!--/Second slide-->

      <!--Third slide-->
      <mdb-slide>
        <!--Grid column-->
        <div class="col-md-4">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="../../../../assets/Image/Coach/234.jpg" class="img-fluid z-depth-1">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold mt-4">SSI 自由潛水 LV1 教練</h4>
            <!-- <h6 class="blue-text font-weight-bold my-3">SSI 自由潛水 LV1 教練</h6>
            <p class="font-weight-normal">
              <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae.
            </p> -->
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="../../../../assets/Image/Coach/217.jpg" class="img-fluid z-depth-1">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold mt-4">SSI 助理教練訓練官</h4>
            <!-- <h6 class="blue-text font-weight-bold my-3">SSI 助理教練訓練官</h6>
            <p class="font-weight-normal">
              <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
            </p> -->
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="../../../../assets/Image/Coach/200.jpg" class="img-fluid z-depth-1">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold mt-4">SSI 進階潛水員教練</h4>
            <!-- <h6 class="blue-text font-weight-bold my-3">SSI 進階潛水員教練</h6>
            <p class="font-weight-normal">
              <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>
              Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis laboriosam.
            </p> -->
          </div>
        </div>
        <!--Grid column-->

      </mdb-slide>
      <!--/Third slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
  </div>
  <!-- Grid row -->
</section>
<!-- Section: Testimonials v.4 -->
