<div>
    <ol class="fs-6">
        <li>填寫＂Google 表單＂報名，並繳交團費<span class="Large Important"> NT$2,000
                的『定金』</span>才算完成報名流程，若以轉帳方式繳交定金，請將您的匯款日期及帳號末五碼與金額傳至iDiving官方Line
            @帳號，以便確認。若以現金（or匯款）繳交全額費用，享有現金優惠！</li>
        <li>國內潛水旅遊活動會有成團人數要求，含領隊需達10人才會出團；<span
                class="Large Important">若因報名人數不足而無法出團，最遲將於出團日14天以前通知已報名活動之團員，『定金』可全數退還。</span>
        </li>
        <li><span class="Large Important">出團日30天以前會於Line的活動群組提供行程資料，若有任何需求請提出討論。</span></li>
        <li>當人數達到出團門檻，所有團員亦繳清費用時，則保證出團，若有人員臨時取消造成出團人數不足亦不受影響，而臨時退團人員的退費規則如下：<br />
            <span class="Large Important">A. 活動開始前第十六日~三十日取消者，須支付團費定價的百分之十。</span><br />
            <span class="Large Important">B. 活動開始前第八日~第十五日取消者，須支付團費定價的百分之三十。</span><br />
            <span class="Large Important">C. 活動開始前第三日~第七日取消者，須支付團費定價的百分之五十。</span><br />
            <span class="Large Important">D. 活動開始前兩日內取消，須支付團費全額。</span><br />
            *若有溢繳或可退款的費用，可選擇來店退款或刷退（須視當時繳費方式），若要匯款轉帳退費須扣除手續費（每筆NT 30元），亦可選擇保留餘額轉至其他消費。
        </li>
        <li>若遇颱風、浪況不佳等不可抗拒之因素，基於安全考量，iDiving將保有取消活動之權利，已繳交的費用於扣除必要支出（如代訂大眾交通的退票手續費）後退還。</li>
        <li>國內潛水旅遊皆為完整套裝行程，如有個人因素更動行程內容，恕不提供會員優惠。</li>
        <li>住宿房間之房等差異（套房、雅房、通鋪等），如現場遇特殊情況，將由領隊視情況協調分配。若有特殊需求請事先提出。</li>
        <li>須持有合格的潛水證照（國際潛水證照初級以上資格），若要參加特殊環境潛水（如：夜潛），需具備相關資格；部分活動可能會有額外條件要求。</li>
        <li>活動行程以Line活動群組公布的資訊為準。潛點選擇由潛導視當時天候、海況、團隊狀況決定。進行潛水活動時採潛伴制進行，請彼此相互照應。</li>
        <li>禁帶漁獵器材，亦禁止攜帶任何生物上岸，違者不得再參加後續潛水活動。</li>
        <li>填寫＂Google表單＂報名者，視同同意以上所有條款。</li>
    </ol>
</div>