<div class="container-fluid">

    <app-head></app-head>

    <div class="row">
        <table>
            <tr>
                <td style="height: 12vh;">
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col">
            <br>
            <div class="container-fluid">
                <nav class="breadcrumb bg-white">
                    <a class="breadcrumb-item" href="#">首頁</a>
                    <a class="breadcrumb-item">學潛水</a>
                    <a class="breadcrumb-item">延伸領域潛水課程</a>
                </nav>
            </div>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-xl">
        </div>
        <div class="col-xl-8">
            
            <br>
            <h3 style="font-family:DFKai-sb;">延伸領域高氧 Recreational Sidemount Diving(XRN)</h3>
            <hr>
            <!-- 課程內容 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">開課內容</h3>
                <ul>
                    <li class="fs-6">
                        學科（6hr）<br>
                        減壓理論、深水處的潛水生理學、延伸領域器材、減壓潛水計畫、備用計畫
                    </li>
                    <li class="fs-6">
                        平靜水域（3hr）<br>
                        單瓶與雙瓶操作，裝備組裝與調整，安全檢查，踢動練習，應變狀況處理，團隊合作
                    </li>
                    <li class="fs-6">
                        海洋訓練（3次）<br>
                        階段氣瓶卸除，耗氣量檢測與計算，交換使用減壓氣體，無意識潛水員救援，執行減壓
                    </li>
                </ul>
                <br>
                <img src="../../../../assets/Image/Data/SC_XRN_01.png" width="60%" style="display:block; margin:auto;">
            </div>
            <!-- 課程特色 -->
            <div>
                <h3 style="font-family:DFKai-sb;"><br>課程特色</h3>
                <ul class="fs-6">
                    <li>
                        教你使用兩種不同的氣體下水。
                    </li>
                    <li>
                        使用雙瓶氣瓶到達深水處，使用階段氣瓶執行快速減壓。
                    </li>
                    <li>
                        數位教材伴您一生，不必擔心知識忘記。
                    </li>
                    <li>
                        學員上課期間，購買潛水器材享有學員優惠價。
                    </li>
                </ul>
                <br>
                <img src="../../../../assets/Image/Data/SC_XRN_02.png" width="100%" style="display:block; margin:auto;">
            </div>
            <!-- 課程規劃 -->
            <div>
                <h3 style="font-family:DFKai-sb;"><br>課程規劃</h3>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td width="10%">
                            </td>
                            <td>
                                <a class="fs-6">
                                    DAY 1 | 學科 19:00~22:00<br>
                                    <hr>
                                    深水處的潛水生理學、減壓理論
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <a class="fs-6">
                                    <br>DAY 2 | 開放水域 09:00~17:30<br>
                                    <hr>
                                    延伸領域器材、減壓潛水計畫、備用計畫
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <a class="fs-6">
                                    <br>DAY 3 | 平靜水域 08:00~17:00<br>
                                    <hr>
                                    單瓶與雙瓶操作、裝備組裝與調整、安全檢查、踢動練習、應變狀況處理、團隊合作
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <a class="fs-6">
                                    <br>DAY 4 | 開放水域 08:00~17:00<br>
                                    <hr>
                                    階段氣瓶卸除、耗氣量檢測與計算、交換使用減壓氣體、無意識潛水員救援、執行減壓
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <img class="d-block" src="../../../../assets/Image/Data/XRN_Schedule.png" width="100%"
                    style="display:block; margin:auto;">
            </div>
            <!-- 課程學費 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">課程學費</h3>
                <hr>
                <ul class="fs-6">
                    <li style="color: green;">定價 26,000 元。</li>
                    <li>現金優惠，送技潛記事本。</li>
                    <li>
                        多人同行優惠<br>
                        兩人同行，折扣1,000元<br>
                        三人同行，折扣1,500元<br>
                        四人同行，折扣2,000元
                    </li>
                    <li>證照優惠：iDiving的減壓潛水員贈送30M 滾輪與浮力袋或側掛綁帶組。</li>
                    <li style="color: red;">以上現金優惠、人數優惠、證照優惠可合併使用。</li>
                    <li>費用包含：SSI數位教材、國際數位證照申請、教練費、訓練期間潛水重裝使用（浮力調整裝置、調節器、電腦錶）、旅遊平安保險。</li>
                    <li>費用不含：浮潛裝備租借、海洋實習交通與用餐費用、技術潛水電腦錶、兩支船潛3000元。</li>
                </ul>
                <br>
            </div>
            <!-- 報名方式 -->
            <div>
                <br>
                <app-paymentmethod></app-paymentmethod>
                <br>
            </div>
            <!-- 報名須知 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">報名須知</h3>
                <hr>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td class="fs-6" colspan="2">
                                <p>
                                    基本條件需年滿18歲、已擁有50次的潛水紀錄，並具有深潛與高氧證照，健康狀況良好
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" colspan="2">
                                <a
                                    href="https://drive.google.com/file/d/13Lltu9vx3duMY8BWTbkFMDUY5FbmipIw/view?pli=1">健康聲明書在此請點擊</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 上課地點 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">上課地點</h3>
                <hr>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td class="fs-6" colspan="2">
                                <a>往返之交通請自行處理，若有需要可以詢問是否能代為安排</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" width="100px" style="vertical-align:text-top;">
                                <a>教室學科:</a>
                            </td>
                            <td class="fs-6">
                                <a>iDiving 士林前港店（台北市士林區前港街 8 號）</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <a>海洋實習:</a>
                            </td>
                            <td class="fs-6">
                                <a>iDiving 東北角龍洞店（新北市貢寮區龍洞街 66-1 號）</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="color:green;vertical-align:text-top;">
                                <a>註: </a>
                            </td>
                            <td class="fs-6" style="color:green;">
                                <a>
                                    上課地點與時間可能視狀況調整（如遇天候不佳或泳池場地整修等），若有額外增加的費用本中心將自行吸收，不會另外收費，但學員不可因課程時間調整而要求退費。
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 特約課程 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">特約課程</h3>
                <hr>
                <ul>
                    <li>學科部份，每另外約一日課程加價 300 元</li>
                    <li>術科部份，每另外約一日課程加價 500 元</li>
                    <li>三人同行，一起約定特殊時間上課，不須額外加價。</li>
                    <li>指定教練，須加價500元/日，如果該名教練已安排其他課程或出團恕無法指定。</li>
                </ul>
            </div>
            <!-- 課程更改 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">課程更改</h3>
                <hr>
                <ul>
                    <li>課程須於開始上課後的兩個月內完成。</li>
                    <li>上課日期之更改須在 10 天前告知。</li>
                    <li>上課日期 10 天內調整，每次需收取調整費 500 元。</li>
                    <li>上課當天通知要更改日期或曠課未通知則需收取調整費 1,000 元</li>
                    <li>因身體不適，出示醫院掛號單據者則不收取。</li>
                    <li>女性夥伴參加課程前請自行評估生理期影響。</li>
                </ul>
            </div>
            <!-- 課程取消 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">課程取消</h3>
                <hr>
                <ul>
                    <li>學員自行放棄課程，本訓練中心將不予退費。</li>
                    <li>若因身體因素不適合從事潛水活動，並開立醫生證明者，除了NT 3,000元購買數位教材的訂金，其餘將會退還。</li>
                </ul>
                <br>
            </div>

        </div>
        <div class="col-xl">
        </div>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <app-foot></app-foot>

</div>