<div class="container-fluid">
    <app-head></app-head>

    <div class="row">
        <table>
            <tr>
                <td style="height: 12vh"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="row">
        <table>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col w-100">
            <br>
            <div class="container-fluid">
                <nav class="breadcrumb bg-white">
                    <a class="breadcrumb-item" href="#">首頁</a>
                    <a class="breadcrumb-item">學潛水</a>
                    <a class="breadcrumb-item">海洋美人魚</a>
                </nav>
            </div>
            <br>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xl">
        </div>
        <div class="col-xl-10">

            <br />
            <img src="../../../assets/Image/Data/MM_01.png" width="99%" style="display: block; margin: auto"
                alt="潛水 潛水證照 水肺證照 水肺潛水課程 台北學潛水 潛水課程 東北角 龍洞灣 台北水肺潛水課程 水肺潛水" />
            <br />
            <h3>海洋美人魚</h3>
            <hr />
            <!-- 美人魚自由潛水 課程內容 -->
            <div>
                <table borderless="true">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <h3 style="font-family:DFKai-sb;">【美人魚 課程內容】</h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="1%" style="vertical-align:text-top;">
                                <ul>
                                    <li class="fs-5"></li>
                                </ul>
                            </td>
                            <td>
                                <a class="fs-5">
                                    學科（6hr）<br />
                                    人魚相關知識 / 安全事項 / 陸地擺動聯繫
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td width="2%" style="vertical-align:text-top;">
                                <ul>
                                    <li class="fs-5"></li>
                                </ul>
                            </td>
                            <td>
                                <a class="fs-5">
                                    泳池訓練（4-6hr）<br />
                                    人魚技巧應用 / 裝備使用 / 救援演練
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td width="2%" style="vertical-align:text-top;">
                                <ul>
                                    <li class="fs-5"></li>
                                </ul>
                            </td>
                            <td>
                                <a class="fs-5">
                                    海洋術科(4-6hr)限海洋美人魚<br />
                                    環境評估 / 海洋相關注意事項 / 救援演練
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <img src="../../../../assets/Image/Data/MM_02.png" width="99%" style="display: block; margin: auto"
                    alt="潛水 潛水證照 水肺證照 水肺潛水課程 台北學潛水 潛水課程 東北角 龍洞灣 台北水肺潛水課程 水肺潛水" />
            </div>
            <!-- 美人魚自由潛水 課程特色 -->
            <div>
                <table borderless="true">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <h3 style="font-family:DFKai-sb;"><br>【課程特色】</h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="1%" style="vertical-align:text-top;">
                                <ul>
                                    <li class="fs-5"></li>
                                </ul>
                            </td>
                            <td>
                                <a class="fs-5">
                                    補訓、團練搭配人魚教練進行
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li class="fs-5"></li>
                                </ul>
                            </td>
                            <td>
                                <a class="fs-5">
                                    術科練習，精實你的夏天
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li class="fs-5"></li>
                                </ul>
                            </td>
                            <td>
                                <a class="fs-5">
                                    高品質教學人數比 1:2，教練全程盯著你
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li class="fs-5"></li>
                                </ul>
                            </td>
                            <td>
                                <a class="fs-5">
                                    數位教材伴你一生，不用擔心知識忘記
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li class="fs-5"></li>
                                </ul>
                            </td>
                            <td>
                                <a class="fs-5">
                                    學員上課期間購買潛水器材享有學員優惠價
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li class="fs-5"></li>
                                </ul>
                            </td>
                            <td>
                                <a class="fs-5">
                                    水中攝影活動，搭配一位專門攝影師及人魚教練動作指導
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <img src="../../../../assets/Image/Data/MM_03.png" width="99%" style="display:block; margin:auto;"
                    alt="潛水 潛水證照 水肺證照 水肺潛水課程 台北學潛水 潛水課程 東北角 龍洞灣 台北水肺潛水課程 水肺潛水" />
            </div>
            <!-- 美人魚自由潛水 課程規劃 -->
            <div>
                <table borderless="true">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <h3 style="font-family:DFKai-sb;"><br>【課程規劃】</h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="2%">
                            </td>
                            <td>
                                <a class="fs-5">
                                    DAY 1 | 學科 4小時<br>
                                    <hr>
                                    人魚相關知識、裝備介紹<br>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <a class="fs-5">
                                    DAY 2 | 學科 4小時<br>
                                    <hr>
                                    安全事項、美人魚技巧及練習<br>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <a class="fs-5">
                                    <br>DAY 3 | 泳池術科 4-6小時<br>
                                    <hr>
                                    人魚技巧應用、裝備使用、救援演練等。<br>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <a class="fs-5">
                                    <br>DAY 4 | 海洋術科 4-6小時（限海洋美人魚）<br>
                                    <hr>
                                    海洋環境評估及相關注意事項、簡易擺拍教學等。<br>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a class="fs-5" style="color:red;">
                                    <br>註:實際下水時間依照現場情況調整
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <img src="../../../../assets/Image/Data/MM_05.png" width="99%" style="display:block; margin:auto;"
                    alt="潛水 潛水證照 水肺證照 水肺潛水課程 台北學潛水 潛水課程 東北角 龍洞灣 台北水肺潛水課程 水肺潛水" />
            </div>
            <!-- 美人魚自由潛水 課程學費 -->
            <!-- 方案  -->
            <div>
                <br>
                <br>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td>
                                <h4>2022年 美人魚 （採預約制）</h4>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5">
                                <a>美人魚：學科 4小時x2堂 泳池 4-6小時x 1天<br></a>
                                <a>海洋美人魚：學科 4小時x2天 泳池 4-6小時x 1天 海洋 4-6小時x1天<br></a>
                                <a>請加LINE客服預約上課日期<br></a>
                                <a>【海洋美人魚課程】即日起報名<br></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5">
                                <ul>
                                    <li>美人魚課程 12,000 元</li>
                                    <li>海洋美人魚課程 15,000 元</li>
                                    <li>現金優惠 300 元</li>
                                    <li>人數優惠：兩人一起報名更優惠，每人優惠2000</li>
                                    <li>iDiving 各級自潛員報名美人魚課程享1000元優惠!</li>
                                    <li>加碼《 裝備還是自己的最好》報名預約美人魚系列課程前六名 即贈送透明面鏡一副！</li>
                                    <li>
                                        上課前請備好個人照片，為申請潛水證照使用。迷路了嗎？<br>
                                        開放水域潛水員課程<a href="">連結</a><br>
                                        自由潛水員課程LV1<a href="">連結</a><br>
                                        各項水肺潛水員課程<a href="">連結</a><br>
                                        防疫報到措施 ⚠️ 請大家務必遵守
                                    </li>
                                    <li>以上活動不得與其他優惠合併使用</li>
                                    <li>已報名學員不得要求更改活動方案</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 美人魚自由潛水 報名方式 -->
            <app-paymentmethod></app-paymentmethod>
            <!-- 美人魚自由潛水 考核標準 -->
            <!-- <div>
                <br>
                <h3 style="font-family:DFKai-sb;">考核標準</h3>
                <hr>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td class="fs-5" colspan="2">
                                <a>學員結訓均需達到學科與術科課程標準之評鑑</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5" width="7%">
                                <a>學科:</a>
                            </td>
                            <td class="fs-5">
                                <a>需通過筆試測驗（成績達80分以上），未達標準需於檢討後重考。</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5">
                                <a>泳池考核:</a>
                            </td>
                            <td class="fs-5">
                                <a>靜態閉氣2’30”、動態平潛50m</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5">
                                <a>深度考核: </a>
                            </td>
                            <td class="fs-5">
                                <a>
                                    15m划手上升、15m無面鏡上升、15m救援<br>
                                    執行各項潛伴系統、水面拖帶<br>
                                    使用Frenzel及自由落體進行20-30m恆重下潛，<br>
                                    並同時展現適當身體技巧。
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td class="fs-5" width="4%" style="vertical-align:text-top;">
                                <a>註:</a>
                            </td>
                            <td class="fs-5">
                                <a>
                                    1.LV2課程為非保證班，如有考核未過則需繳交費用進行補考，費用請參閱下列說明。
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5">
                                <a> </a>
                            </td>
                            <td class="fs-5">
                                <a>
                                    2.自由潛水LV2課程，如泳池考核無法通過，則需繳交500元/次，進行補考。
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5">
                                <a> </a>
                            </td>
                            <td class="fs-5">
                                <a>
                                    3.5-9月自由潛水 LV2 課程，每位學生有3次的海洋結訓機會，如果無法通過測驗，則需繳交費用 750 元/次進行海洋補考。在夏季課程中的任何時候, 如果計畫於10-4月前往潛立方繼續課程，須自付 1,500 元（潛立方21米池９０分鐘場地費），如使用 3 小時，須自付 2,500 元。
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5">
                                <a> </a>
                            </td>
                            <td class="fs-5">
                                <a>
                                    4.10月-隔年4月冬季自由潛水 LV2 課程，每位學生有1天的結訓機會，如果測驗失敗欲補考，須自付 1,500 元（潛立方21米池９０分鐘場地費），如使用 3 小時，須自付 2,500 元，如計畫於 5-9 月進行東北角海洋結訓，則需自費 750 元/次進行補考。
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5">
                                <a> </a>
                            </td>
                            <td class="fs-5">
                                <a>
                                    5.如欲移地結訓或船潛結訓，費用另計。
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
            <!-- 美人魚自由潛水 上課地點 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">上課地點</h3>
                <hr>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td class="fs-5" colspan="2">
                                <a>上課地點，往返之交通請自行處理，若有需要可以詢問是否能代為安排</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5" width="10%">
                                <a>教室學科:</a>
                            </td>
                            <td class="fs-5">
                                <a>iDiving士林前港店</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5">
                                <a>泳池術科:</a>
                            </td>
                            <td class="fs-5">
                                <a>各配合泳池（需先到iDiving集合）</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5">
                                <a>海洋實習: </a>
                            </td>
                            <td class="fs-5">
                                <a>夏季東北角（iDiving 東北角龍洞店）</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5" style="vertical-align:text-top;">
                                <a>註: </a>
                            </td>
                            <td class="fs-5">
                                <a>
                                    ＊如遇天候不佳或泳池場地整修等，上課地點與時間可能視狀況調整，若有額外增加的場地費用，本中心將自行吸收（大台北區轉換場地之費用，台中泳池費用），不會另外收費。
                                    墾丁離島移地訓練產生之費用需自付。
                                    <br>＊學員不可因課程之"地點/時間"有調整而拒學並要求退費。
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 美人魚自由潛水 特約課程 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">特約課程</h3>
                <hr>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td class="fs-5" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-5">
                                <a>學科部份，每另外約一日課程加價 300 元</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-5" style="vertical-align:text-top;">
                                <a>術科部份，每另外約一日課程加價 500 元</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-5">
                                <a>指定教練費: 指定教練，加價 500 元/日，教練如果已安排既定課程或是出團，恕無法指定。</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 美人魚自由潛水 更改辦法 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">更改辦法</h3>
                <hr>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td class="fs-5" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-5">
                                <a>課程須於開始上課後的兩個月內完成。</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-5">
                                <a>上課日期之更改須在 10 天前告知</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-5">
                                <a>上課日期 10 天內調整，每次需收取調整費 500 元</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-5">
                                <a>上課當天通知要更改日期或曠課未通知則需收取調整費 1,000 元</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-5">
                                <a>因身體不適，出示醫院掛號單據者則不收取。</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-5">
                                <a>女性夥伴參加課程前請自行評估生理期影響。</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 美人魚自由潛水 取消辦法 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">取消辦法</h3>
                <hr>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td class="fs-5" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-5">
                                <a>學員自行放棄課程，本訓練中心將不予退費。</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-5">
                                <a>
                                    若因身體因素而不適合從事潛水活動，並開立醫生證明者，繳交之費用退費方式如下: NT 3,000
                                    元訂金用做購買線上教材，無法退費。
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-5" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-5">
                                <a>
                                    學員自行放棄課程，本訓練中心將不予退費。
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <br>

            </div>
        </div>
        <div class="col-xl">
        </div>
    </div>

    <div class="row">
        <table>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>

    <app-foot></app-foot>
</div>