<div class="container-fluid">

    <app-head></app-head>

    <div class="row">
        <table>
          <tr>
            <td style="height: 12vh;">
            </td>
          </tr>
          <tr>
            <td>
            </td>
          </tr>
        </table>
      </div>

    <h2>海洋美人魚</h2>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col">

            <div>
                <table style="text-align: justify;">
                    <tr>
                        <td class="idiving-content-font">
                            <span>&nbsp;美人魚不單單是穿上魚尾，跳入海中，這麼簡單！iDiving 最注重的安全與正確水中的踢動，不但適合各同年齡層的人，也可以讓你帶有 Aqua man
                                的英姿、童話故事中小美人魚優雅，一門可以更貼近海洋生物的課程。現在！立即了解課程！享受大海享受優美吧！
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center">
                            <img width="100%" src="../../../assets/Image/Data/MM_01.png" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <img width="100%" src="../../../assets/Image/Data/MMTT_02.png" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <img width="100%" src="../../../assets/Image/Data/MM_03.png" />
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table width="100%" style="text-align: justify;">
                    <tr>
                        <td class="idiving-content-font">
                            <strong style="font-size:26px">&nbsp;2022年 美人魚 （採預約制）</strong><br>
                            &nbsp;美人魚：學科 4小時x2堂 泳池 4-6小時x 1天<br>
                            &nbsp;海洋美人魚：學科 4小時x2天 泳池 4-6小時x 1天 海洋 4-6小時x1天<br>
                            <span>
                                &nbsp;請加LINE客服預約上課日期 <br> <a
                                    href="https://line.me/R/ti/p/%40txm0437l">https://line.me/R/ti/p/%40txm0437l</a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a style="font-size:26px" href="/Page/CZ01.php">課程報名</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <img width="100%" src="../../../assets/Image/Data/MM_05.png" />
                        </td>
                    </tr>
                </table>
            </div>

            <div>
                <span class="idiving-content-font">【海洋美人魚課程】即日起報名</span>
                <table width="100%" style="text-align: justify;">
                    <tr>
                        <td>
                            <ul>
                                <li><span class="idiving-content-font">美人魚課程 12,000 元</span></li>
                                <li><span class="idiving-content-font">海洋美人魚課程 15,000 元</span></li>
                                <li><span class="idiving-content-font">現金優惠 300 元</span></li>
                                <li><span class="idiving-content-font">人數優惠：兩人一起報名更優惠，每人優惠2000</span></li>
                                <li><span class="idiving-content-font">iDiving 各級自潛員報名美人魚課程享1000元優惠!</span></li>
                                <li><span class="idiving-content-font">加碼《 裝備還是自己的最好》報名預約美人魚系列課程前六名 即贈送透明面鏡一副！</span>
                                </li>
                            </ul>
                        </td>
                        <!--<td><img src="../Image/Data/MM_04.jpg" style="float: right; width: 100%"></td>-->
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><span class="idiving-content-font">迷路了嗎？</span><br>
                                    <span class="idiving-content-font">開放水域潛水員課程</span>
                                    <a style="font-size:26px" href="https://www.idiving.com.tw/Page/C120.php">連結</a><br>
                                    <span class="idiving-content-font">自由潛水員課程LV1</span>
                                    <a style="font-size:26px"
                                        href="https://www.idiving.com.tw/Page/CF110.php">連結</a><br>
                                    <span class="idiving-content-font">各項水肺潛水員課程</span>
                                    <a style="font-size:26px" href="https://www.idiving.com.tw/Page/C310.php">連結</a><br>
                                    <span class="idiving-content-font">防疫報到措施 ⚠️ 請大家務必遵守</span>
                                </li>
                                <li><span class="idiving-content-font">以上活動不得與其他優惠合併使用</span></li>
                                <li><span class="idiving-content-font">已報名學員不得要求更改活動方案</span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- 報名方式
            <app-paymentmethod></app-paymentmethod> -->
            <div>
                <table style="text-align: justify;">
                    <tr>
                        <td align="center">
                            <img width="100%" src="../../../assets/Image/Data/MM_06.png" />
                        </td>
                    </tr>
                </table>
                <ol>
                    <li><a href="CZ01.php">線上填寫報名表</a></li>
                    <li>
                        繳交訂金 3,000 元，<br>
                        銀行：中國信託 分行：士林分行 戶名：愛潛水股份有限公司<br>
                        代號：822<br>
                        帳號：285-54009941-9<br>
                        line pay 掃描ＱＲcode 請下滑至底
                    </li>
                    <li>
                        以匯款/LINE Pay繳費者請來電（02-2882-7696）告知帳號末５碼<br>
                        營業時間 夏季：14:00-22:00 冬季：15:00-21:00 周一公休
                    </li>
                    <li>收到訂金與資料後，iDiving 會至 SSI 全球官網註冊您的學籍。<span class="Important">一經註冊，請恕無法退訂金。</span></li>
                    <li>上課前請準備好個人照片電子檔，申請潛水證照使用</li>
                </ol>
            </div>
            <!-- 學前須知
            <app-fdschoolinformation></app-fdschoolinformation> -->
            <div>
                <table width="100%" style="text-align: justify;">
                    <tr>
                        <td>
                            <img src="../../../assets/Image/Data/MM_07.png" style="float: right; width: 100%">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ol>
                                <li>iDiving採有條件式保證班教學（註），如果學員延訓不另外加收訓練費或裝備使用費。所有課程須於 2 個月內完成 (9 月後報名隔年 5 月前完成)。約定日期之更改須在
                                    15 天前告知。15 天內更動或未告知而曠課，補課需額外負擔 1,000 元，身體不適，出示醫院掛號收據者不收。</li>
                                <li>若學員自行放棄課程，本訓練中心將不予退費；但因身體不適且經醫生證明不宜從事潛水活動者，繳交之訓練費用在扣除已支付的成本後，餘額將全數退還。</li>
                                <li>學員在 iDiving 購買潛水器材享有學員優惠價。</li>
                                <li>課程之訓練費用、器材之購買費用與 2 吋大頭照一張，請於術科前繳齊。</li>
                                <li>海洋實習地點為東北角或各移地結訓地，往返之交通請自行處理。</li>
                                <li>
                                    學員結訓後，訓練中心將於兩週內完成 SSI 國際數位潛水證照申請。<br>
                                    （如有急需請先告知，本中心可於課程完成後的兩個工作天內完成申請）
                                </li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            註：<br>
                            <ul>
                                <li>如果各項技巧尚未學會，iDiving 將會一直免費培訓，但如果學生已經學會各項技巧，但無法通過測驗，則依照下面說明進行補課或核發執照。（＊耳壓平衡技巧僅須學會１種）。
                                </li>
                                <li>4-9月美人魚 課程，每位學生有1天的結訓機會，如果無法通過測驗，可以免費再增加1天進行練習。如果還是無法通過測驗，則需自費 500
                                    元/天進行補考，亦可選擇核發＂美人魚＂執照 (SSI-Mermaid)。在夏季課程中的任何時候, 如果計畫於10-3月前往潛立方繼續課程，須自付 1,500
                                    元（潛立方21米池９０分鐘場地費），如使用 3 小時，須自付 2,500 元。</li>
                                <li>10月-隔年3月冬季 美人魚 課程，每位學生有1天的結訓機會，如果測驗失敗欲補考，須自付 1,500 元（潛立方21米池９０分鐘場地費），如使用 3 小時，須自付
                                    2,500 元，如計畫於 4-9 月進行東北角海洋結訓，則需自費 500 元/天進行補考，亦可選擇核發＂美人魚＂執照 (SSI-Mermaid)。</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <app-foot></app-foot>

</div>