
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4">
      <a><img class="img-fluid z-depth-1" src="../assets/Image/Youtube/P5280622.jpg" alt="video"
          (click)="videoModal1.show()"></a>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <a><img class="img-fluid z-depth-1" src="../assets/Image/Youtube/P5280680.jpg" alt="video"
          (click)="videoModal2.show()"></a>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <a><img class="img-fluid z-depth-1" src="../assets/Image/Youtube/P5280670.jpg" alt="video"
          (click)="videoModal3.show()"></a>
    </div>
  </div>


  <div mdbModal #videoModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myVideoModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body mb-0 p-0">
          <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eyxaACleX8k"
              allowfullscreen></iframe>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <span class="mr-4">自由潛水泳池賽 維萱教練mini賽</span>
          <!--
          <a type="button" mdbBtn floating="true" size="sm" color="fb">
            <mdb-icon fab icon="facebook-f"></mdb-icon>
          </a>-->
          <!--Twitter
          <a type="button" mdbBtn floating="true" size="sm" color="tw">
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>-->
          <!--Google 
          <a type="button" mdbBtn floating="true" size="sm" color="gplus">
            <mdb-icon fab icon="google-plus"></mdb-icon>
          </a>-->
          <!--Linkedin
          <a type="button" mdbBtn floating="true" size="sm" color="ins">
            <mdb-icon fab icon="linkedin-in"></mdb-icon>
          </a>-->

          <button mdbBtn type="button" color="primary" rounded="true" outline="true" size="md"
            (click)="videoModal1.hide()">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div mdbModal #videoModal2="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myVideoModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body mb-0 p-0">
          <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9BJtinvWHNg"
              allowfullscreen></iframe>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <span class="mr-4">自由潛水薄荷島篇</span>
          <!--
          <a type="button" mdbBtn floating="true" size="sm" color="fb">
            <mdb-icon fab icon="facebook-f"></mdb-icon>
          </a>-->
          <!--Twitter
          <a type="button" mdbBtn floating="true" size="sm" color="tw">
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>-->
          <!--Google 
          <a type="button" mdbBtn floating="true" size="sm" color="gplus">
            <mdb-icon fab icon="google-plus"></mdb-icon>
          </a>-->
          <!--Linkedin
          <a type="button" mdbBtn floating="true" size="sm" color="ins">
            <mdb-icon fab icon="linkedin-in"></mdb-icon>
          </a>-->

          <button mdbBtn type="button" color="primary" rounded="true" outline="true" size="md"
            (click)="videoModal2.hide()">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div mdbModal #videoModal3="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myVideoModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body mb-0 p-0">
          <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/T3QFK8zaWQQ"
              allowfullscreen></iframe>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <span class="mr-4">2017 2/25~3/2 菲律賓阿尼洛潛水行</span>
          <!--
          <a type="button" mdbBtn floating="true" size="sm" color="fb">
            <mdb-icon fab icon="facebook-f"></mdb-icon>
          </a>-->
          <!--Twitter
          <a type="button" mdbBtn floating="true" size="sm" color="tw">
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>-->
          <!--Google 
          <a type="button" mdbBtn floating="true" size="sm" color="gplus">
            <mdb-icon fab icon="google-plus"></mdb-icon>
          </a>-->
          <!--Linkedin
          <a type="button" mdbBtn floating="true" size="sm" color="ins">
            <mdb-icon fab icon="linkedin-in"></mdb-icon>
          </a>-->

          <button mdbBtn type="button" color="primary" rounded="true" outline="true" size="md"
            (click)="videoModal3.hide()">Close</button>
        </div>
      </div>
    </div>
  </div>
