<div class="container-fluid">
    <!-- <app-link></app-link> -->
    <div class="row">
        <!-- Default form subscription -->
        <form class="text-center border border-light p-5">

            <p class="h4 mb-4"><img src="../../../../assets/Image/Logo.jpg" class="rounded mx-auto d-block" alt="...">
            </p>

            <p>
                <a href="" target="_blank">@idiving_taiwan</a>
            </p>

            <p>水肺潛水｜自由潛水｜美人魚｜技術潛水｜國內外潛水旅遊｜裝備銷售與維修｜</p>
        </form>
    </div>
    
    <app-link></app-link>

</div>