.DMClass {
    background: url('../../../assets/Image/Data/2U6A3505_mome.jpg');
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;            /* optionally, center the image */

    //text-align: center;
}

.DMClass02 {
    display:block;
    margin:auto;
}

.DMClass03 {
    text-align:center;
}

.btn01 {
    background-color: #67AACA;
    padding: 0.5rem 8.5rem !important;
}

