<div class="container-fluid">

  <app-head></app-head>

  <div class="row">
    <table>
      <tr>
        <td style="height: 12vh;">
        </td>
      </tr>
      <tr>
        <td>
        </td>
      </tr>
    </table>
  </div>

  <!-- <app-carousel></app-carousel> -->

  <div class="row">
    <div class="col-xl">
      <img src="../../../assets/Image/Data/homepageimage.jpg" class="img-fluid" alt="..." />
    </div>
  </div>

  <app-link></app-link>

  <div class="row">
    <table>
      <tr>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          <br>
        </td>
      </tr>
    </table>
  </div>

  <app-hearsay></app-hearsay>

  <div class="row">
    <table>
      <tr>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          <br>
        </td>
      </tr>
    </table>
  </div>

  <!-- 潛店介紹 -->
  <div class="row">
    <div class="col">
      <br>
      <p class="fs-4" style="text-align: center;">都市店與海邊店一次滿足</p>
      <p class="fs-4" style="text-align: center;">／iDiving 前港店／</p>
      <p class="fs-6" style="text-align: center;">都市店就近完成教室課、泳池課</p>
      <p class="fs-6" style="text-align: center;">讓工作繁忙的你能妥善利用空閒時間</p>
      <p class="fs-6" style="text-align: center;">課程問題、購買裝備不用大老遠找教練</p>
      <br>
      <p class="fs-4" style="text-align: center;">／iDiving 龍洞店／</p>
      <p class="fs-6" style="text-align: center;">一天來回東北角，不用休假就可以潛水</p>
      <p class="fs-6" style="text-align: center;">想要享受慢活步調，兩天一夜也可以</p>
      <br>
      <img src="../../../../assets/Image/Data/begin1.png" width="99%">
      <br>
      <br>
      <br>
      <img src="../../../../assets/Image/Data/begin2.png" width="99%">
      <br>
      <p class="fs-4" style="text-align: center;">80人水肺自潛教練團</p>
      <p class="fs-6" style="text-align: center;">上課、活動教練人數高比例</p>
      <p class="fs-6" style="text-align: center;">客製上課時間好安排</p>
      <p class="fs-6" style="text-align: center;">駐店 SSI 教練訓練官從初級到教練培訓都包含</p>
      <p class="fs-6" style="text-align: center;">每年冬季教練資格更新復訓一項都沒少</p>
      <br>
      <img src="../../../../assets/Image/Data/begin3.png" width="99%">
      <br>
    </div>
  </div>

  <div class="row">
    <table>
      <tr>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          <br>
        </td>
      </tr>
    </table>
  </div>
  
  <app-smallactivity></app-smallactivity>

  <div class="row">
    <table>
      <tr>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          <br>
          <br>
        </td>
      </tr>
    </table>
  </div>

  <app-youtube></app-youtube>

  <div class="row">
    <table>
      <tr>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          <br>
          <br>
        </td>
      </tr>
    </table>
  </div>

  <app-photoalbum></app-photoalbum>

  <div class="row">
    <table>
      <tr>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          <br>
          <br>
        </td>
      </tr>
    </table>
  </div>

  <app-dealer></app-dealer>

  <div class="row">
    <table>
      <tr>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          <br>
          <br>
        </td>
      </tr>
    </table>
  </div>

  <app-foot></app-foot>

</div>