<!-- LV1冬季班 夏季假日班 夏季平日班 課程介紹 -->
<div>
    <table mdbTable borderless="true">
        <thead>
            <tr>
                <td>
                    <hr>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>課程介紹</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol>
                <td class="fs-4">
                    1級自潛員課程 LEVEL 1 FREEDIVING
                </td>
            </tr>
            <tr>
                <td class="fs-4">
                    初階課程會包含許多自由潛水知識與技巧上的教學，旨在讓你能夠透過最舒適與最安全的自由潛水方法，一路下潛到深度10-20公尺的海域。接著經過反覆的練習，讓你的身體能夠漸漸適應閉氣的感覺、習慣更有效的閉氣法、訓練出更有彈性的肌肉。這個課程會進行至少10米深的海洋訓練，適合勇敢又想拍出深藍大海與自潛的您！參加本課程需要會游泳，如果您會游泳又喜歡大海，可以直接報名此課程，大海正在呼喚您！
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><img src="../../../../assets/Image/Data/FD_Text1.png" width="98%" /></td>
            </tr>
            <tr>
                <td>
                    <hr>
                </td>
            </tr>
        </tbody>
    </table>
</div>