  
  <!-- https://stackoverflow.com/questions/15557392/how-do-i-display-images-from-google-drive-on-a-website -->

  <!-- carousel -->
  <div class="row">
    <div class="col">
      <!--Carousel Wrapper-->
      <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
        <!--First slide-->
        <mdb-slide>
          <div class="view w-100">
            <img class="d-block w-100" src="https://drive.google.com/uc?export=view&id=14Twb09PYjw0aQwNapa-9JN53z2KNuP1Z" alt="First slide">
            <!--<img class="d-block w-100" src="../assets/Image/AD/01.jpg" alt="First slide"> -->
            <!--<div class="rgba-black-light waves-light" mdbWavesEffect></div>-->
          </div>
          <!--<div class="carousel-caption">
          <h3 class="h3-responsive">Light mask</h3>
          <p>First text</p>
        </div>-->
        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
          <div class="view w-100">
            <img class="d-block w-100" src="https://drive.google.com/uc?export=view&id=1rqk2knT5fqDZMhmYGYo33xYs6ODzU83t" alt="First slide">
            <!--<img class="d-block w-100" src="../assets/Image/AD/02.jpg" alt="Second slide">-->
            <!--<div class="rgba-black-strong waves-light" mdbWavesEffect></div>-->
          </div>
          <!--<div class="carousel-caption">
          <h3 class="h3-responsive">Strong mask</h3>
          <p>Secondary text</p>
        </div>-->
        </mdb-slide>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-slide>
          <div class="view w-100">
            <img class="d-block w-100" src="https://drive.google.com/uc?export=view&id=1sX5nXybtNLdAxK3dYo8B28gkvBP7pPCD" alt="First slide">
            <!--<img class="d-block w-100" src="../assets/Image/AD/03.jpg" alt="Third slide">-->
            <!--<div class="rgba-black-slight waves-light" mdbWavesEffect></div>-->
          </div>
          <!--<div class="carousel-caption">
          <h3 class="h3-responsive">Slight mask</h3>
          <p>Third text</p>
        </div>-->
        </mdb-slide>
        <!--/Third slide-->
        <mdb-slide>
          <div class="view w-100">
            <img class="d-block w-100" src="https://drive.google.com/uc?export=view&id=1ug8_wAE4TYEYMM33XxKIxlBUytc8bAcU" alt="First slide">
            <!--<img class="d-block w-100" src="../assets/Image/AD/04.jpg" alt="Third slide">-->
            <!--<div class="rgba-black-slight waves-light" mdbWavesEffect></div>-->
          </div>
          <!--<div class="carousel-caption">
          <h3 class="h3-responsive">Slight mask</h3>
          <p>Third text</p>
        </div>-->
        </mdb-slide>
        <mdb-slide>
          <div class="view w-100">
            <img class="d-block w-100" src="https://drive.google.com/uc?export=view&id=13GY-XnJkFRPu-FWerUqmCTfNo9M7hsjb" alt="First slide">
            <!--<img class="d-block w-100" src="../assets/Image/AD/05.jpg" alt="Third slide">-->
            <!--<div class="rgba-black-slight waves-light" mdbWavesEffect></div>-->
          </div>
          <!--<div class="carousel-caption">
          <h3 class="h3-responsive">Slight mask</h3>
          <p>Third text</p>
        </div>-->
        </mdb-slide>
      </mdb-carousel>
      <!--/.Carousel Wrapper-->
    </div>
  </div>