<div class="container-fluid">

    <app-head></app-head>

    <div class="row">
        <table>
            <tr>
                <td style="height: 12vh;">
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <!-- <img src="../../../../assets/Image/Data/OWD_Marketing_Area_01.png" width="99%" style="display:block; margin:auto;"
      alt="潛水 潛水證照 水肺證照 水肺潛水課程 台北學潛水 潛水課程 東北角 龍洞灣 台北水肺潛水課程 水肺潛水" /> -->

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col w-100">
            <br>
            <div class="container-fluid">
                <nav class="breadcrumb bg-white">
                    <a class="breadcrumb-item" href="#">首頁</a>
                    <a class="breadcrumb-item">玩潛水</a>
                    <a class="breadcrumb-item">東北角岸潛</a>
                </nav>
            </div>
            <br>
        </div>
    </div>

    <!-- https://mdbootstrap.com/docs/angular/layout/grid-usage/ -->
    <!-- https://mdbootstrap.com/docs/angular/layout/grid-examples/ -->
    <div class="row">
        <div class="col-xl">
        </div>
        <div class="col-xl-10">
            <h3 style="font-family:DFKai-sb;">東北角岸潛</h3>
            <hr>
            <br>
            <table borderless="true">
                <tbody>
                    <tr>
                        <td>
                            <h3 style="font-family:DFKai-sb;">【景點介紹】</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="fs-6">
                                東北角暨宜蘭海岸國家風景區（原名東北角海岸國家風景區）是台灣東北角一帶具有特殊地質景觀與歷史的國家級風景特定區，
                                北起新北市瑞芳區南雅里，南至宜蘭縣蘇澳鎮內埤海灘南方岬角。
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xl">
        </div>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <app-foot></app-foot>

</div>