<div class="container-fluid">

    <app-head></app-head>

    <div class="row">
        <table>
            <tr>
                <td style="height: 12vh;">
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col w-100">
            <br>
            <div class="container-fluid">
                <nav class="breadcrumb bg-white">
                    <a class="breadcrumb-item" href="#">首頁</a>
                    <a class="breadcrumb-item">玩潛水</a>
                    <a class="breadcrumb-item">東北角岸潛</a>
                </nav>
            </div>
            <br>
        </div>
    </div>

    <!-- https://mdbootstrap.com/docs/angular/layout/grid-usage/ -->
    <!-- https://mdbootstrap.com/docs/angular/layout/grid-examples/ -->
    <div class="row">
        <div class="col-xl">
        </div>
        <div class="col-xl-8">
            <h3 style="font-family:DFKai-sb;">東北角岸潛</h3>
            <hr>
            
            <!-- 介紹 -->
            <div>
                <img src="../../../assets/Image/DataActivity/NC_01.jpg" width="90%" style="display:block; margin:auto;">
                <br>
                <hr>
                <br>
                <h3 style="font-family:DFKai-sb;">微距生物天堂</h3>
                <hr>
                <table>
                    <tr>
                        <td>
                            <span>
                                東北角是北台灣最方便前往的潛點，小生物特多，有上百種海蛞蝓，蝦、蟹等小生物，以及特別為復育
                                軟絲而做成的軟絲產房。為復育軟絲，教練在海上放置竹叢，讓軟絲產卵更順利。
                                一串串白色的軟絲卵掛在竹叢上，同時也吸引魚群靠近，形成小型生態系。成為夏季特殊潛點。
                            </span>
                        </td>
                        <td><img src="../../../assets/Image/DataActivity/NC_02.jpg" width="50%"></td>
                    </tr>
                </table>
                <hr>
            </div>
            <!-- 天氣 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">天氣</h3>
                <hr>
                <span>
                    每年4至10月是東北角適合潛水的季節，但水溫通常在端午節過後才會比較暖和。需要特別注意的是，
                    東北角海水能見度比綠島、蘭嶼較差，大多以岸潛為主，加上地形特殊，岸潛步行需要體力。
                </span>
                <hr>
            </div>
            <!-- 潛點介紹 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">精選潛點介紹</h3>
                <hr>
                <img src="../../../assets/Image/DataActivity/NC_03.jpg" width="40%">
                <img src="../../../assets/Image/DataActivity/NC_04.jpg" width="40%">
                <h5 style="font-family:DFKai-sb;">01 龍洞4號(和美國小)</h5>
                <span>
                    最大深度約24m，在龍洞灣內，沿龍洞街到底，下水處在九孔池面海方向右側前端，下潛後往北走，順坡度可至24米處，
                    再慢慢沿沙地與礁石而返。此處地形單純，不但適合初級潛水員玩樂，亦可進行大深度訓練。<br>
                    <br>
                    潛點等級：初級<br>
                    最大深度：25m
                </span>
                <hr>
                <h5 style="font-family:DFKai-sb;">02 82.5k</h5>
                <span>
                    最大深度約24m，在龍洞灣內，沿龍洞街到底，下水處在九孔池面海方向右側前端，下潛後往北走，順坡度可至24米處。<br>
                    <br>
                    潛點等級：中級<br>
                    最大深度：25m
                </span>
                <hr>                
                <img src="../../../assets/Image/DataActivity/NC_03.jpg" width="40%">
                <img src="../../../assets/Image/DataActivity/NC_04.jpg" width="40%">
                <hr>
            </div>
            <!-- 活動說明 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">東北角岸潛活動</h3>
                <hr>
                <h5 class="d-block indigo lighten-4" style="font-family:DFKai-sb;">費用詳細</h5>
                <span>
                    使用高氧氣瓶+200<br>
                    器材租借:查看價格表
                </span>
                <hr>
                <h5 class="d-block indigo lighten-4" style="font-family:DFKai-sb;">費用包含</h5>
                <span>
                    2船潛 氣瓶 配重 船上茶水
                </span>
                <hr>
                <h5 class="d-block indigo lighten-4" style="font-family:DFKai-sb;">活動期間</h5>
                <span>
                    4~10月
                </span>
                <hr>
                <h5 class="d-block indigo lighten-4" style="font-family:DFKai-sb;">所需時間</h5>
                <span>
                    5小時
                </span>
                <hr>
                <h5 class="d-block indigo lighten-4" style="font-family:DFKai-sb;">參加條件</h5>
                <span>
                    ・持有相當於SSI的OW開放水域潛水員等級及以上的潛水證。<br>
                    ・請務必遵守SSI潛水後18小時禁止搭乘飛機規定。本公司建議潛水後24小時內避免搭乘飛機。<br>
                    ・預約前請務必詳閱健康檢查表。為了保障顧客的安全，如果有任何一項您的回答為「是」，請務必在預約時告知。依據情況，可能會需要顧客提供由醫生簽署的潛水許可證明，亦或者無法參加潛水等水上活動，敬請諒解。
                </span>
                <hr>
                <h5 class="d-block indigo lighten-4" style="font-family:DFKai-sb;">注意事項</h5>
                <span>
                    ・當日可能因天氣或海況不佳，而取消或更改潛點。如果行程發生任何更改，將在活動前一日通知顧客。<br>
                    ・預約前請務必確認 取消規定。
                </span>
                <hr>
                <h5 class="d-block indigo lighten-4" style="font-family:DFKai-sb;">攜帶物品</h5>
                <span>
                    ・潛水證<br>
                    ・電腦錶（提供租借服務）<br>
                    ・潛水器材（提供租借服務）<br>
                    ・泳衣<br>
                    ・暈船藥（如您會暈船或不確定您是否暈船，強烈建議您在活動前服用暈船藥。店內不提供藥物。）
                </span>
                <hr>
                <h5 class="d-block indigo lighten-4" style="font-family:DFKai-sb;">集合地點</h5>
                <span>
                    安排搭車 iDiving前港店 集合<br>
                    自行前往 iDiving龍洞店 集合
                </span>
                <hr>
            </div>
        </div>
        <div class="col-xl">
        </div>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <app-foot></app-foot>

</div>