

.jXBQYu {
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px;
}

/*
mat-grid-tile {
    //background: lightblue;
    height: auto;
}
.image-banner__frame {
    text-align:center;
}

.image-banner__picture {
    display: block;
    width: 125%;
    height: auto;
    margin: auto;
    margin-left: -10px
}

.jsOFdm {
    background-color: rgb(252, 252, 252);
    padding: 7.5px 10px;
}

.jXBQYu {
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px;
    border-radius: 6px;
    padding: 0px 9px 12px;
    background-color: #ffffff;
}

.irzZAU:first-child {
    margin-top: -2px;
}

.irzZAU {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.kURSRH {
    width: calc(25%);
    max-width: 70px;
    margin: 12px calc((25% - 70px) / 2) 0px;
}*/

/*
.eRUnxR {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 4px;
}

.jkvHos {
    margin: 6px auto;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 200px;
    height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    cursor: pointer;
    word-break: break-word;
}*/
