<!-- Default form subscription -->
<form class="text-center border border-light p-5">

  <p class="h4 mb-4"><img src="../../../../assets/Image/Logo.jpg" class="rounded mx-auto d-block" alt="..."></p>

  <p>
    <a href="" target="_blank">@idiving_taiwan</a>
  </p>

  <p>水肺潛水｜自由潛水｜美人魚｜技術潛水｜國內外潛水旅遊｜裝備銷售與維修｜</p>

  <p>
    <!-- button -->
    <button mdbBtn class="text-dark" color="info" block="true" type="submit"
      onclick="javascript:location.href='https://www.idiving.com.tw/Page/C120.php'">Openwaterdiver 介紹</button>
  </p>
  <p>
    <!-- button -->
    <button mdbBtn class="text-dark" color="info" block="true" type="submit"
      onclick="javascript:location.href='https://www.idiving.com.tw/Page/CFD110.php'">Freediving Lv1 介紹</button>
  </p>
  <p>
    <!-- button -->
    <button mdbBtn class="text-dark" color="info" block="true" type="submit"
      onclick="javascript:location.href='https://www.idiving.com.tw/Page/DZ01.php'">水肺/自潛 潛旅一覽表</button>
  </p>
  <p>
    <!-- button -->
    <button mdbBtn class="text-dark" color="info" block="true" type="submit"
      onclick="javascript:location.href='https://line.me/R/ti/p/%40txm0437l'">Line @</button>
  </p>
  <p>
    <!-- button -->
    <button mdbBtn class="text-dark" color="info" block="true" type="submit"
      onclick="javascript:location.href='https://reurl.cc/xGN9DV'">線上購物型錄</button>
  </p>
  <p>
    <!-- button -->
    <button mdbBtn class="text-dark" color="info" block="true" type="submit"
      onclick="javascript:location.href='https://www.idiving.com.tw/'">官網</button>
  </p>
<!--
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="facebook"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="twitter"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="mail-bulk"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="heart"></mdb-icon>
  </a> -->

</form>
<!-- Default form subscription -->
