

  <div class="row">
    <div class="jsOFdm">
      <div class="jXBQYu">
        <div class="slick-slider slick-initialized">
          <div class="slick-list">
            <div class="slick-track" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
              <div class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none;">
                <div>
                  <div tabindex="-1" style="width: 100%; display: inline-block;">
                    <div class="irzZAU">
                      <div class="kURSRH">
                        <a class="image-banner" href="/#/cfd110">
                          <figure class="image-banner__frame">
                            <img src="../../../../assets/Image/LINK/2.jpg" class="image-banner__picture" alt="QuickEntryA-1">
                          </figure>
                        </a>
                      </div>
                      <div class="kURSRH">
                        <a class="image-banner" href="/#/c120">
                          <figure class="image-banner__frame">
                            <img src="../../../../assets/Image/LINK/1.jpg" class="image-banner__picture" alt="QuickEntryA-1">
                          </figure>
                        </a>
                      </div>
                      <div class="kURSRH">
                        <a class="image-banner" href="/#/c510">
                          <figure class="image-banner__frame">
                            <img src="../../../../assets/Image/LINK/3.jpg" class="image-banner__picture" alt="QuickEntryA-1">
                          </figure>
                        </a>
                      </div>
                      <div class="kURSRH">
                        <a class="image-banner" href="/#/cz01">
                          <figure class="image-banner__frame">
                            <img src="../../../../assets/Image/LINK/4.jpg" class="image-banner__picture" alt="QuickEntryA-1">
                          </figure>
                        </a>
                      </div>
                    </div>
                    <!-- <div class="eRUnxR">
                      <div class="jkvHos fs-5">水肺潛水 介紹</div>
                      <div class="jkvHos fs-5">自由潛水 LV1 介紹</div>
                      <div class="jkvHos fs-5">技術潛水 介紹</div>
                      <div class="jkvHos fs-5">課程報名連結</div>
                    </div> -->
                    <div class="irzZAU">
                      <div class="kURSRH">
                        <a class="image-banner" href="/#/m100">
                          <figure class="image-banner__frame">
                            <img src="../../../../assets/Image/LINK/5.jpg" class="image-banner__picture" alt="QuickEntryA-1">
                          </figure>
                        </a>
                      </div>
                      <div class="kURSRH">
                        <a class="image-banner" href="/#/dz01">
                          <figure class="image-banner__frame">
                            <img src="../../../../assets/Image/LINK/6.jpg" class="image-banner__picture" alt="QuickEntryA-1">
                          </figure>
                        </a>
                      </div>
                      <div class="kURSRH">
                        <a class="image-banner" href="https://reurl.cc/1Yovx8">
                          <figure class="image-banner__frame">
                            <img src="../../../../assets/Image/LINK/7.jpg" class="image-banner__picture" alt="QuickEntryA-1">
                          </figure>
                        </a>
                      </div>
                      <div class="kURSRH">
                        <a class="image-banner" href="https://line.me/R/ti/p/%40txm0437l">
                          <figure class="image-banner__frame">
                            <img src="../../../../assets/Image/LINK/8.jpg" class="image-banner__picture" alt="QuickEntryA-1">
                          </figure>
                        </a>
                      </div>
                    </div>
                    <!-- <div class="eRUnxR">
                      <div class="jkvHos fs-5">潛旅一覽表連結</div>
                      <div class="jkvHos fs-5">線上購物型錄 連結</div>
                      <div class="jkvHos fs-5">Line@ 連結</div>
                      <div class="jkvHos fs-5">優惠專區</div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>