<div class="container-fluid">

    <app-head></app-head>

    <div class="row">
        <table>
            <tr>
                <td style="height: 12vh;">
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col w-100">
            <br>
            <div class="container-fluid">
                <nav class="breadcrumb bg-white">
                    <a class="breadcrumb-item" href="#">首頁</a>
                    <a class="breadcrumb-item">愛潛水</a>
                    <a class="breadcrumb-item">重裝</a>
                </nav>
            </div>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-xl">
        </div>
        <div class="col-xl-10">
            <!-- 浮力背心 -->
            <div>
                <h4>浮力背心</h4>
                <hr>
                <img src="../../../assets/Image/Data/Xdeep_NX_Zen.jpg" width="30%" />
                <p class="fs-6">XDEEP Zen / Zen Ultralight</p>
                <p class="fs-6">店內價：25,000</p>
                <div class="fs-6">
                    穩固的背板，未來玩技潛也無負擔<br />
                    氣囊外罩拉鍊可打開，便於更換內部的氣囊<br />
                    多款顏色供選擇，適合想與眾不同者<br />
                    可以根據需求，另購其他的附件進行靈活組合進行個性化配置
                </div>
                <br />
                <br />
                <img src="../../../assets/Image/Data/Halcyon_Adventurer.jpg" width="30%" />
                <p class="fs-6">Halcyon adventurer plus</p>
                <p class="fs-6">店內價：37,500</p>
                <div class="fs-6">
                    碳纖維背板，輕量化設計讓旅遊也輕鬆<br />
                    快速調整設計，讓你更換防寒衣也可迅速調整背帶<br />
                    全客製化配色，獨一無二是你的代名詞
                </div>
                <br />
                <br />
                <img src="../../../assets/Image/Data/TUSA_BCJ-1800_MAIN.jpg" width="30%" />
                <p class="fs-6">TUSA BCJ-1800</p>
                <p class="fs-6">店內價：15,500</p>
                <div class="fs-6">
                    輕量化及品質的旅行 BC省去出國行李超重煩惱<br />
                    厚且軟的背墊兼顧輕盈舒適合身感<br />
                    兩條氣瓶固定帶,氣瓶不易鬆脫
                </div>
                <br />
                <br />
                <img src="../../../assets/Image/Data/AQUA_LUNG-ProHD.jpg" width="30%" />
                <p class="fs-6">Aqua Lung PRO HD</p>
                <p class="fs-6">店內價：16,650</p>
                <div class="fs-6">
                    5個金屬D環符合水攝潛水員需求<br />
                    快速拆卸及可調整肩扣<br />
                    整合式配重帶<br />
                    BC內部背架配備有提把，方便潛水員穿脫<br />
                    BC兩側配備有管線收納口袋防止管線糾纏增加潛水安全
                </div>
            </div>
            <!-- 調節器 -->
            <div>
                <h4>調節器</h4>
                <hr>
                <img src="../../../assets/Image/Data/ATOMIC_B2.jpg" width="30%" />
                <p class="fs-6">ATOMIC B2</p>
                <p class="fs-6">店內價：22,500</p>
                <div class="fs-6">
                    舒適、性能、流行時尚的絕佳組合<br />
                    鍍鉻銅一級頭以及鈦合金二級頭<br />
                    獨家研發舒適萬向接頭<br />
                    自動氣流控制(AFC)
                </div>
                <br />
                <br />
                <img src="../../../assets/Image/Data/AQUA_LUNG-Leg3nd.jpg" width="30%" />
                <p class="fs-6">AQUA LUNG LEG3END</p>
                <p class="fs-6">店內價：22,600</p>
                <div class="fs-6">
                    全新設計的真空吸力撥桿<br />
                    自動關閉裝置(ACD)<br />
                    超平衡式橫膈膜<br />
                    新設計前蓋有效降低呼吸阻抗
                </div>
                <br />
                <br />
                <img src="../../../assets/Image/Data/AQUA_LUNG_CORE.jpg" width="30%" />
                <p class="fs-6">AQUA LUNG CORE</p>
                <p class="fs-6">店內價：17,040</p>
                <div class="fs-6">
                    自動關閉裝置(ACD)<br />
                    T型簡捷一級頭設計配置有4個中壓出口與2個高壓出口<br />
                    Aqua Lung其它型號調節器零件共通方便日後維修
                </div>
                <br />
                <br />
                <img src="../../../assets/Image/Data/Mares_Dual_ADJ_52X.jpg" width="30%" />
                <p class="fs-6">Mares Dual ADJ 52X</p>
                <p class="fs-6">店內價：19,800</p>
            </div>
            <!-- 備用氣源 -->
            <div>
                <h4>備用氣源</h4>
                <hr>
                <img src="../../../assets/Image/Data/ATOMIC_SS1.jpg" width="25%" />
                <p class="fs-6">ATOMIC SS1</p>
                <p class="fs-6">店內價：8,700</p>
                <div class="fs-6">
                    整合充排氣閥與備用氣源讓兩種產品合而為一，減少了潛水裝備的體積與重量<br />
                    需要共用氣源的緊急狀況下，也能輕易地找到它<br />
                    SS1可適用於任何BC，不至於發生所謂的排他性<br />
                    SS1特殊設計讓中壓管與蛇管都能快速卸取保護心愛的備用二級頭
                </div>
            </div>
            <!-- 錶組 -->
            <div>
                <h4>錶組</h4>
                <hr>
                <img src="../../../assets/Image/Data/AQUALUNG-2GAUGE-MAIN.jpg" width="25%" />
                <p class="fs-6">AQUA LUNG 兩用錶（指北針、壓力錶）</p>
                <p class="fs-6">店內價：5,320</p>
                <div class="fs-6">
                    搭配手腕式電腦錶的最佳選擇<br />
                    刻度盤面採最新儲光塗層，方便於昏暗環境中判讀儀錶<br />
                    儲光式儀表面板，照明效果與照明時間皆較傳統螢光高出數倍
                </div>
            </div>
            <!-- 電腦錶 -->
            <div>
                <h4>電腦錶</h4>
                <hr>
                <img src="../../../assets/Image/Data/Atmos.jpeg" width="30%" />
                <p class="fs-6">Atmos Mission One</p>
                <p class="fs-6">店內價：12,825</p>
                <div class="fs-6">
                    內建體感震動及訊息警報系統<br />
                    GPS潛點紀錄與引導 (水面使用)<br />
                    手機訊息與來電接收<br />
                    1.2吋高解析彩色螢幕<br />
                    充電式電腦錶，半小時可充80%<br />
                    韌體可自行更新
                </div>
                <br />
                <br />
                <img src="../../../assets/Image/Data/Sunnto_D5-BKLIME.jpg" width="30%" />
                <p class="fs-6">SUUNTO D5</p>
                <p class="fs-6">店內價：22,500</p>
                <div class="fs-6">
                    全彩LED顯示螢幕<br />
                    震動及聲響警示<br />
                    3D數位指北針<br />
                    支援SUUNTO Tank POD無限發射器<br />
                    充電式電池<br />
                    可自行更新韌體
                </div>
                <br />
                <br />
                <img src="../../../assets/Image/Data/Shear_water-peregrine.jpg" width="30%" />
                <p class="fs-6">Shearwater Peregrine</p>
                <p class="fs-6">店內價：14,500</p>
                <div class="fs-6">
                    全彩LCD顯示螢幕<br />
                    用戶自定義顯示<br />
                    無線充電<br />
                    支援多種語言<br />
                    簡單易讀取的潛水計畫功能
                </div>
                <br />
                <br />
                <img src="../../../assets/Image/Data/Shearwater_AI.jpeg" width="30%" />
                <p class="fs-6">Shearwater AI</p>
                <p class="fs-6">店內價：27,500</p>
                <div class="fs-6">
                    電子指北針<br />
                    可自行更換3號電池<br />
                    可支援1000小時潛水紀錄<br />
                    透過藍芽可下載潛水紀錄及更新電腦錶軟體<br />
                    支援開放及密閉系統，在潛水過程中可切換 開放及密閉系統，各支持5種不同氣體潛水過程中可切換氣體
                </div>
            </div>
        </div>
        <div class="col-xl">
        </div>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <app-foot></app-foot>

</div>