<div class="container-fluid">

    <app-head></app-head>

    <div class="row">
        <table>
            <tr>
                <td style="height: 12vh">
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <table>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col w-100">
            <br>
            <div class="container-fluid">
                <nav class="breadcrumb bg-white">
                    <a class="breadcrumb-item" href="#">首頁</a>
                    <a class="breadcrumb-item">玩潛水</a>
                    <a class="breadcrumb-item">輕裝</a>
                </nav>
            </div>
            <br>
        </div>
    </div>

    <!-- https://mdbootstrap.com/docs/angular/components/cards/ -->

    <div class="row">
        <div class="col-xl">
        </div>
        <div class="col-xl-10">
            <h3>面鏡</h3>
            <hr>
            <div class="card-deck">
                <!-- Card -->
                <mdb-card>
                    <div class="view overlay waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/16.webp"
                            alt="Card image cap"></mdb-card-img>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>TUSA</h4>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text class="fs-6"> 
                            M212 雙面鏡 （水肺）<br>
                            特色：Freedom任意貼裙邊更加貼合臉型<br>
                            專利3D立體面鏡帶舒適不易滑落<br>
                            雙面鏡設計可更換近視鏡片
                        </mdb-card-text>

                        <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a> -->
                    </mdb-card-body>
                </mdb-card>

                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/14.webp"
                            alt="Card image cap"></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>TUSA</h4>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text class="fs-6"> 
                            M1003 單面鏡（水肺）<br>
                            特色：Freedom任意貼裙邊更加貼合臉型<br>
                            單面鏡水下視野一覽無遺<br>
                            特殊圓角群邊設計提供最大舒適度與貼臉性
                        </mdb-card-text>

                        <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a> -->
                    </mdb-card-body>
                </mdb-card>

                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/15.webp"
                            alt="Card image cap"></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>STEAM</h4>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text class="fs-6"> 
                            M210 輕量化自潛面鏡 （自潛）<br>
                            特色：PC鏡框樹脂鏡片降低整體重量<br>
                            流線型鏡框減少水中阻力<br>
                            針對亞洲人設計鼻袋好捏不易漏氣
                        </mdb-card-text>

                        <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a> -->
                    </mdb-card-body>
                </mdb-card>
            </div>
            <br>
            <h3>呼吸管</h3>
            <hr>
            <div class="card-deck">
                <!-- Card -->
                <mdb-card>
                    <div class="view overlay waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="https://drive.google.com/uc?export=view&id=1dEyQeBxr3b8p5SLhVAyAHZDOw-0z1U4S"
                            alt="Card image cap"></mdb-card-img>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>Card Title</h4>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text class="fs-6"> 
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </mdb-card-text>

                        <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a> -->
                    </mdb-card-body>
                </mdb-card>

                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="https://drive.google.com/uc?export=view&id=1dEyQeBxr3b8p5SLhVAyAHZDOw-0z1U4S"
                            alt="Card image cap"></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>Card Title</h4>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text class="fs-6"> 
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </mdb-card-text>

                        <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a> -->
                    </mdb-card-body>
                </mdb-card>

                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="https://drive.google.com/uc?export=view&id=1dEyQeBxr3b8p5SLhVAyAHZDOw-0z1U4S"
                            alt="Card image cap"></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>Card Title</h4>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text class="fs-6"> 
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </mdb-card-text>

                        <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a> -->
                    </mdb-card-body>
                </mdb-card>
            </div>
            <br>
        </div>
        <div class="col-xl">
        </div>
    </div>

    <div class="row">
        <table>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>

    <app-foot></app-foot>

</div>