<div class="container-fluid">

    <app-head></app-head>

    <div class="row">
        <table>
            <tr>
                <td style="height: 12vh;">
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col w-100">
            <br>
            <div class="container-fluid">
                <nav class="breadcrumb bg-white">
                    <a class="breadcrumb-item" href="#">首頁</a>
                    <a class="breadcrumb-item">愛潛水</a>
                    <a class="breadcrumb-item">輕裝</a>
                </nav>
            </div>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-xl">
        </div>
        <div class="col-xl-10">
            <!-- 防寒衣 -->
            <div>
                <h4>防寒衣</h4>
                <hr>
                <table width="95%" style="table-layout: fixed;">
                    <tr>
                        <td>
                            <img src="../../../assets/Image/Data/Aropec.png" />
                            <li>Aropec 長袖防風防寒刷毛上衣 XS~3XL</li>
                            <p class="fs-6">店內價：3,420</p>
                        </td>
                        <td>
                            <img src="../../../assets/Image/Data/Heleiwaho_1.png" />
                            <li>Hele I Waho 2 mm 男款雙面穿頭套背心 L~2XL</li>
                            <p class="fs-6">店內價：1,980</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../../../assets/Image/Data/Heleiwaho_2.png" />
                            <li>Hele I Waho 2.5mm 男女款前開拉鍊式背心 發熱布料 S~L</li>
                            <p class="fs-6">店內價：2,450</p>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- 面鏡 -->
            <div>
                <h4>面鏡</h4>
                <hr>
                <img src="../../../assets/Image/Data/TUSA_M1002.png" width="20%" />
                <p class="fs-6">TUSA M212</p>
                <p class="fs-6">店內價：2,400</p>
                <img src="../../../assets/Image/Data/TUSA_M212.png" width="20%" />
                <p class="fs-6">TUSA M212</p>
                <p class="fs-6">店內價：2,400</p>
                <img src="../../../assets/Image/Data/TUSA_M211S.png" width="20%" />
                <p class="fs-6">TUSA M211S</p>
                <p class="fs-6">店內價：2,950</p>
                <img src="../../../assets/Image/Data/TUSA_M1003.png" width="20%" />
                <p class="fs-6">TUSA M1003</p>
                <p class="fs-6">店內價：3,100</p>
                <img src="../../../assets/Image/Data/Tusa_SF22.png" />
                <p class="fs-6">TUSA SF22</p>
                <p class="fs-6">店內價：4,150</p>
                <img src="../../../assets/Image/Data/GULL_Supermew_XX.png" />
                <p class="fs-6">GULL Supermew XX</p>
                <p class="fs-6">店內價：4,750</p>
                <img src="../../../assets/Image/Data/Mares_AQP.png" />
                <p class="fs-6">Mares Quattro Plus 四線金剛</p>
                <p class="fs-6">店內價：3,800</p>
                <img src="../../../assets/Image/Data/Mares_Power_Plana.png" />
                <p class="fs-6">Mares Power Plana</p>
                <p class="fs-6">店內價：5,400</p>
                <img src="../../../assets/Image/Data/GULL_MEW.png" />
                <p class="fs-6">GULL Mew</p>
                <p class="fs-6">店內價：2,850</p>
                <img src="../../../assets/Image/Data/Mares_AHP.png" />
                <p class="fs-6">Mares Avanti HC Pro</p>
                <p class="fs-6">店內價：2,700</p>
            </div>
        </div>
        <div class="col-xl">
        </div>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <app-foot></app-foot>

</div>