<div class="container-fluid">

    <app-head></app-head>

    <div class="row">
        <table>
            <tr>
                <td style="height: 12vh;">
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <!-- <img src="../../../../assets/Image/Data/OWD_Marketing_Area_01.png" width="99%" style="display:block; margin:auto;"
      alt="潛水 潛水證照 水肺證照 水肺潛水課程 台北學潛水 潛水課程 東北角 龍洞灣 台北水肺潛水課程 水肺潛水" /> -->

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col w-100">
            <br>
            <div class="container-fluid">
                <nav class="breadcrumb bg-white">
                    <a class="breadcrumb-item" href="#">首頁</a>
                    <a class="breadcrumb-item">學潛水</a>
                    <a class="breadcrumb-item">開放水域潛水員</a>
                </nav>
            </div>
            <br>
        </div>
    </div>

    <!-- https://mdbootstrap.com/docs/angular/layout/grid-usage/ -->
    <!-- https://mdbootstrap.com/docs/angular/layout/grid-examples/ -->
    <div class="row">
        <div class="col-xl">
        </div>
        <div class="col-xl-10">

            <br>
            <h3 style="font-family:DFKai-sb;">iDiving 介紹</h3>
            <br>
            <br>
            <!-- iDiving 介紹 宗旨 -->
            <div>
                <h3 style="font-family:DFKai-sb;">宗旨</h3>
                <hr>
                <table borderless="true">
                    <thead>
                        <tr>
                            <th class="fs-5">
                                <a style="font-family:DFKai-sb;">【這裡沒有任何的壓力，只有深深的誘惑 ～】</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="1%" style="vertical-align:text-top;">
                                <a class="fs-5">
                                    iDiving 成立於2011年冬，愛潛水的我們希望提供一個優質的環境，<br>
                                    讓大家瞭解潛水的舒適，潛水的樂趣，潛水的美麗，<br>
                                    潛水的無憂無慮，潛水的全然放鬆 .........<br>
                                    太多太好的感受！<br>
                                    我們都希望你能一起來體會！<br>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
            <!-- iDiving 介紹 優點 -->
            <div>
                <h3 style="font-family:DFKai-sb;">優點</h3>
                <hr>
                <table borderless="true">
                    <thead>
                        <tr>
                            <th class="fs-5">
                                <a style="font-family:DFKai-sb;">【不只優秀，更求最好 ～】</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ul class="fs-5">
                                    <li>鑽石級潛水教練培訓中心，國際潛水認證標準、保證班課程、專業資深師資、最佳設施、頂級訓練裝備、分段學習、課程多元化、潛水生涯規劃輔導。</li>
                                    <li>學科課程：每月均有開課，若有缺課可和教練討論補課時間，讓您的學習保有彈性。SSI獨特的家中自習方案更讓工作繁忙的您能更加妥善利用您的空閒時間。</li>
                                    <li>海洋實習課程：除東北角外，還可搭配國內外潛水旅遊進行訓練。</li>
                                    <li>俱樂部制度：非營利性質，主要目的為推廣休閒潛水，協助潛水員舉辦各項社交活動，定期舉辦講座或影片欣賞，交流潛水知能。</li>
                                    <li>iDiving 每月均有眾多的潛水活動等您來參加。</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
            <!-- iDiving 介紹 營業據點 -->
            <div>
                <h3 style="font-family:DFKai-sb;">營業據點</h3>
                <hr>
                <!-- iDiving 前港店 -->
                <br>
                <div class="fs-5">
                    <span>iDiving 前港店</span>
                </div>
                <br>
                <ul>
                    <table class="fs-5">
                        <tr>
                            <td>
                                電話：(02)2882-7696
                            </td>
                        </tr>
                        <tr>
                            <td>
                                地址： 台北市士林區前港街8號
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../../../assets/Image/Data/mapqiangang.png">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-size: 30px;">前港店街景： <a style="font-size: 26px;"
                                        href="https://reurl.cc/mvlQXM" target="_blank">https://reurl.cc/mvlQXM</a></p>
                            </td>
                        </tr>
                    </table>
                    <table width="95%">
                        <tr>
                            <td>
                                <li>營業時間：(下列時間為門市營業時間，潛水訓練時間請依照開課時之規劃)</li>
                                <ol>
                                    <p>全年周一公休</p>
                                    <p>4月-10月 周二至周六 14:00~22:00 　周日13:00~19:00</p>
                                    <p>11月-3月 周二至周六 15:00~21:00 　周日13:00~19:00</p>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <li>停車資訊：前港公園、百齡高中地下停車場</li>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <li>搭乘大眾運輸工具，乘車資訊：</li>
                                <ol>
                                    <p>*搭乘台北捷運至劍潭站2號出口／3號出口，往承德路方向步行約5分鐘</p>
                                    <p>*搭乘公車：26、41、218、280、288、529、616、618、756等至圓山皇宮大廈，往前港街方向步行約3分鐘</p>
                                </ol>
                            </td>
                        </tr>
                    </table>
                </ul>
                <br>
                <!-- iDiving 龍洞店 -->
                <br>
                <div class="fs-5">
                    <span>iDiving 龍洞店</span>
                </div>
                <br>
                <ul>
                    <table class="fs-5">
                        <tr>
                            <td>
                                電話：(02) 2491-1639
                            </td>
                        </tr>
                        <tr>
                            <td>
                                地址： 新北市貢寮區龍洞街66-1號 <br>
                                （導航路徑請設定 iDiving龍洞，濱海公路/台2縣，到龍洞灣公園對面巷子進去就抵達）
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../../../assets/Image/Data/mapdragon.png">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-size: 30px;">龍洞店街景： <a style="font-size: 26px;"
                                        href="https://reurl.cc/KrM5Zq"
                                        target="_blank">https://reurl.cc/KrM5Zq</a>（新味小吃左側巷子進入）</p>
                                <p style="font-size: 30px;">iDiving 龍洞店街景： <a style="font-size: 26px;"
                                        href="https://reurl.cc/GbAOx3" target="_blank">https://reurl.cc/GbAOx3</a></p>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td>
                                <li>營業時間：</li>
                                <ol>
                                    <p>4月-10月 周六至周日 08:00~17:00</p>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <li>停車資訊：龍洞灣海洋公園大型停車場、濱海公路兩側路邊停車</li>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <li>搭乘大眾運輸工具，乘車資訊：</li>
                                <ol>
                                    <p>*基隆火車站乘車-基隆客運791(國家新城-福隆)→龍洞灣公園站下車</p>

                                    <p>
                                        *瑞芳火車站乘車-基隆客運台灣好行黃金福隆線856(瑞芳火車站-福隆遊客中心)→龍洞灣公園站下車<br>
                                        <a href="https://www.taiwantrip.com.tw/line/32?x=1&y=4"
                                            target="_blank">https://www.taiwantrip.com.tw/line/32?x=1&y=4</a>
                                        -基隆客運886(瑞芳-和美國小)→龍洞灣公園站下車
                                    </p>

                                    <p>
                                        *台北火車站乘車-國光客運1811(台北火車站-羅東) 或 1812(台北火車站-南方澳)→龍洞公園站下車<br>
                                        <a href="http://www.kingbus.com.tw/ticketPriceResult.php?sid=116"
                                            target="_blank">http://www.kingbus.com.tw/ticketPriceResult.php?sid=116</a>
                                        平日可至
                                    </p>

                                    <p>
                                        *貢寮火車站-新巴士F837(貢寮火車站-鼻頭里停車場)或F839(貢寮火車站-鼻頭角)→龍洞灣公園站下車。<br>
                                        <a href="https://ebus.gov.taipei/EBus/VsSimpleMap?rid=16971&sec=0#"
                                            target="_blank">https://ebus.gov.taipei/EBus/VsSimpleMap?rid=16971&sec=0#</a>
                                    </p>
                                </ol>
                            </td>
                        </tr>
                    </table>
                </ul>
            </div>
            <!-- iDiving 介紹 聯絡方式 -->
            <div>
                <h3 style="font-family:DFKai-sb;">聯絡方式</h3>
                <hr>
                <ul class="fs-5">
                    <li>網站 : <a href="http://www.idiving.com.tw">www.idiving.com.tw</a></li>
                    <li> Facebook 粉絲團 : <a href="http://www.facebook.com/iDivingFans"
                            target="_blank">www.facebook.com/iDivingFans</a></li>
                    <li> Email : <a href="mailto:info@idiving.com.tw">info@idiving.com.tw</a></li>
                    <br />
                    <li>電話：<a href="tel:0228827696">(02)2882-7696</a></li>
                    <li>傳真：<a href="fax:0228827656">(02)2882-7656</a></li>
                    <li>Line@：<a href="https://lin.ee/ge19YeP"><img
                                src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" alt="加入好友"
                                height="36" border="0"></a></li>
                </ul>
                <br>
            </div>
            <!-- iDiving 介紹 匯款資訊 -->
            <div>
                <h3 style="font-family:DFKai-sb;">匯款資訊</h3>
                <hr>
                <table class="fs-5">
                    <tr>
                        <td width="50%">
                            <div>
                                iDiving全方位潛水中心 公司帳戶<br/>
                                戶名：愛潛水股份有限公司<br/>
                                銀行：中國信託<br/>
                                代號：822<br/>
                                分行：士林分行<br/>
                                帳號：285-54009941-9
                            </div>
                        </td>
                        <td style="text-align:center;">
                            <a href="https://qrcodepay.line.me/qr/payment/BFa6dpxPyIqmQNW1%252BROqnuOelPoYVNue6BtRrOyn38XyEXKgjG7kCCpynr2eGqFo" target="_blank">
                                <img width="50%" src="../../../assets/Data/lineqrcode.png">
                            </a>
                        </td>
                    </tr>
                </table>
                <br>
            </div>

        </div>
        <div class="col-xl">
        </div>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <app-foot></app-foot>

</div>