<div class="container-fluid">

  <app-head></app-head>

  <div class="row">
    <table>
      <tr>
        <td style="height: 12vh;">
        </td>
      </tr>
      <tr>
        <td>
        </td>
      </tr>
    </table>
  </div>

  <div class="row">
    <table>
      <tr>
        <td>
        </td>
      </tr>
      <tr>
        <td>
        </td>
      </tr>
    </table>
  </div>

  <div class="row">
    <div class="col">
      <br>
      <div class="container-fluid">
        <nav class="breadcrumb bg-white">
          <a class="breadcrumb-item" href="#">首頁</a>
          <a class="breadcrumb-item">學潛水</a>
          <a class="breadcrumb-item">開放水域潛水員</a>
        </nav>
      </div>
      <br>
    </div>
  </div>

  <!-- https://mdbootstrap.com/docs/angular/layout/grid-usage/ -->
  <!-- https://mdbootstrap.com/docs/angular/layout/grid-examples/ -->
  <div class="row">
    <div class="col-xl">
    </div>
    <div class="col-xl-8">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>假日班</a>
          <ng-template ngbNavContent class="custom-class">
            <br>
            <h3 style="font-family:DFKai-sb;">Open Water Diver 假日班</h3>
            <hr>
            <!-- 假日班 課程內容 -->
            <div>
              <h3 style="font-family:DFKai-sb;">課程內容</h3>
              <ul>
                <li class="fs-6">
                  學科（9hr）<br>
                  潛水物理學／潛水生理學／裝備介紹／海洋環境／生態介紹／潛伴價值／潛水流程
                </li>
                <li class="fs-6">
                  泳池訓練（4hr）<br>
                  裝備調整／潛水技巧練習／狀況模擬／障礙排除
                </li>
                <li class="fs-6">
                  海洋訓練（12hr）<br>
                  技巧複習／狀況模擬及障礙排除／方向辨認／潛水日誌記錄
                </li>
              </ul>
              <br>
              <img src="../../../../assets/Image/Data/OWD_Marketing_Area_01.jpg" width="100%"
                style="display:block; margin:auto;" alt="潛水 潛水證照 水肺證照 水肺潛水課程 台北學潛水 潛水課程 東北角 龍洞灣 台北水肺潛水課程 水肺潛水" />
            </div>
            <!-- 假日班 課程特色 -->
            <div>
              <h3 style="font-family:DFKai-sb;"><br>課程特色</h3>
              <ul class="fs-6">
                <li>
                  SSI數位教材搭配MySSI APP，課前預習與紀錄潛水日誌好方便。
                </li>
                <li>
                  合格的領導級人員與學員比例2：3~5（不含移地結訓部分）。
                </li>
                <li>
                  超值贈品方案，合身且全新的裝備好衛生，日後潛水省下輕裝租借費。
                </li>
                <li>
                  海洋課程期間提供電腦錶使用，讓潛水過程安全又方便。
                </li>
                <li>
                  課程結訓後一年內，參加東北角岸潛活動享有迎新優惠價，每個場次最低只需要1000元（含裝備租借）
                </li>
              </ul>
              <br>
              <img src="../../../../assets/Image/Data/OWD_Marketing_Area_02.jpg" width="100%"
                style="display:block; margin:auto;" alt="潛水 潛水證照 水肺證照 水肺潛水課程 台北學潛水 潛水課程 東北角 龍洞灣 台北水肺潛水課程 水肺潛水" />
            </div>
            <!-- 假日班 課程規劃 -->
            <div>
              <h3 style="font-family:DFKai-sb;"><br>課程規劃</h3>
              <table borderless="true">
                <tbody>
                  <tr>
                    <td width="10%">
                    </td>
                    <td>
                      <a class="fs-6">
                        DAY 1 | 學科 13:00~18:30<br>
                        <hr>
                        潛水物理學<br>
                        潛水生理學<br>
                        裝備介紹與組裝練習<br>
                        贈品套量
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                      <a class="fs-6">
                        <br>DAY 2 | 泳池訓練＋學科 08:00~17:00<br>
                        <hr>
                        裝備調整<br>
                        潛水技巧練習<br>
                        狀況模擬及障礙排除
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                      <a class="fs-6">
                        <br>DAY 3 | 開放水域 08:15~18:00<br>
                        <hr>
                        潛水技巧練習<br>
                        水中障礙排除<br>
                        潛水日誌記錄<br>
                        裝備清洗
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                      <a class="fs-6">
                        <br>DAY 4 | 開放水域 09:15~18:00<br>
                        <hr>
                        潛水技巧複習<br>
                        狀況模擬及障礙排除<br>
                        水中方向辨認<br>
                        Fun Dive體驗
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br>

              <mdb-carousel class="carousel slide carousel-fade" interval="false" [animation]="'fade'">
                <mdb-carousel-item *ngFor="let Weekender of Weekenders; let i = index">
                  <div class="view">
                    <img class="d-block" src="{{Weekender.img}}" width="100%" style="display:block; margin:auto;"
                      alt="First slide">
                  </div>
                </mdb-carousel-item>
              </mdb-carousel>

            </div>
            <!-- 假日班 課程學費 -->
            <!-- 方案一  -->
            <div>
              <br>
              <br>
              <h3 style="font-family:DFKai-sb;">課程學費</h3>
              <br>
              <a class="fs-5" style="color: orange;">定價 19,800 元（含贈品）</a>
              <ul>
                <li>現金優惠，課程費用付現，可折扣 600 元。</li>
                <li>
                  自備輕裝 ( 不要贈品 ) 可折扣 3000 元，但自備之裝備需經教練確認安全無虞，才可在課程中使用！<br>
                  註：以上優惠只要符合條件，可合併使用
                </li>
                <li>費用包含：輕裝組、SSI數位教材、國際數位證照申請、教練費、訓練期間潛水重裝使用（浮力調整裝置、調節器、電腦錶）、旅遊平安保險。</li>
                <li>費用不含：海洋實習交通與用餐費用、浮潛裝備租借。</li>
              </ul>
              <a class="fs-5" style="color: red;">除特殊優惠外，以下優惠合併最高折扣3300！</a>
              <br>
              <a class="fs-5" style="color: orange;">團結就是優惠! </a>
              <ul>
                <li>
                  兩人成行，每人折扣 700 元<br>
                  三人同樂，每人折扣 1200 元<br>
                  四五成群，每人折扣 1700 元<br>
                  六人以上請來電洽談。
                </li>
              </ul>
              <a class="fs-6" style="color: orange;">老同學秀臉有優惠!</a>
              <ul>
                <li>iDiving 的 自潛Lv1/人魚學員，可再享有1000 元折扣。</li>
              </ul>
              <a class="fs-6" style="color: orange;">凍不了我的潛水夢!</a>
              <ul>
                <li>報名4/16-5/21 區間之課程，優惠1000元</li>
                <li>報名5/23-6/18 區間之課程，優惠500元</li>
                <li>適合提早規劃又耐寒的學員! (夏初水溫稍低20-25之間)</li>
              </ul>
              <a class="fs-6" style="color: orange;">迎接2023超優惠! &nbsp; <a class="fs-6" style="color: red;">1/9 23:59 下架</a></a>
              <ul>
                <li>
                  12/31前完成報名者，可享2400元優惠! <br>
                  完成報名 = 填寫線上表單 + 繳交訂金
                </li>
              </ul>
              <a class="fs-6" style="color: orange;">吼哩虎年紅包價!  不合併其他優惠! &nbsp; <a class="fs-6" style="color: red;">1/10 00:00上架</a></a>
              <ul>
                <li>1/22 前完成報名者，可享甜甜紅包價 16800</li>
                <li>完成報名 = 填寫線上表單 + 繳交訂金</li>
                <li>可再享現金優惠，課程費用付現，可折扣 600 元。</li>
              </ul>
              <ul>
                <li style="color: red;">假日班學生可改於平日班完成術科，無額外優惠，亦不須額外付費。</li>
              </ul>
              <img src="../../../../assets/Image/Data/22OWDgiveaway.png" width="100%" style="display:block; margin:auto;" 
                  alt="潛水 潛水證照 水肺證照 水肺潛水課程 台北學潛水 潛水課程 東北角 龍洞灣 台北水肺潛水課程 水肺潛水" />
              <ul>
                <li>
                  贈品:<br>
                  全套總價14,000元。<br>
                  面鏡、呼吸管、防寒衣、潛水手套、套鞋、蛙鞋、網袋
                </li>
              </ul>
            </div>
            <!-- 假日班 報名方式 -->
            <div>
              <br>
              <app-paymentmethod></app-paymentmethod>
              <br>
            </div>
            <!-- 假日班 考核標準 -->
            <div>
              <br>
              <h3 style="font-family:DFKai-sb;">考核標準</h3>
              <hr>
              <table borderless="true">
                <tbody>
                  <tr>
                    <td class="fs-6" colspan="2">
                      <a>學員結訓均需達到學科與術科課程標準之評鑑</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="fs-6" width="50px" style="vertical-align:text-top;">
                      <a>學科:</a>
                    </td>
                    <td class="fs-6">
                      <a>需通過筆試測驗（成績達80分以上），未達標準需於檢討後重考。</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="fs-6" width="50px" style="vertical-align:text-top;">
                      <a>術科:</a>
                    </td>
                    <td class="fs-6">
                      <a>平靜水域所學之潛水技巧須在開放水域操作，並接受教練評鑑。</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- 假日班 上課地點 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">上課地點</h3>
                <hr>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td class="fs-6" colspan="2">
                                <a>上課地點，往返之交通請自行處理，若有需要可以詢問是否能代為安排</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" width="100px" style="vertical-align:text-top;">
                                <a>教室學科:</a>
                            </td>
                            <td class="fs-6">
                                <a>iDiving 士林前港店（台北市士林區前港街 8 號）</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <a>海洋實習:</a>
                            </td>
                            <td class="fs-6">
                                <a>iDiving 東北角龍洞店（新北市貢寮區龍洞街 66-1 號）</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <a>註: </a>
                            </td>
                            <td class="fs-6">
                                <a>
                                  上課地點與時間可能視狀況調整（如遇天候不佳或泳池場地整修等），若有額外增加的費用本中心將自行吸收，不會另外收費，但學員不可因課程時間調整而要求退費。
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 假日班 特約課程 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">特約課程</h3>
                <hr>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>學科部份，每另外約一日課程加價 300 元</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>術科部份，每另外約一日課程加價 500 元</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>三人同行，一起約定特殊時間上課，不須額外加價。</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>指定教練，須加價500元/日，如果該名教練已安排其他課程或出團恕無法指定。</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 假日班 更改辦法 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">更改辦法</h3>
                <hr>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>課程須於開始上課後的兩個月內完成。</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>上課日期之更改須在 10 天前告知</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>上課日期 10 天內調整，每次需收取調整費 500 元</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>上課當天通知要更改日期或曠課未通知則需收取調整費 1,000 元</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>因身體不適，出示醫院掛號單據者則不收取。</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>女性夥伴參加課程前請自行評估生理期影響。</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 假日班 取消辦法 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">取消辦法</h3>
                <hr>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>學員自行放棄課程，本訓練中心將不予退費。</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>若因身體因素而不適合從事潛水活動，並開立醫生證明者，繳交之費用退費方式如下:</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                            </td>
                            <td class="fs-6">
                                <a>
                                  1. NT 3,000 元訂金用做購買線上教材，無法退費。<br>
                                  2. 開課前 30 天以上，退回全新贈品，可退費NT 12,000元。<br>
                                  3. 開課前 30 天之內，退回全新贈品，可退費NT 10,000元。<br>
                                  4. 已上過學科，退回全新贈品，可退費NT 8,000元。<br>
                                  5 .已上過泳池課程或贈品已使用，可退費NT 4,000元。<br>
                                  6. 已上過海洋實習，恕不退費。
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>平日班</a>
          <ng-template ngbNavContent>
            <br>
            <h3 style="font-family:DFKai-sb;">Open Water Diver 平日班</h3>
            <hr>
            <!-- 平日班 課程介紹 -->
            <div>
              <h3 style="font-family:DFKai-sb;">課程內容</h3>
              <ul>
                <li class="fs-6">
                  學科（9hr）<br>
                  潛水物理學／潛水生理學／裝備介紹／海洋環境／生態介紹／潛伴價值／潛水流程
                </li>
                <li class="fs-6">
                  泳池訓練（4hr）<br>
                  裝備調整／潛水技巧練習／狀況模擬／障礙排除
                </li>
                <li class="fs-6">
                  海洋訓練（12hr）<br>
                  技巧複習／狀況模擬及障礙排除／方向辨認／潛水日誌記錄
                </li>
              </ul>
              <br>
              <img src="../../../../assets/Image/Data/OWD_Marketing_Area_01.jpg" width="100%"
                style="display:block; margin:auto;" alt="潛水 潛水證照 水肺證照 水肺潛水課程 台北學潛水 潛水課程 東北角 龍洞灣 台北水肺潛水課程 水肺潛水" />
            </div>
            <!-- 平日班 課程特色 -->
            <div>
              <h3 style="font-family:DFKai-sb;"><br>課程特色</h3>
              <ul class="fs-6">
                <li>
                  SSI數位教材搭配MySSI APP，課前預習與紀錄潛水日誌好方便。
                </li>
                <li>
                  合格的領導級人員與學員比例2：3~5（不含移地結訓部分）。
                </li>
                <li>
                  超值贈品方案，合身且全新的裝備好衛生，日後潛水省下輕裝租借費。
                </li>
                <li>
                  海洋課程期間提供電腦錶使用，讓潛水過程安全又方便。
                </li>
                <li>
                  課程結訓後一年內，參加東北角岸潛活動享有迎新優惠價，每個場次最低只需要1000元（含裝備租借）
                </li>
              </ul>
              <br>
              <img src="../../../../assets/Image/Data/OWD_Marketing_Area_02.jpg" width="100%"
                style="display:block; margin:auto;" alt="潛水 潛水證照 水肺證照 水肺潛水課程 台北學潛水 潛水課程 東北角 龍洞灣 台北水肺潛水課程 水肺潛水" />
            </div>
            <!-- 平日班 課程規劃 -->
            <div>
              <h3 style="font-family:DFKai-sb;"><br>課程規劃</h3>
              <table borderless="true">
                <tbody>
                  <tr>
                    <td width="10%">
                    </td>
                    <td>
                      <a class="fs-6">
                        DAY 1 | 學科 13:00~18:30<br>
                        <hr>
                        潛水物理學<br>
                        潛水生理學<br>
                        裝備介紹與組裝練習<br>
                        贈品套量
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                      <a class="fs-6">
                        <br>DAY 2 | 泳池訓練＋學科 08:00~17:00<br>
                        <hr>
                        裝備調整<br>
                        潛水技巧練習<br>
                        狀況模擬及障礙排除
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                      <a class="fs-6">
                        <br>DAY 3 | 開放水域 08:15~18:00<br>
                        <hr>
                        潛水技巧練習<br>
                        水中障礙排除<br>
                        潛水日誌記錄<br>
                        裝備清洗
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                      <a class="fs-6">
                        <br>DAY 4 | 開放水域 09:15~18:00<br>
                        <hr>
                        潛水技巧複習<br>
                        狀況模擬及障礙排除<br>
                        水中方向辨認<br>
                        Fun Dive體驗
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br>

              <mdb-carousel class="carousel slide carousel-fade" interval="false" [animation]="'fade'">
                <mdb-carousel-item  *ngFor="let Weekday of Weekdays; let i = index">
                  <div class="view">
                    <img class="d-block" src="{{Weekday.img}}" width="100%" style="display:block; margin:auto;" alt="First slide">
                  </div>
                </mdb-carousel-item>
              </mdb-carousel>

            </div>
            <!-- 平日班 超值學費 -->
            <!-- 方案一  -->
            <div>
              <br>
              <br>
              <h3 style="font-family:DFKai-sb;">課程學費</h3>
              <br>
              <a class="fs-5" style="color: orange;">定價 19,800 元（含贈品）</a>
              <ul>
                <li>現金優惠，課程費用付現，可折扣 600 元。</li>
                <li>
                  自備輕裝 ( 不要贈品 ) 可折扣 3000 元，但自備之裝備需經教練確認安全無虞，才可在課程中使用！<br>
                  註：以上優惠只要符合條件，可合併使用
                </li>
                <li>費用包含：輕裝組、SSI數位教材、國際數位證照申請、教練費、訓練期間潛水重裝使用（浮力調整裝置、調節器、電腦錶）、旅遊平安保險。</li>
                <li>費用不含：海洋實習交通與用餐費用、浮潛裝備租借。</li>
              </ul>
              <a class="fs-5" style="color: red;">除特殊優惠外，以下優惠合併最高折扣3300！</a>
              <br>
              <a class="fs-5" style="color: orange;">團結就是優惠! </a>
              <ul>
                <li>
                  兩人成行，每人折扣 700 元<br>
                  三人同樂，每人折扣 1200 元<br>
                  四五成群，每人折扣 1700 元<br>
                  六人以上請來電洽談。
                </li>
              </ul>
              <a class="fs-6" style="color: orange;">老同學秀臉有優惠!</a>
              <ul>
                <li>iDiving 的 自潛Lv1/人魚學員，可再享有1000 元折扣。</li>
              </ul>
              <a class="fs-6" style="color: orange;">凍不了我的潛水夢!</a>
              <ul>
                <li>報名4/16-5/21 區間之課程，優惠1000元</li>
                <li>報名5/23-6/18 區間之課程，優惠500元</li>
                <li>適合提早規劃又耐寒的學員! (夏初水溫稍低20-25之間)</li>
              </ul>
              <a class="fs-6" style="color: orange;">迎接2023超優惠! &nbsp; <a class="fs-6" style="color: red;">1/9 23:59 下架</a></a>
              <ul>
                <li>
                  12/31前完成報名者，可享2400元優惠! <br>
                  完成報名 = 填寫線上表單 + 繳交訂金
                </li>
              </ul>
              <a class="fs-6" style="color: orange;">吼哩虎年紅包價!  不合併其他優惠! &nbsp; <a class="fs-6" style="color: red;">1/10 00:00上架</a></a>
              <ul>
                <li>1/22 前完成報名者，可享甜甜紅包價 16800</li>
                <li>完成報名 = 填寫線上表單 + 繳交訂金</li>
                <li>可再享現金優惠，課程費用付現，可折扣 600 元。</li>
              </ul>
              <ul>
                <li style="color: red;">假日班學生可改於平日班完成術科，無額外優惠，亦不須額外付費。</li>
              </ul>
              <img src="../../../../assets/Image/Data/22OWDgiveaway.png" width="100%" style="display:block; margin:auto;" 
                  alt="潛水 潛水證照 水肺證照 水肺潛水課程 台北學潛水 潛水課程 東北角 龍洞灣 台北水肺潛水課程 水肺潛水" />
              <ul>
                <li>
                  贈品:<br>
                  全套總價14,000元。<br>
                  面鏡、呼吸管、防寒衣、潛水手套、套鞋、蛙鞋、網袋
                </li>
              </ul>
            </div>
            <!-- 平日班 報名方式 -->
            <div>
              <br>
              <app-paymentmethod></app-paymentmethod>
              <br>
            </div>
            <!-- 平日班 考核標準 -->
            <div>
              <br>
              <h3 style="font-family:DFKai-sb;">考核標準</h3>
              <hr>
              <table borderless="true">
                <tbody>
                  <tr>
                    <td class="fs-6" colspan="2">
                      <a>學員結訓均需達到學科與術科課程標準之評鑑</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="fs-6" width="50px" style="vertical-align:text-top;">
                      <a>學科:</a>
                    </td>
                    <td class="fs-6">
                      <a>需通過筆試測驗（成績達80分以上），未達標準需於檢討後重考。</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="fs-6" width="50px" style="vertical-align:text-top;">
                      <a>術科:</a>
                    </td>
                    <td class="fs-6">
                      <a>平靜水域所學之潛水技巧須在開放水域操作，並接受教練評鑑。</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- 平日班 上課地點 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">上課地點</h3>
                <hr>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td class="fs-6" colspan="2">
                                <a>上課地點，往返之交通請自行處理，若有需要可以詢問是否能代為安排</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" width="100px" style="vertical-align:text-top;">
                                <a>教室學科:</a>
                            </td>
                            <td class="fs-6">
                                <a>iDiving 士林前港店（台北市士林區前港街 8 號）</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <a>海洋實習:</a>
                            </td>
                            <td class="fs-6">
                                <a>iDiving 東北角龍洞店（新北市貢寮區龍洞街 66-1 號）</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <a>註: </a>
                            </td>
                            <td class="fs-6">
                                <a>
                                  上課地點與時間可能視狀況調整（如遇天候不佳或泳池場地整修等），若有額外增加的費用本中心將自行吸收，不會另外收費，但學員不可因課程時間調整而要求退費。
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 平日班 特約課程 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">特約課程</h3>
                <hr>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>學科部份，每另外約一日課程加價 300 元</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>術科部份，每另外約一日課程加價 500 元</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>三人同行，一起約定特殊時間上課，不須額外加價。</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>指定教練，須加價500元/日，如果該名教練已安排其他課程或出團恕無法指定。</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 平日班 更改辦法 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">更改辦法</h3>
                <hr>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>課程須於開始上課後的兩個月內完成。</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>上課日期之更改須在 10 天前告知</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>上課日期 10 天內調整，每次需收取調整費 500 元</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>上課當天通知要更改日期或曠課未通知則需收取調整費 1,000 元</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>因身體不適，出示醫院掛號單據者則不收取。</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>女性夥伴參加課程前請自行評估生理期影響。</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 平日班 取消辦法 -->
            <div>
              <br>
              <h3 style="font-family:DFKai-sb;">取消辦法</h3>
              <hr>
              <table borderless="true">
                  <tbody>
                      <tr>
                          <td class="fs-6" style="vertical-align:text-top;">
                              <ul>
                                  <li></li>
                              </ul>
                          </td>
                          <td class="fs-6">
                              <a>學員自行放棄課程，本訓練中心將不予退費。</a>
                          </td>
                      </tr>
                      <tr>
                          <td class="fs-6" style="vertical-align:text-top;">
                              <ul>
                                  <li></li>
                              </ul>
                          </td>
                          <td class="fs-6">
                              <a>若因身體因素而不適合從事潛水活動，並開立醫生證明者，繳交之費用退費方式如下:</a>
                          </td>
                      </tr>
                      <tr>
                          <td class="fs-6" style="vertical-align:text-top;">
                          </td>
                          <td class="fs-6">
                              <a>
                                1. NT 3,000 元訂金用做購買線上教材，無法退費。<br>
                                2. 開課前 30 天以上，退回全新贈品，可退費NT 12,000元。<br>
                                3. 開課前 30 天之內，退回全新贈品，可退費NT 10,000元。<br>
                                4. 已上過學科，退回全新贈品，可退費NT 8,000元。<br>
                                5 .已上過泳池課程或贈品已使用，可退費NT 4,000元。<br>
                                6. 已上過海洋實習，恕不退費。
                              </a>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <br>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>冬季班</a>
          <ng-template ngbNavContent>
            <br>
            <h3 style="font-family:DFKai-sb;">Open Water Diver 冬季班</h3>
            <hr>
            <!-- 冬季班 課程內容 -->
            <div>
              <h3 style="font-family:DFKai-sb;">課程內容</h3>
              <ul>
                <li class="fs-6">
                  學科（9hr）<br>
                  潛水物理學／潛水生理學／裝備介紹／海洋環境／生態介紹／潛伴價值／潛水流程
                </li>
                <li class="fs-6">
                  泳池訓練（4hr）<br>
                  裝備調整／潛水技巧練習／狀況模擬／障礙排除
                </li>
                <li class="fs-6">
                  海洋訓練（12hr）<br>
                  技巧複習／狀況模擬及障礙排除／方向辨認／潛水日誌記錄
                </li>
              </ul>
              <br>
              <img src="../../../../assets/Image/Data/OWD_Marketing_Area_01.jpg" width="100%"
                style="display:block; margin:auto;" alt="潛水 潛水證照 水肺證照 水肺潛水課程 台北學潛水 潛水課程 東北角 龍洞灣 台北水肺潛水課程 水肺潛水" />
            </div>
            <!-- 冬季班 課程特色 -->
            <div>
              <h3 style="font-family:DFKai-sb;"><br>課程特色</h3>
              <ul class="fs-6">
                <li>
                  SSI數位教材搭配MySSI APP，課前預習與紀錄潛水日誌好方便。
                </li>
                <li>
                  合格的領導級人員與學員比例1：2~3。
                </li>
                <li>
                  超值贈品方案，合身且全新的裝備好衛生，日後潛水省下輕裝租借費。
                </li>
                <li>
                  海洋課程期間提供電腦錶使用，讓潛水過程安全又方便。
                </li>
                <li>
                  課程結訓後一年內，參加東北角岸潛活動享有迎新優惠價，每個場次最低只需要1000元（含裝備租借）。
                </li>
              </ul>
              <br>
              <img src="../../../../assets/Image/Data/OWD_Marketing_Area_032.jpg" width="100%"
                style="display:block; margin:auto;" alt="潛水 潛水證照 水肺證照 水肺潛水課程 台北學潛水 潛水課程 東北角 龍洞灣 台北水肺潛水課程 水肺潛水" />
            </div>
            <!-- 冬季班 課程規劃 -->
            <div>
              <h3 style="font-family:DFKai-sb;"><br>課程規劃</h3>
              <table borderless="true">
                <tbody>
                  <tr>
                    <td>
                      <a class="fs-6">
                        DAY 1 | 學科 + 泳池術科 08:00~18:30<br>
                        <hr>
                        潛水物理學、潛水生理學、贈品套量<br>
                        裝備介紹與組裝練習<br>
                        <br>
                        裝備調整<br>
                        潛水技巧練習<br>
                        狀況模擬及障礙排除
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a class="fs-6">
                        <br>DAY 2 | 學科 + 泳池術科 08:00~17:30<br>
                        <hr>
                        潛水計畫與執行、潛水電腦錶介紹<br>
                        海洋環境、海洋生物介紹<br>
                        <br>
                        潛水技巧練習<br>
                        狀況模擬及障礙排除
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a class="fs-6">
                        <br>DAY 3 | 開放水域 09:00~17:00<br>
                        <hr>
                        潛水技巧練習<br>
                        水中障礙排除<br>
                        日誌記錄<br>
                        裝備清洗
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a class="fs-6">
                        <br>DAY 4 | 開放水域 09:00~14:00<br>
                        <hr>
                        潛水技巧複習<br>
                        狀況模擬及障礙排除<br>
                        水中方向辨認<br>
                        Fun Dive體驗
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a class="fs-6" style="color: red;">
                        <br>
                        註:實際下水時間將依照現場情況調整
                        <br>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br>
              <img src="../../../../assets/Image/Data/OWD_Winter_Schedule_20222.png" width="100%"
                style="display:block; margin:auto;" alt="潛水 潛水證照 水肺證照 水肺潛水課程 台北學潛水 潛水課程 東北角 龍洞灣 台北水肺潛水課程 水肺潛水" />
            </div>
            <!-- 冬季班 課程學費 -->
            <!-- 方案一  -->
            <div>
              <br>
              <br>
              <h3 style="font-family:DFKai-sb;">課程學費</h3>
              <br>
              <a class="fs-5" style="color: orange;">定價 19,800 元（含贈品）</a>
              <ul>
                <li>現金優惠，課程費用付現，可折扣 600 元。</li>
                <li>
                  自備輕裝 ( 不要贈品 ) 可折扣 3000 元，但自備之裝備需經教練確認安全無虞，才可在課程中使用！<br>
                  註：以上優惠只要符合條件，可合併使用
                </li>
                <li>費用包含：輕裝組、SSI數位教材、國際數位證照申請、教練費、訓練期間潛水重裝使用（浮力調整裝置、調節器、電腦錶）、旅遊平安保險。</li>
                <li>費用不含：海洋實習交通與用餐費用、浮潛裝備租借。</li>
              </ul>
              <a class="fs-5" style="color: red;">除特殊優惠外，以下優惠合併最高折扣3300！</a>
              <br>
              <a class="fs-5" style="color: orange;">團結就是優惠! </a>
              <ul>
                <li>
                  兩人成行，每人折扣 700 元<br>
                  三人同樂，每人折扣 1200 元<br>
                  四五成群，每人折扣 1700 元<br>
                  六人以上請來電洽談。
                </li>
              </ul>
              <a class="fs-6" style="color: orange;">老同學秀臉有優惠!</a>
              <ul>
                <li>iDiving 的 自潛Lv1/人魚學員，可再享有1000 元折扣。</li>
              </ul>
              <a class="fs-6" style="color: orange;">凍不了我的潛水夢!</a>
              <ul>
                <li>報名4/16-5/21 區間之課程，優惠1000元</li>
                <li>報名5/23-6/18 區間之課程，優惠500元</li>
                <li>適合提早規劃又耐寒的學員! (夏初水溫稍低20-25之間)</li>
              </ul>
              <a class="fs-6" style="color: orange;">迎接2023超優惠! &nbsp; <a class="fs-6" style="color: red;">1/9 23:59 下架</a></a>
              <ul>
                <li>
                  12/31前完成報名者，可享2400元優惠! <br>
                  完成報名 = 填寫線上表單 + 繳交訂金
                </li>
              </ul>
              <a class="fs-6" style="color: orange;">吼哩虎年紅包價!  不合併其他優惠! &nbsp; <a class="fs-6" style="color: red;">1/10 00:00上架</a></a>
              <ul>
                <li>1/22 前完成報名者，可享甜甜紅包價 16800</li>
                <li>完成報名 = 填寫線上表單 + 繳交訂金</li>
                <li>可再享現金優惠，課程費用付現，可折扣 600 元。</li>
              </ul>
              <ul>
                <li style="color: red;">假日班學生可改於平日班完成術科，無額外優惠，亦不須額外付費。</li>
              </ul>
              <img src="../../../../assets/Image/Data/22OWDgiveaway.png" width="100%" style="display:block; margin:auto;" 
                  alt="潛水 潛水證照 水肺證照 水肺潛水課程 台北學潛水 潛水課程 東北角 龍洞灣 台北水肺潛水課程 水肺潛水" />
              <ul>
                <li>
                  贈品:<br>
                  全套總價14,000元。<br>
                  面鏡、呼吸管、防寒衣、潛水手套、套鞋、蛙鞋、網袋
                </li>
              </ul>
            </div>
            <!-- 冬季班 報名方式 -->
            <div>
              <br>
              <app-paymentmethod></app-paymentmethod>
              <br>
            </div>
            <!-- 冬季班 考核標準 -->
            <div>
              <br>
              <h3 style="font-family:DFKai-sb;">考核標準</h3>
              <hr>
              <table borderless="true">
                <tbody>
                  <tr>
                    <td class="fs-6" colspan="2">
                      <a>學員結訓均需達到學科與術科課程標準之評鑑</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="fs-6" width="50px" style="vertical-align:text-top;">
                      <a>學科:</a>
                    </td>
                    <td class="fs-6">
                      <a>需通過筆試測驗（成績達80分以上），未達標準需於檢討後重考。</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="fs-6" width="50px" style="vertical-align:text-top;">
                      <a>術科:</a>
                    </td>
                    <td class="fs-6">
                      <a>平靜水域所學之潛水技巧須在開放水域操作，並接受教練評鑑。</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- 冬季班 上課地點 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">上課地點</h3>
                <hr>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td class="fs-6" colspan="2">
                                <a>上課地點，往返之交通請自行處理，若有需要可以詢問是否能代為安排</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" width="100px" style="vertical-align:text-top;">
                                <a>教室學科:</a>
                            </td>
                            <td class="fs-6">
                                <a>iDiving 士林前港店（台北市士林區前港街 8 號）</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <a>海洋實習:</a>
                            </td>
                            <td class="fs-6">
                                <a>墾丁</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <a>註: </a>
                            </td>
                            <td class="fs-6">
                                <a>
                                  上課地點與時間可能視狀況調整（如遇天候不佳或泳池場地整修等），若有額外增加的費用本中心將自行吸收，不會另外收費，但學員不可因課程時間調整而要求退費。 墾丁離島移地訓練產生之費用需自付。
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 冬季班 特約課程 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">特約課程</h3>
                <hr>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>學科部份，每另外約一日課程加價 300 元</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>術科部份，每另外約一日課程加價 500 元</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>三人同行，一起約定特殊時間上課，不須額外加價。</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>指定教練，須加價500元/日，如果該名教練已安排其他課程或出團恕無法指定。</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 冬季班 更改辦法 -->
            <div>
                <br>
                <h3 style="font-family:DFKai-sb;">更改辦法</h3>
                <hr>
                <table borderless="true">
                    <tbody>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>課程須於開始上課後的兩個月內完成。</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>上課日期之更改須在 10 天前告知</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>上課日期 10 天內調整，每次需收取調整費 500 元</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>上課當天通知要更改日期或曠課未通知則需收取調整費 1,000 元</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>因身體不適，出示醫院掛號單據者則不收取。</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fs-6" style="vertical-align:text-top;">
                                <ul>
                                    <li></li>
                                </ul>
                            </td>
                            <td class="fs-6">
                                <a>女性夥伴參加課程前請自行評估生理期影響。</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 冬季班 取消辦法 -->
            <div>
              <br>
              <h3 style="font-family:DFKai-sb;">取消辦法</h3>
              <hr>
              <table borderless="true">
                  <tbody>
                      <tr>
                          <td class="fs-6" style="vertical-align:text-top;">
                              <ul>
                                  <li></li>
                              </ul>
                          </td>
                          <td class="fs-6">
                              <a>學員自行放棄課程，本訓練中心將不予退費。</a>
                          </td>
                      </tr>
                      <tr>
                          <td class="fs-6" style="vertical-align:text-top;">
                              <ul>
                                  <li></li>
                              </ul>
                          </td>
                          <td class="fs-6">
                              <a>若因身體因素而不適合從事潛水活動，並開立醫生證明者，繳交之費用退費方式如下:</a>
                          </td>
                      </tr>
                      <tr>
                          <td class="fs-6" style="vertical-align:text-top;">
                          </td>
                          <td class="fs-6">
                              <a>
                                1. NT 3,000 元訂金用做購買線上教材，無法退費。<br>
                                2. 開課前 30 天以上，退回全新贈品，可退費NT 12,000元。<br>
                                3. 開課前 30 天之內，退回全新贈品，可退費NT 10,000元。<br>
                                4. 已上過學科，退回全新贈品，可退費NT 8,000元。<br>
                                5 .已上過泳池課程或贈品已使用，可退費NT 4,000元。<br>
                                6. 已上過海洋實習，恕不退費。
                              </a>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <br>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="4">
          <a ngbNavLink>特約班</a>
          <ng-template ngbNavContent>
            <br>
            <h3 style="font-family:DFKai-sb;">Open Water Diver 特約班</h3>
            <hr>
            <!-- 特約班 課程介紹 -->
            <div>
              <h3 style="font-family:DFKai-sb;">課程內容</h3>
              <ul>
                <li class="fs-6">
                  學科（9hr）<br>
                  潛水物理學／潛水生理學／裝備介紹／海洋環境／生態介紹／潛伴價值／潛水流程
                </li>
                <li class="fs-6">
                  泳池訓練（4hr）<br>
                  裝備調整／潛水技巧練習／狀況模擬／障礙排除
                </li>
                <li class="fs-6">
                  海洋訓練（12hr）<br>
                  技巧複習／狀況模擬及障礙排除／方向辨認／潛水日誌記錄
                </li>
              </ul>
              <br>
              <img src="../../../../assets/Image/Data/OWD_Marketing_Area_01.jpg" width="100%"
                style="display:block; margin:auto;" alt="潛水 潛水證照 水肺證照 水肺潛水課程 台北學潛水 潛水課程 東北角 龍洞灣 台北水肺潛水課程 水肺潛水" />
            </div>
            <!-- 特約班 課程規劃 -->
            <div>
              <h3 style="font-family:DFKai-sb;"><br>課程規劃</h3>
              <a class="fs-6">
                您的排休無法自行安排又充滿變數嗎？ iDiving 為課程增加額外的彈性，您可以先報名，再客製化您的專屬上課時間！
              </a>
            </div>
            <!-- 特約班 超值學費 -->
            <div>
              <br>
              <h3 style="font-family:DFKai-sb;">課程學費</h3>
              <hr>
              <a class="fs-6" style="color: yellowgreen;">定價 19,000 元（含贈品）</a>
              <a class="fs-6">可搭配固定班，若時間無法配合則可以與 iDiving 另外約定時間上課！平日固定班資訊請參照平日班。</a>
              <a class="fs-6">特殊約定課程費用</a>
              <ul class="fs-6">
                <li>學科部份，每另外約一日課程加價 300 元</li>
                <li>術科部份，每另外約一日課程加價 500 </li>
                <li>三人同行，一起約定特殊時間上課，則不須額外加價。</li>
                <li>指定教練費：指定教練，加價 500 元/日，教練如果已安排既定課程或是出團，恕無法指定。</li>
              </ul>
            </div>
            <!-- 特約班 報名方式 -->
            <div>
              <br>
              <app-paymentmethod></app-paymentmethod>
              <br>
            </div>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>

      <!-- <pre>Active: {{ active }}</pre> -->

    </div>
    <div class="col-xl">
    </div>
  </div>

  <div class="row">
    <table>
      <tr>
        <td>
        </td>
      </tr>
      <tr>
        <td>
        </td>
      </tr>
    </table>
  </div>

  <app-foot></app-foot>

</div>