
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-flexbox;
  color: #6c757d;
  content: ">";
}

.btn {
    padding: 1.5rem 5.5rem !important;
  }

.bbc{
  font-size:15px;
  margin-left : 4em;
  text-indent : -4em ;
}

.bbbs{
  font-size : 21px;
  margin-left : -3em;
  text-indent : -3em;
}

.bbb{
  font-size : 21px;
}
