

<!-- https://angular-training-guide.rangle.io/routing/routeparams -->
<!-- https://codecraft.tv/courses/angular/routing/parameterised-routes/ -->

<div class="row">
    <table class="table table-borderless">
        <tr>
            <td>
                <a href="">
                    <img src="../../../assets/Image/Data/advertiseL.jpg " class="rounded mx-auto d-block" alt="...">
                </a>
            </td>
            <td>
                <a href="">
                    <img src="../../../../assets/Image/Logo.jpg" class="rounded mx-auto d-block" alt="...">
                </a>
            </td>
            <td>
                <a href="">
                    <img src="../../../assets/Image/Data/advertiseR.jpg" class="rounded mx-auto d-block" alt="...">
                </a>
            </td>
        </tr>
    </table>
</div>

<div class="container p-4">
    
    <div class="row">
        <!-- Default form subscription -->
        <form class="text-center border border-light p-5">

            <p>
                <a href="" target="_blank">@idiving_taiwan</a>
            </p>

            <p>水肺潛水｜自由潛水｜美人魚｜技術潛水｜國內外潛水旅遊｜裝備銷售與維修｜</p>
            
        </form>
    </div>
    
    <div class="row">
        <p class="text-center">
            得到的id : {{id}}
        </p>
    </div>

</div>

