<!-- 帶ID參數 -->
<!-- https://angular-training-guide.rangle.io/routing/routeparams -->
<!-- https://codecraft.tv/courses/angular/routing/parameterised-routes/ -->
<!-- 帶ID參數 可string -->
<!-- https://medium.com/@Idan_Co/angular-print-service-290651c721f9 -->

<div class="container">
    <a><br><hr><br></a>
</div>

<div class="container">
    <!-- example.component.html -->
    <div>
        <!-- Normal -->
        <button id="downloadButtonNormal" [vcdDownloadVCard]="vCard">
            Download VCard!
        </button>

        <br>
        <br>

        <!-- Generate VCard only on Click -->
        <button id="downloadButtonFunction" vcdDownloadVCard [generateVCardFunction]="generateVCardOnTheFly">
            Download generated VCard!
        </button>
    </div>
</div>

<div class="container">
    <a><br><hr><br></a>
</div>

<div class="container">
    <p>VCard String:</p>
    <p>{{vCardString}}</p>
</div>

<div class="container">
    <a><br><hr><br></a>
</div>

<div class="container">

    <div class="row">

        <table class="table table-borderless">
            <tr>
                <td>
                    <a href="">
                        <img src="../../../assets/Image/Data/advertiseL.jpg " class="rounded mx-auto d-block" alt="...">
                    </a>
                </td>
                <td>
                    <a href="">
                        <img src="../../../../assets/Image/Logo.png" class="rounded mx-auto d-block" alt="...">
                    </a>
                </td>
                <td>
                    <a href="">
                        <img src="../../../assets/Image/Data/advertiseR.jpg" class="rounded mx-auto d-block" alt="...">
                    </a>
                </td>
            </tr>
        </table>

        <!-- Default form subscription -->
        <form class="text-center">

            <p>
                <a href="" target="_blank">@idiving_taiwan</a>
            </p>

            <p>水肺潛水｜自由潛水｜美人魚｜技術潛水｜國內外潛水旅遊｜裝備銷售與維修｜</p>

            <p>
                得到的id : {{srcid}}
            </p>

        </form>
    </div>

</div>