<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>


<div class="container-fluid">

  <app-head></app-head>

  <div class="row">
    <table width="95%" style="table-layout: fixed;">
      <tr>
        <td>
        </td>
      </tr>
      <tr>
        <td>
        </td>
      </tr>
    </table>
  </div>

  <div class="row">
    <div class="col">
      <!--Carousel Wrapper-->
      <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
        <!--First slide-->
        <mdb-slide>
          <div class="view w-100">
            <img class="d-block w-100" src="../assets/Image/AD/01.jpg" alt="First slide">
            <!--<div class="rgba-black-light waves-light" mdbWavesEffect></div>-->
          </div>
          <!--<div class="carousel-caption">
          <h3 class="h3-responsive">Light mask</h3>
          <p>First text</p>
        </div>-->
        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
          <div class="view w-100">
            <img class="d-block w-100" src="../assets/Image/AD/02.jpg" alt="Second slide">
            <!--<div class="rgba-black-strong waves-light" mdbWavesEffect></div>-->
          </div>
          <!--<div class="carousel-caption">
          <h3 class="h3-responsive">Strong mask</h3>
          <p>Secondary text</p>
        </div>-->
        </mdb-slide>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-slide>
          <div class="view w-100">
            <img class="d-block w-100" src="../assets/Image/AD/03.jpg" alt="Third slide">
            <!--<div class="rgba-black-slight waves-light" mdbWavesEffect></div>-->
          </div>
          <!--<div class="carousel-caption">
          <h3 class="h3-responsive">Slight mask</h3>
          <p>Third text</p>
        </div>-->
        </mdb-slide>
        <!--/Third slide-->
        <mdb-slide>
          <div class="view w-100">
            <img class="d-block w-100" src="../assets/Image/AD/04.jpg" alt="Third slide">
            <!--<div class="rgba-black-slight waves-light" mdbWavesEffect></div>-->
          </div>
          <!--<div class="carousel-caption">
          <h3 class="h3-responsive">Slight mask</h3>
          <p>Third text</p>
        </div>-->
        </mdb-slide>
        <mdb-slide>
          <div class="view w-100">
            <img class="d-block w-100" src="../assets/Image/AD/05.jpg" alt="Third slide">
            <!--<div class="rgba-black-slight waves-light" mdbWavesEffect></div>-->
          </div>
          <!--<div class="carousel-caption">
          <h3 class="h3-responsive">Slight mask</h3>
          <p>Third text</p>
        </div>-->
        </mdb-slide>
      </mdb-carousel>
      <!--/.Carousel Wrapper-->
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table mdbTable>
        <thead>
          <tr>
            <th scope="col"> 課程期別 </th>
          </tr>
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of elements">
            <th scope="row">{{el.id}}</th>
            <td>{{el.first}}</td>
            <td>{{el.last}}</td>
            <td>{{el.handle}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <table mdbTable>
        <thead>
          <tr>
            <th scope="col"> 出團期別 </th>
          </tr>
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of elements">
            <th scope="row">{{el.id}}</th>
            <td>{{el.first}}</td>
            <td>{{el.last}}</td>
            <td>{{el.handle}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <app-foot></app-foot>
  
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
