<!-- 報名方式 -->
<div>
    <table borderless="true">
        <thead>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <!-- https://mdbootstrap.com/docs/standard/tools/builders/buttons/ -->
                    <button type="button" class="btn btn-primary btn-block" color="dark" rounded="true"
                        onclick="window.location.href='/#/cz01'">立即報名</button>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <br>
                    <h3 style="font-family:DFKai-sb;">報名方式</h3>
                    <hr>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">
                    <img width="75%" src="../../../../assets/Image/Data/MM_06.png"
                        style="display:block; margin:auto;" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <ol>
                        <li>
                            <a class="fs-5">
                                線上填寫報名表
                            </a>
                        </li>
                        <li>
                            <a class="fs-5">
                                繳交定金3,000元
                            </a>
                        </li>
                        <li>
                            <a class="fs-5">
                                匯款或Line pay 定金後，Line 告知我們確認期別
                            </a>
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td width="2%"style="vertical-align:text-top;">
                    <ul>
                        <li></li>
                    </ul>
                </td>
                <td>
                    <a class="fs-5">
                        收到定金與資料後，iDiving將會至SSI 註冊您的學籍。一經註冊，恕無法退定金。
                    </a>
                </td>
            </tr>
            <tr>
                <td style="vertical-align:text-top;">
                    <ul>
                        <li></li>
                    </ul>
                </td>
                <td>
                    <a class="fs-5">
                        上課前請備好個人照片，為申請潛水證照使用。
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>