<div class="container-fluid">

    <app-head></app-head>

    <div class="row">
        <table>
            <tr>
                <td style="height: 12vh;">
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col">
            <br>
            <div class="container-fluid">
                <nav class="breadcrumb bg-white">
                    <a class="breadcrumb-item" href="#">首頁</a>
                    <a class="breadcrumb-item">學潛水</a>
                    <a class="breadcrumb-item">高階專長潛水員</a>
                </nav>
            </div>
            <br>
        </div>
    </div>

    <!-- https://mdbootstrap.com/docs/angular/layout/grid-usage/ -->
    <!-- https://mdbootstrap.com/docs/angular/layout/grid-examples/ -->
    <div class="row">
        <div class="col-xl">
        </div>
        <div class="col-xl-8">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>減壓專長潛水員</a>
                    <ng-template ngbNavContent class="custom-class">
                        <br>
                        <h3 style="font-family:DFKai-sb;">減壓專長潛水員</h3>
                        <!-- 課程介紹 -->
                        <div>
                            <br>
                            <h3>課程介紹</h3>
                            <hr>
                            <table borderless="true" style="text-align: justify;">
                                <tr>
                                    <td class="fs-6">
                                        休閒潛水總是被減壓時間追著跑，電腦錶不小心進了減壓卻不知道怎麼辦？進了減壓害怕身體會受傷？
                                        到底該怎麼安全的執行減壓呢？上完課程後，你將學會有計畫的進行一次減壓潛水，不小心進入減壓時如何操作，
                                        與進減壓後但是氣源有限，我們如何判斷減壓的風險。讓我們未來讓潛水可以更加安全。
                                    </td>
                                </tr>
                            </table>
                            <br>
                            <table borderless="true" style="text-align: justify;">
                                <tr>
                                    <td><img src="../../../assets/Image/Data/DECO.jpg" width="100%" /></td>
                                </tr>
                            </table>
                            <br>
                            <table width="100%" style="text-align: justify;">
                                <tr class="fs-6">
                                    <span class="Large Important">
                                        報名條件：<br />
                                        基本條件需年滿16歲、已擁有24次的潛水紀錄、已取得深潛專長(DD)與高氧專長(EAN40)。
                                    </span>
                                </tr>
                            </table>
                        </div>
                        <!-- 課程規劃 -->
                        <div>
                            <br>
                            <h3>課程規劃</h3>
                            <hr>
            
                            <table mdbTable bordered="true" border="1" width="100%" style="text-align: justify;">
                                <tbody>
                                    <tr align="center">
                                        <td class="fs-6">&nbsp;</td>
                                        <td class="fs-6" style="font-weight:bold;">時 間</td>
                                        <td class="fs-6" style="font-weight:bold;">課 程 內 容</td>
                                        <td class="fs-6" style="font-weight:bold;">上課地點</td>
                                    </tr>
                                    <tr align="center">
                                        <td class="fs-6" style="font-weight:bold;vertical-align:middle">學 科</td>
                                        <td class="fs-6" valign="middle" style="font-weight:bold;vertical-align:middle;">6hr</td>
                                        <td class="fs-6" valign="middle" style="font-weight:bold;vertical-align:middle;">潛水生理學、減壓設備、減壓理論、執行減壓</td>
                                        <td class="fs-6" style="font-weight:bold;vertical-align:middle;">iDiving  教 室</td>
                                    </tr>
                                    <tr align="center">
                                        <td class="fs-6" style="font-weight:bold;vertical-align:middle">平靜水域</td>
                                        <td class="fs-6" valign="middle" style="font-weight:bold;vertical-align:middle;">1次</td>
                                        <td class="fs-6" valign="middle" style="font-weight:bold;vertical-align:middle;">裝備組裝與調整，安全檢查，交換階段氣瓶。</td>
                                        <td class="fs-6" style="font-weight:bold;vertical-align:middle;">平靜水域</td>
                                    </tr>
                                    <tr align="center">
                                        <td class="fs-6" style="font-weight:bold;vertical-align:middle">海洋實習</td>
                                        <td class="fs-6" valign="middle" style="font-weight:bold;vertical-align:middle;">3次</td>
                                        <td class="fs-6" valign="middle" style="font-weight:bold;vertical-align:middle;">模擬減壓，計算耗氣量，減壓潛水</td>
                                        <td class="fs-6" style="font-weight:bold;vertical-align:middle;">東北角或移地訓練</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 開課日期 -->
                        <div>
                            <br>
                            <h3>開課日期</h3>
                            <hr>
                            <img src="../../../assets/Image/Data/DECO_Schedule.png" width="98%" />
                        </div>
                        <!-- 超值學費 -->
                        <div>
                            <br>
                            <h3>超值學費</h3>
                            <hr>
                            <table width="100%" style="text-align: justify;">
                                <tr>
                                    <td class="fs-6" style="color: green;">定價：15,000元</td>
                                </tr>
                                <tr>
                                    <td class="fs-6" style="color: red;">1.現金優惠：折扣 300元</td>
                                </tr>
                                <tr>
                                    <td class="fs-6" style="color: red;">2.多人同行優惠：</td>
                                </tr>
                                <tr>
                                    <td class="fs-6" style="color: red;">兩人同行，折扣 1,000 元。</td>
                                </tr>
                                <tr>
                                    <td class="fs-6" style="color: red;">三人同行，折扣 1,500 元。</td>
                                </tr>
                                <tr>
                                    <td class="fs-6" style="color: red;">四人同行，折扣 2,000 元。</td>
                                </tr>
                                <tr>
                                    <td class="fs-6" style="color: red;">折扣優惠：現金優惠可與多人優惠併用</td>
                                </tr>
                            </table>
                            <br>
                            <table width="100%" style="text-align: justify;" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="fs-6" style="vertical-align:text-top;" nowrap>費用包含：</td>
                                    <td class="fs-6">重裝租借（含兩組調節器、氣瓶綁帶、與BC）、線上教材、國際數位證照申請、教練費、海洋實習氣瓶(背掛瓶與階段氣瓶)、保險費。</td>
                                </tr>
                                <tr>
                                    <td class="fs-6" style="vertical-align:text-top;">費用不含：</td>
                                    <td class="fs-6">
                                        輕裝租借、
                                        <samp style="color: red;">技術潛水電腦錶</samp>
                                        、移地海洋實習結訓之旅遊團費(交通食宿與出海船資)。
                                    </td>
                                </tr>
                            </table>
                            <br>
                        </div>
                        <!-- 報名方式 -->
                        <div>
                            <br>
                            <app-paymentmethod></app-paymentmethod>
                            <br>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>側掛</a>
                    <ng-template ngbNavContent class="custom-class">
                        <br>
                        <h3 style="font-family:DFKai-sb;">休閒側掛潛水員</h3>
                        <hr>
                        <!-- 課程內容 -->
                        <div>
                            <br>
                            <h3 style="font-family:DFKai-sb;">開課內容</h3>
                            <ul>
                                <li class="fs-6">
                                    學科（6hr）<br>
                                    側掛的優缺點、側掛裝備的基本配置
                                </li>
                                <li class="fs-6">
                                    泳池（3hr）<br>
                                    裝備組裝、水平中性浮力、原地旋轉、氣瓶位置改變、共用氣源練習
                                </li>
                                <li class="fs-6">
                                    海洋訓練（3次）<br>
                                    裝備組裝、水平中性浮力、原地旋轉、氣瓶位置改變、共用氣源練習
                                </li>
                            </ul>
                            <br>
                            <img src="../../../../assets/Image/Data/SC_RSM_01.png" width="60%"
                                style="display:block; margin:auto;">
                        </div>
                        <!-- 課程特色 -->
                        <div>
                            <h3 style="font-family:DFKai-sb;"><br>課程特色</h3>
                            <ul class="fs-6">
                                <li>
                                    教你如何使用側掛潛水裝備。
                                </li>
                                <li>
                                    海洋課程期間提供調節器、B.C.D.。
                                </li>
                                <li>
                                    平日 / 假日 均有開課，課程安排很方便。
                                </li>
                                <li>
                                    領導級人員對學員比例 1：2，教練時時刻刻都在您身旁。
                                </li>
                                <li>
                                    數位教材伴您一生，不必擔心知識忘記。
                                </li>
                                <li>
                                    學員上課期間，購買潛水器材享有學員優惠價。
                                </li>
                            </ul>
                            <br>
                            <img src="../../../../assets/Image/Data/SC_RSM_02.png" width="100%"
                                style="display:block; margin:auto;">
                        </div>
                        <!-- 課程規劃 -->
                        <div>
                            <h3 style="font-family:DFKai-sb;"><br>課程規劃</h3>
                            <table borderless="true">
                                <tbody>
                                    <tr>
                                        <td width="10%">
                                        </td>
                                        <td>
                                            <a class="fs-6">
                                                DAY 1 | 學科 19:00~22:00<br>
                                                <hr>
                                                側掛的由來、側掛的優勢、裝備介紹
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            <a class="fs-6">
                                                <br>DAY 2 | 裝備調整 19:00~22:00<br>
                                                <hr>
                                                調整側掛裝備至適當的狀態
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            <a class="fs-6">
                                                <br>DAY 3 | 平靜水域 13:00~17:00<br>
                                                <hr>
                                                裝備適應、中性浮力、氣瓶拆裝
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            <a class="fs-6">
                                                <br>DAY 4 | 開放水域 14:00~21:00<br>
                                                <hr>
                                                裝備組裝、水平中性浮力、原地旋轉、氣瓶位置改變、共用氣源練習
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <img class="d-block" src="../../../../assets/Image/Data/RSM_Schedule.png" width="100%" style="display:block; margin:auto;">
                        </div>
                        <!-- 課程學費 -->
                        <div>
                            <br>
                            <h3 style="font-family:DFKai-sb;">課程學費</h3>
                            <hr>
                            <ul class="fs-6">
                                <li style="color: green;">定價 12,000 元。</li>
                                <li>現金優惠，折扣 300 元。</li>
                                <li>費用包含：SSI數位教材、國際數位證照申請、教練費、訓練期間潛水重裝使用（浮力調整裝置、調節器、電腦錶）、旅遊平安保險。</li>
                                <li>費用不含：海洋實習交通與餐食費用、輕裝租借。</li>
                            </ul>
                            <br>
                        </div>
                        <!-- 報名方式 -->
                        <div>
                            <br>
                            <app-paymentmethod></app-paymentmethod>
                            <br>
                        </div>
                        <!-- 上課地點 -->
                        <div>
                            <br>
                            <h3 style="font-family:DFKai-sb;">上課地點</h3>
                            <hr>
                            <table borderless="true">
                                <tbody>
                                    <tr>
                                        <td class="fs-6" colspan="2">
                                            <a>上課地點，往返之交通請自行處理，若有需要可以詢問是否能代為安排</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" width="100px" style="vertical-align:text-top;">
                                            <a>教室學科:</a>
                                        </td>
                                        <td class="fs-6">
                                            <a>iDiving 士林前港店（台北市士林區前港街 8 號）</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <a>海洋實習:</a>
                                        </td>
                                        <td class="fs-6">
                                            <a>iDiving 東北角龍洞店（新北市貢寮區龍洞街 66-1 號）</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="color:green;vertical-align:text-top;">
                                            <a>註: </a>
                                        </td>
                                        <td class="fs-6" style="color:green;">
                                            <a>
                                                上課地點與時間可能視狀況調整（如遇天候不佳或泳池場地整修等），若有額外增加的費用本中心將自行吸收，不會另外收費，但學員不可因課程時間調整而要求退費。
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 特約課程 -->
                        <div>
                            <br>
                            <h3 style="font-family:DFKai-sb;">特約課程</h3>
                            <hr>
                            <table borderless="true">
                                <tbody>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>學科部份，每另外約一日課程加價 300 元</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>術科部份，每另外約一日課程加價 500 元</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>三人同行，一起約定特殊時間上課，不須額外加價。</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>指定教練，須加價500元/日，如果該名教練已安排其他課程或出團恕無法指定。</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 更改辦法 -->
                        <div>
                            <br>
                            <h3 style="font-family:DFKai-sb;">更改辦法</h3>
                            <hr>
                            <table borderless="true">
                                <tbody>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>課程須於開始上課後的兩個月內完成。</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>上課日期之更改須在 10 天前告知</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>上課日期 10 天內調整，每次需收取調整費 500 元</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>上課當天通知要更改日期或曠課未通知則需收取調整費 1,000 元</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>因身體不適，出示醫院掛號單據者則不收取。</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>女性夥伴參加課程前請自行評估生理期影響。</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 取消辦法 -->
                        <div>
                            <br>
                            <h3 style="font-family:DFKai-sb;">取消辦法</h3>
                            <hr>
                            <table borderless="true">
                                <tbody>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>學員自行放棄課程，本訓練中心將不予退費。</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>若因身體因素不適合從事潛水活動，並開立醫生證明者，除了NT 3,000元購買數位教材的訂金，其餘將會退還。</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink>乾衣</a>
                    <ng-template ngbNavContent class="custom-class">
                        <br>
                        <h3 style="font-family:DFKai-sb;">乾衣</h3>
                        <hr>
                        <!-- 課程內容 -->
                        <div>
                            <br>
                            <h3 style="font-family:DFKai-sb;">開課內容</h3>
                            <ul>
                                <li class="fs-6">
                                    學科（3hr）<br>
                                    乾式防寒衣與內裡的特色、材質，乾式防寒衣的配件、如何使用與保養
                                </li>
                                <li class="fs-6">
                                    泳池（3hr）<br>
                                    穿脫乾衣、乾衣充排閥練習、下潛與上升、中性浮力、倒立潛水員回復
                                </li>
                                <li class="fs-6">
                                    海洋訓練（3次）<br>
                                    穿脫乾衣、乾衣充排閥練習、下潛與上升、中性浮力、倒立潛水員回復
                                </li>
                            </ul>
                            <br>
                            <img src="../../../../assets/Image/Data/SC_DRY_01.png" width="60%"
                                style="display:block; margin:auto;">
                        </div>
                        <!-- 課程特色 -->
                        <div>
                            <h3 style="font-family:DFKai-sb;"><br>課程特色</h3>
                            <ul class="fs-6">
                                <li>
                                    教你如何使用側掛潛水裝備。
                                </li>
                                <li>
                                    教你如何使用乾式防寒衣。
                                </li>
                                <li>
                                    海洋課程期間提供調節器、B.C.D.、乾式防寒衣（限定尺寸）。
                                </li>
                                <li>
                                    平日 / 假日 均有開課，課程安排很方便。
                                </li>
                                <li>
                                    領導級人員對學員比例 1：2，教練時時刻刻都在您身旁。
                                </li>
                                <li>
                                    數位教材伴您一生，不必擔心知識忘記。
                                </li>
                                <li>
                                    學員上課期間，購買潛水器材享有學員優惠價。
                                </li>
                            </ul>
                            <br>
                            <img src="../../../../assets/Image/Data/SC_DRY_02.png" width="100%"
                                style="display:block; margin:auto;">
                        </div>
                        <!-- 課程規劃 -->
                        <div>
                            <h3 style="font-family:DFKai-sb;"><br>課程規劃</h3>
                            <table borderless="true">
                                <tbody>
                                    <tr>
                                        <td width="10%">
                                        </td>
                                        <td>
                                            <a class="fs-6">
                                                DAY 1 | 學科 19:00~22:00<br>
                                                <hr>
                                                為什麼選用乾衣、如何挑選乾衣、乾衣配件介紹、乾衣試穿。
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            <a class="fs-6">
                                                <br>DAY 2 | 平靜水域13:00~17:00<br>
                                                <hr>
                                                穿脫乾衣、乾衣充排閥練習、下潛與上升、中性浮力、倒立潛水員回復。
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            <a class="fs-6">
                                                <br>DAY 3 | 開放水域08:00~12:00<br>
                                                <hr>
                                                穿脫乾衣、乾衣充排閥練習、下潛與上升、中性浮力、倒立潛水員回復。
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <img class="d-block" src="../../../../assets/Image/Data/DRY_Schedule.png" width="100%" style="display:block; margin:auto;">
                        </div>
                        <!-- 課程學費 -->
                        <div>
                            <br>
                            <h3 style="font-family:DFKai-sb;">課程學費</h3>
                            <hr>
                            <ul class="fs-6">
                                <li style="color: green;">定價 12,000 元。</li>
                                <li style="color: green;">自備乾衣  $9,000。</li>
                                <li style="color: green;">購買乾衣  $6,000。</li>
                                <li>現金優惠，折扣 300 元。</li>
                                <li>一般休閒水肺課程全面提供免費的重裝備使用（專業選修除外）移地訓練裝備免費使用一天。</li>
                                <li>費用包含：SSI數位教材、國際數位證照申請、教練費、訓練期間潛水重裝使用（浮力調整裝置、調節器、電腦錶）、旅遊平安保險。</li>
                                <li>費用不含：海洋實習交通與餐食費用、輕裝租借。</li>
                            </ul>
                            <br>
                        </div>
                        <!-- 報名方式 -->
                        <div>
                            <br>
                            <app-paymentmethod></app-paymentmethod>
                            <br>
                        </div>
                        <!-- 上課地點 -->
                        <div>
                            <br>
                            <h3 style="font-family:DFKai-sb;">上課地點</h3>
                            <hr>
                            <table borderless="true">
                                <tbody>
                                    <tr>
                                        <td class="fs-6" colspan="2">
                                            <a>上課地點，往返之交通請自行處理，若有需要可以詢問是否能代為安排</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" width="100px" style="vertical-align:text-top;">
                                            <a>教室學科:</a>
                                        </td>
                                        <td class="fs-6">
                                            <a>iDiving 士林前港店（台北市士林區前港街 8 號）</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <a>海洋實習:</a>
                                        </td>
                                        <td class="fs-6">
                                            <a>iDiving 東北角龍洞店（新北市貢寮區龍洞街 66-1 號）</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="color:green;vertical-align:text-top;">
                                            <a>註: </a>
                                        </td>
                                        <td class="fs-6" style="color:green;">
                                            <a>
                                                上課地點與時間可能視狀況調整（如遇天候不佳或泳池場地整修等），若有額外增加的費用本中心將自行吸收，不會另外收費，但學員不可因課程時間調整而要求退費。
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 特約課程 -->
                        <div>
                            <br>
                            <h3 style="font-family:DFKai-sb;">特約課程</h3>
                            <hr>
                            <table borderless="true">
                                <tbody>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>學科部份，每另外約一日課程加價 300 元</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>術科部份，每另外約一日課程加價 500 元</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>三人同行，一起約定特殊時間上課，不須額外加價。</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>指定教練，須加價500元/日，如果該名教練已安排其他課程或出團恕無法指定。</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 更改辦法 -->
                        <div>
                            <br>
                            <h3 style="font-family:DFKai-sb;">更改辦法</h3>
                            <hr>
                            <table borderless="true">
                                <tbody>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>課程須於開始上課後的兩個月內完成。</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>上課日期之更改須在 10 天前告知</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>上課日期 10 天內調整，每次需收取調整費 500 元</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>上課當天通知要更改日期或曠課未通知則需收取調整費 1,000 元</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>因身體不適，出示醫院掛號單據者則不收取。</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>女性夥伴參加課程前請自行評估生理期影響。</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 取消辦法 -->
                        <div>
                            <br>
                            <h3 style="font-family:DFKai-sb;">取消辦法</h3>
                            <hr>
                            <table borderless="true">
                                <tbody>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>學員自行放棄課程，本訓練中心將不予退費。</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-6" style="vertical-align:text-top;">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </td>
                                        <td class="fs-6">
                                            <a>若因身體因素不適合從事潛水活動，並開立醫生證明者，除了NT 3,000元購買數位教材的訂金，其餘將會退還。</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                        </div>
                    </ng-template>
                </li>
                <!-- <li [ngbNavItem]="4">
                    <a ngbNavLink>推進器</a>
                    <ng-template ngbNavContent class="custom-class">
                        <br>
                        <h3 style="font-family:DFKai-sb;">推進器</h3>
                        <hr>
                    </ng-template>
                </li> -->
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>

            <!-- <pre>Active: {{ active }}</pre> -->

        </div>
        <div class="col-xl">
        </div>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <app-foot></app-foot>

</div>