.DiveSite01 {
    background: url('../../../assets/Image/Data/Liuchiu_08.jpg');
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;            /* optionally, center the image */

    //text-align: center;
}

.DiveSite02 {
    background: url('../../../assets/Image/Data/Liuchiu_09.jpg');
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;            /* optionally, center the image */

    //text-align: center;
}

.DiveSite03 {
    background: url('../../../assets/Image/Data/Liuchiu_10.jpg');
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;            /* optionally, center the image */

    //text-align: center;
}

.DMClass02 {
    display:block;
    margin:auto;
}

.DMClass03 {
    text-align:center;
}

.btn01 {
    padding: 0.5rem 8.5rem !important;
}

