
<div>
    <br>
    <h3 style="font-family:DFKai-sb;">取消辦法</h3>
    <hr>
    <table borderless="true">
        <tbody>
            <tr>
                <td class="fs-6" style="vertical-align:text-top;">
                    <ul>
                        <li></li>
                    </ul>
                </td>
                <td class="fs-6">
                    <p>學員自行放棄課程，本訓練中心將不予退費。</p>
                </td>
            </tr>
            <tr>
                <td class="fs-6" style="vertical-align:text-top;">
                    <ul>
                        <li></li>
                    </ul>
                </td>
                <td class="fs-6">
                    <p>若因身體因素而不適合從事潛水活動，並開立醫生證明者，繳交之費用退費方式如下:</p>
                </td>
            </tr>
            <tr>
                <td class="fs-6" style="vertical-align:text-top;">
                </td>
                <td class="fs-6">
                    <p>
                        1. NT 3,000 元訂金用做購買線上教材，無法退費。<br>
                        2. 開課前 30 天以上，退回全新贈品，可退費NT 12,000元。<br>
                        3. 開課前 30 天之內，退回全新贈品，可退費NT 10,000元。<br>
                        4. 已上過學科，退回全新贈品，可退費NT 8,000元。<br>
                        5 .已上過泳池課程或贈品已使用，可退費NT 4,000元。<br>
                        6. 已上過海洋實習，恕不退費。
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
</div>