<div class="container">
    <p>member-new works!</p>
</div>

<div class="container">
    <div>
        <span><br></span>
    </div>
    <div>
        <a mat-stroked-button class="button-gap bg-primary fs-2">執行新增</a>
    </div>
    <div>
        <span><br></span>
    </div>
    <div>
        <br>
        <br>
        <!-- AG Grid Angular Component -->
        <ag-grid-angular class="table ag-theme-alpine" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
            [rowData]="rowData$ | async" [rowSelection]="'multiple'" [animateRows]="true"
            (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)">
        </ag-grid-angular>

    </div>