<!-- https://mdbootstrap.com/docs/b5/angular/navigation/footer/ -->

<footer class="text-center text-lg-start idiving-color">

  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">營業時間：</h5>

        <table class="text-uppercase mb-0">
          <tr>
            <td class="font-weight-normal">
              <a>周日：</a>
            </td>
            <td class="font-weight-normal">
              <a>全年 13:00 - 19:00</a>
            </td>
          </tr>
          <tr>
            <td class="font-weight-normal">
              <a>周一：</a>
            </td>
            <td class="font-weight-normal">
              <a>公休</a>
            </td>
          </tr>
          <tr>
            <td class="font-weight-normal">
              <a>周二-六：</a>
            </td>
            <td class="font-weight-normal">
              <a>4-10月 14:00 - 22:00</a>
            </td>
          </tr>
          <tr>
            <td class="font-weight-normal">
            </td>
            <td class="font-weight-normal">
              <a>11-3月 15:00 - 21:00</a>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
            </td>
          </tr>
        </table>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <h5 class="text-uppercase mb-0">聯繫資訊：</h5>

        <table>
          <tr>
            <td class="font-weight-normal">
              <a>電話：</a>
            </td>
            <td class="font-weight-normal">
              <a>0228827696</a>
            </td>
          </tr>
          <tr>
            <td class="font-weight-normal">
              <a>傳真：</a>
            </td>
            <td class="font-weight-normal">
              <a>0228827656</a>
            </td>
          </tr>
          <tr>
            <td class="font-weight-normal">
              <a>地址：</a>
            </td>
            <td class="font-weight-normal">
              <a>台北市士林區前港街8號</a>
            </td>
          </tr>
          <tr>
            <td class="font-weight-normal">
              <a>E-mail：</a>
            </td>
            <td class="font-weight-normal">
              <a>info@idiving.com.tw</a>
            </td>
          </tr>
        </table>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <h5 class="text-uppercase mb-0">匯款資訊：</h5>

        <table>
          <tr>
            <td class="font-weight-normal">
              <a>銀行：</a>
            </td>
            <td class="font-weight-normal">
              <a>中國信託 分行：士林分行</a>
            </td>
          </tr>
          <tr>
            <td class="font-weight-normal">
              <a>戶名：</a>
            </td>
            <td class="font-weight-normal">
              <a>愛潛水股份有限公司</a>
            </td>
          </tr>
          <tr>
            <td class="font-weight-normal">
              <a>銀行代號：</a>
            </td>
            <td class="font-weight-normal">
              <a>822 </a>
            </td>
          </tr>
          <tr>
            <td class="font-weight-normal">
              <a>帳號：</a>
            </td>
            <td class="font-weight-normal">
              <a>285-54009941-9</a>
            </td>
          </tr>
        </table>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0"></h5>

        <ul class="list-unstyled mb-0">
          <li style="text-align: center;">
            <a class="text-dark" href="https://www.youtube.com/user/iDiving2011">
              <mdb-icon fab icon="youtube"></mdb-icon>
            </a> &nbsp;
            <a class="text-dark" href="https://www.facebook.com/iDivingFans">
              <mdb-icon fab icon="facebook"></mdb-icon>
            </a> &nbsp;
            <a class="text-dark" href="https://www.instagram.com/idiving_taiwan/">
              <mdb-icon fab icon="instagram"></mdb-icon>
            </a>
          </li>
          <li>
            <a href="#!" class="text-dark"><br></a>
          </li>
        </ul>

        <ul class="list-unstyled">
          <li style="text-align: center;">
            <a href="https://qrcodepay.line.me/qr/payment/BFa6dpxPyIqmQNW1%252BROqnuOelPoYVNue6BtRrOyn38XyEXKgjG7kCCpynr2eGqFo"
              target="_blank">
              <img class="border border-dark" width="25%" src="../../../../assets/Image/Data/lineqrcode.png">
            </a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark" href="https://www.idiving.com.tw/">愛潛水股份有限公司版權所有</a>
  </div>
  <!-- Copyright -->
</footer>
