<!-- https://mdbootstrap.com/docs/b5/angular/navigation/footer/ -->

<footer class="text-center idiving-color-light idiving-footer-color"> <!-- text-lg-start -->

  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <a class="fs-6">前港店 營業時間</a>

        <ul class="list-unstyled mb-0">
          <li>
            <a class="fs-6" style="white-space:nowrap;">周二-六： 4-10月 14:00 - 22:00</a>
          </li>
          <li>
            <a class="fs-6" style="white-space:nowrap;">周二-六： 11-3月 15:00 - 21:00</a>
          </li>
          <li>
            <a class="fs-6" style="white-space:nowrap;">周日：全年 13:00 - 19:00</a>
          </li>
          <li>
            <a class="fs-6" style="white-space:nowrap;">周一： 公休</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <a class="fs-6">iDiving愛潛水 前港店</a>

        <ul class="list-unstyled mb-0">
          <li>
            <a class="fs-6" style="white-space:nowrap;">台北市士林區前港街8號</a>
          </li>
          <li>
            <a class="fs-6" style="white-space:nowrap;">Tel：0228827696</a>
          </li>
          <li>
            <a class="fs-6" style="white-space:nowrap;">E-mail：info@idiving.com.tw</a>
          </li>
        </ul>

        <br>

        <a class="fs-6">iDiving愛潛水 龍洞店</a>

        <ul class="list-unstyled mb-0">
          <li>
            <a class="fs-6" style="white-space:nowrap;">新北市貢寮區龍洞街66-1號</a>
          </li>
          <li>
            <a class="fs-6" style="white-space:nowrap;">Tel：0224911639</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <ul class="list-unstyled mb-0">
          <li>
            <a class="fs-6" style="white-space:nowrap;">銀行代號：822</a>
          </li>
          <li>
            <a class="fs-6" style="white-space:nowrap;">銀行：中國信託 士林分行</a>
          </li>
          <li>
            <a class="fs-6" style="white-space:nowrap;">戶名：愛潛水股份有限公司</a>
          </li>
          <li>
            <a class="fs-6" style="white-space:nowrap;">帳號：285-54009941-9</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase"><br></h5>

        <ul class="list-unstyled mb-0">
          <li style="text-align: center;">
            <a class="text-dark" href="https://www.youtube.com/user/iDiving2011">
              <mdb-icon fab icon="youtube" style="font-size:24px;"></mdb-icon>
            </a> &nbsp;
            <a class="text-dark" href="https://www.facebook.com/iDivingFans">
              <mdb-icon fab icon="facebook" style="font-size:24px;"></mdb-icon>
            </a> &nbsp;
            <a class="text-dark" href="https://www.instagram.com/idiving_taiwan/">
              <mdb-icon fab icon="instagram" style="font-size:24px;"></mdb-icon>
            </a> &nbsp;
            <a class="text-dark" href="https://line.me/R/ti/p/%40txm0437l">
              <mdb-icon fab icon="line" style="font-size:24px;"></mdb-icon>
            </a>
          </li>
          <li>
            <a href="#!" class="text-dark"><br></a>
          </li>
        </ul>

        <ul class="list-unstyled">
          <li style="text-align: center;">
            <a href="https://qrcodepay.line.me/qr/payment/BFa6dpxPyIqmQNW1%252BROqnuOelPoYVNue6BtRrOyn38XyEXKgjG7kCCpynr2eGqFo"
              target="_blank">
              <img class="border border-dark" width="25%" src="../../../../assets/Image/Data/lineqrcode.png">
            </a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!--Grid row-->
  <div class="row">
    <div class="col">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-dark" href="https://www.idiving.com.tw/">愛潛水股份有限公司版權所有</a>
      </div>
    </div>
    <!-- Copyright -->
  </div>
</footer>