<!-- FD 學前須知 -->
<div>
    <table mdbTable borderless="true">
        <thead>
            <tr>
                <td colspan=2>
                    <hr> 
                </td>
            </tr>
            <tr>
                <th colspan=2>
                    <h3>學前須知</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol>
                <td class="fs-6" width="2%" ailgn="left">
                    <a>1.</a> 
                </td>
                <td class="fs-6">
                    <a>
                        課程須於開始上課後的兩個月內完成。上課日期之更改須在 10 天前告知，若於上課日期 10 天內才要調整，
                        每次需收取課程調整費 500 元，若是上課當天才通知要更改日期或曠課未通知則需收取課程調整費 1,000 元，
                        如果是因身體不適，出示醫院掛號單據者則不收取。女性夥伴參加課程前請自行評估生理期影響。
                    </a>
                </td>
            </tr>
            <tr>
                <td class="fs-6">
                    <a>2.</a> 
                </td>
                <td class="fs-6">
                    <table>
                        <tbody>
                            <tr>
                                <td class="fs-6" width="15%" ailgn="left">學費包含：</td>
                                <td class="fs-6">數位教材、教練費、泳池場地費、訓練期間部分裝備（防寒衣、自潛用長蛙、配重）使用、海洋實習保險及數位證照申請。</td>
                            </tr>
                            <tr>
                                <td class="fs-6" width="15%" >學費不含：</td>
                                <td class="fs-6">面鏡、呼吸管、配重帶（需自備，亦可租借）使用、餐飲、交通、住宿等費用。</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="fs-6" width="2%" ailgn="left">
                    <a>3.</a> 
                </td>
                <td class="fs-6">
                    <a>
                        學員自行放棄課程，本訓練中心將不予退費。若因身體因素而不適合從事潛水活動，並開立醫生證明者，繳交之費用退費方式如下：<br/>
                        NT 3,000 元訂金用做購買線上教材，無法退費；<br>
                        退費金額依據繳交之費用總額，扣除行政及教材費用；各階段扣除費用參考如下：<br/>
                    </a>
                    <table>
                        <tbody>
                            <tr align="center">
                                <td>&nbsp;</td>
                                <td class="fs-6">
                                    30天前，<br/>
                                    退回全新贈品
                                </td>
                                <td class="fs-6">
                                    30天內，<br/>
                                    退回全新贈品
                                </td>
                                <td class="fs-6">已上過學科</td>
                                <td class="fs-6">已上過泳池</td>
                                <td class="fs-6">去過海洋</td>
                            </tr>
                            <tr align="center">
                                <td class="fs-6">LV1</td>
                                <td class="fs-6">NT 4,000</td>
                                <td class="fs-6">NT 6,000</td>
                                <td class="fs-6">NT 8,000</td>
                                <td class="fs-6">NT 10,000</td>
                                <td class="fs-6">無退費</td>
                            </tr>
                            <tr align="center">
                                <td class="fs-6">POOL</td>
                                <td class="fs-6">NT 3,600</td>
                                <td class="fs-6">NT 4,800</td>
                                <td class="fs-6">NT 6,000</td>
                                <td class="fs-6">無退費</td>
                                <td class="fs-6">－</td>
                            </tr>
                            <tr align="center">
                                <td class="fs-6">BASIC</td>
                                <td class="fs-6">NT 3,400</td>
                                <td class="fs-6">NT 4,100</td>
                                <td class="fs-6">NT 4,800</td>
                                <td class="fs-6">無退費</td>
                                <td class="fs-6">－</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="fs-6" width="2%" ailgn="left">
                    <a>4.</a> 
                </td>
                <td class="fs-6">
                    <a>
                        學員於在學期間購買潛水器材享有會員優惠價。<br/>
                        訓練期間所提供之裝備若有穿戴不適或任何問題，請務必告知主持教練。<br/>
                        課程之學費、器材之購買費用與2吋大頭照，請於泳池課程之前繳齊。
                    </a>
                </td>
            </tr>
            <tr>
                <td class="fs-6" width="2%" ailgn="left">
                    <a>5.</a> 
                </td>
                <td class="fs-6">
                    <table>
                        <tr>
                            <td class="fs-6" colspan="2">上課地點，往返之交通請自行處理，<span class="Important">若有需要可以詢問是否能代為安排</span><br/></td>
                        </tr>
                        <tr>
                            <td class="fs-6" width="1%" nowrap>教室學科：</td>
                            <td class="fs-6">iDiving士林前港店（台北市士林區前港街8號）</td>
                        </tr>
                        <tr>
                            <td class="fs-6">泳池術科：</td>
                            <td class="fs-6">各配合泳池（需先到iDiving集合）</td>
                        </tr>
                        <tr>
                            <td class="fs-6">海洋實習：</td>
                            <td class="fs-6">
                                <a>夏季東北角（iDiving 東北角龍洞店 新北市貢寮區龍洞街 66-1 號）<br/></a>
                                <a>冬季潛立方（台中市西屯區安和西路 69 號）或 各移地結訓地<br/></a>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td class="fs-6" width="1%" nowrap><span class="Large Important">註：</span></td>
                            <td class="fs-6"><span class="Large Important">上課地點與時間可能視狀況調整（如遇天候不佳或泳池場地整修等），若有額外增加的場地/門票費用，如潛立方或海洋公園門票等， 本中心將自行吸收，不會另外收費，但學員不可因課程之"地點/時間"有調整而要求退費。</span></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>