<!-- 參考網頁 -->
<!-- https://getbootstrap.com/docs/4.3/components/card/ -->
<!-- https://mdbootstrap.com/docs/angular/advanced/carousel/ -->
<!-- Section: Testimonials v.4 -->
<section class="container text-center">

    <!-- Section heading -->
    <p class="fs-4" style="text-align: center;">各地潛水旅遊團不怕沒得玩</p>
    <p class="fs-6" style="text-align: center;">全年開設 33團各地潛水旅遊團</p>
    <p class="fs-6" style="text-align: center;">東北角、小琉球、墾丁、蘭嶼、綠島、澎湖</p>
    <p class="fs-6" style="text-align: center;">新手岸潛團，老手船潛 iDiving 帶你遊山玩水</p>
    <br>
    <br>
    <h4 style="font-weight:bold;text-align: center;">潛水行程</h4>

    <div class="row g-0">

        <mdb-carousel [interval]="'0'" [allowSwipe]="true" [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'">
            <mdb-carousel-item *ngFor="let item of slides; let i = index">

                <div class="col-md-4" [ngClass]="{'d-none d-md-block': cardIndex !== 0}" *ngFor="let card of item; let cardIndex = index">

                    <div class="card bg-dark">
                        <a href="{{card.href}}">
                            <img src="{{card.img}}" class="card-img" alt="..." />
                            <div class="card-img-overlay text-white">
                                <h5 class="card-title">{{card.title}}</h5>
                                <!-- <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.
                            </p>
                            <p class="card-text">Last updated 3 mins ago</p> -->
                            </div>
                        </a>
                    </div>

                </div>

            </mdb-carousel-item>
        </mdb-carousel>

    </div>

    <br>
</section>