
  <!-- intro-header -->
  <!-- container -->
  <!-- container-fluid -->
  <div class="row">
    <div class="col w-100">
      <!--Navbar-->
      <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-info scrolling-navbar">
        <mdb-navbar-brand>
          <!-- <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>MDB</strong></a> -->
          <a class="navbar-brand" mdbWavesEffect href="#">
            <img height="50" src="../assets/Image/Logo.jpg" alt="iDiving"> 全方位潛水中心
          </a>
        </mdb-navbar-brand>
        <links>
          <ul class="navbar-nav ml-auto">

            <!-- active -->
            <li class="nav-item btn-group waves-light" mdbDropdown>
              <a mdbDropdownToggle type="button" class="nav-link" href="#" mdbWavesEffect>學潛水</a>
            </li>

            <li class="nav-item btn-group waves-light" mdbDropdown>
              <a mdbDropdownToggle type="button" class="nav-link dropdown-toggle" href="#" mdbWavesEffect>玩潛水</a>
            </li>

            <li class="nav-item btn-group waves-light" mdbDropdown>
              <a mdbDropdownToggle type="button" class="nav-link dropdown-toggle" href="#" mdbWavesEffect>愛潛水</a>

              <div class="dropdown-menu ">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li>

            <!--color="primary"-->
            <li class="nav-item btn-group waves-light" mdbDropdown>
              <a mdbDropdownToggle type="button" class="nav-link dropdown-toggle" mdbWavesEffect>Basic 愛潛水</a>

              <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li>

          </ul>
          <!--<form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form mt-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
        </form>-->
        </links>
      </mdb-navbar>
    </div>
  </div>