<div class="container-fluid">

    <!-- <app-head></app-head> -->

    <div class="row">
        <table>
            <tr>
                <td style="height: 12vh;">
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <!-- <div class="row">
        <div class="col">
            <br>
            <div class="container-fluid">
                <nav class="breadcrumb bg-white">
                    <a class="breadcrumb-item" href="#">首頁</a>
                    <a class="breadcrumb-item">學潛水</a>
                    <a class="breadcrumb-item">開放水域潛水員</a>
                </nav>
            </div>
            <br>
        </div>
    </div> -->

    <div class="row">
        <div class="col-xl">
        </div>
        <div class="col-xl-10">

            <br>
            <hr>
            <br>

            <!-- <div> -->
            <!-- 16:9 aspect ratio -->
            <!-- <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/whZged-4VKQ"></iframe>
                </div>
            </div> -->

            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).webp"
                            alt="First slide">
                        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Light mask</h3>
                        <p>First text</p>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).webp"
                            alt="Second slide">
                        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Strong mask</h3>
                        <p>Secondary text</p>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).webp"
                            alt="Third slide">
                        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Slight mask</h3>
                        <p>Third text</p>
                    </div>
                </mdb-carousel-item>
            </mdb-carousel>

            <br>
            <hr>
            <br>

            <div class="row d-flex justify-content-center">
                <div class="col-6 col-md-4 col-lg-2 p-2" *ngFor="let stand of stands">
                    <div class="card p-2">
                        <a href={{stand.hrf}}>
                            <img src={{stand.img}} class="card-img-top" alt="...">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{stand.name}}</h5>
                            <p class="card-text fs-6">{{stand.title}}</p>
                            <p class="card-text fs-6">{{stand.title01}}</p>
                            <p class="card-text fs-6">{{stand.title02}}</p>
                            <button class="btn btn-primary fs-6">了解更多</button>
                            <!-- style="white-space: pre" -->
                            <!-- <a href="https://www.facebook.com/janicewa2002" class="btn btn-primary">This button</a> -->
                            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <hr>
            <br>

            <!-- <div class="row d-flex justify-content-center">
                <div class="col-6 col-md-4 col-lg-2 p-2" *ngFor="let stand of stands01">
                    <div class="card p-2">
                        <a href={{stand.hrf}}>
                            <img src={{stand.img}} class="card-img-top" alt="...">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{stand.name}}</h5>
                            <p class="card-text fs-6">{{stand.title}}</p>
                            <p class="card-text fs-6">{{stand.title01}}</p>
                            <p class="card-text fs-6">{{stand.title02}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <hr>
            <br>

            <mat-card>
                <img mat-card-image="" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        <strong> A dog is a domestic mammal of the family Canidae and the order Carnivora.</strong>
                        Its scientific name is Canis lupus familiaris. Dogs are a subspecies of the gray wolf, and they
                        are also related to foxes and jackals. Dogs are one of the two most ubiquitous and most popular
                        domestic animals in the world.
                    </p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button="">Like ??</button>
                    <button mat-button="">share ?</button>
                </mat-card-actions>
            </mat-card> -->

            <br>

        </div>
        <div class="col-xl">
        </div>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <!-- <app-foot></app-foot> -->

</div>