<div class="container-fluid">

    <app-head></app-head>

    <div class="row">
        <table>
            <tr>
                <td style="height: 12vh;">
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col w-100">
            <br>
            <div class="container-fluid">
                <nav class="breadcrumb bg-white">
                    <a class="breadcrumb-item" href="#">首頁</a>
                    <a class="breadcrumb-item">愛潛水</a>
                    <a class="breadcrumb-item">iDiving 前港店</a>
                </nav>
            </div>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-xl">
        </div>
        <div class="col-xl-10">

            <br>
            <h3 style="font-family:DFKai-sb;text-align:center;">iDiving 前港店</h3>
            <br>
            <br>
            <!-- 前港店 介紹 -->
            <div style="text-align:center;">
                <hr>
                <a class="fs-6">
                    如果您希望搭捷運就能進行潛水課程，位於台北市的前港店絕對是最佳的選擇！<br>
                    搭乘捷運或公車步行５分鐘即可抵達，利用空閒時間下班就能來上課，下課後還能享受夜市美食。<br>
                    若沒有開車，來前港店搭乘本公司的車即可前往東北角，就算一個人潛水也不怕麻煩<br>
                </a>
            </div>
            <!-- 前港店 設施服務 -->
            <div style="text-align:center;">
                <hr>
                <br>
                <img src="../../../assets/Image/Data/Store01p01.jpg" width="90%">
                <br>
                <a class="fs-6">
                    九位駐店正職教練，提供課程、活動、器材維修等服務<br>
                </a>
                <br>
                <img src="../../../assets/Image/Data/Store01p02.jpg" width="90%">
                <br>
                <a class="fs-6">
                    兩間教室提供同學們一起上課，還有不定時環保講座<br>
                </a>
                <br>
                <img src="../../../assets/Image/Data/Store01p03.jpg" width="90%">
                <br>
                <a class="fs-6">
                    距離 3分鐘就有前港公園游泳池，上課走路好方便<br>
                </a>
                <br>
                <img src="../../../assets/Image/Data/Store01p04.jpg" width="90%">
                <br>
                <a class="fs-6">
                    提供各種尺寸的器材租借服務<br>
                </a>
            </div>
            <!-- 前港店 交通指南 -->
            <div style="text-align:center;">
                <hr>
                <a class="fs-6">
                    電話：(02)2882-7696<br>
                    地址： 台北市士林區前港街8號<br>
                    前港店街景：<a href="https://reurl.cc/mvlQXM">https://reurl.cc/mvlQXM</a><br>
                    營業時間：<br>
                    全年周一公休<br>
                    4月-10月 星期二至星期六 14:00~22:00 　周日13:00~19:00<br>
                    11月-3月 星期二至星期六 15:00~21:00 　周日13:00~19:00<br>
                    (以上時間為門市營業時間，潛水訓練時間請依照開課時之規劃)<br><br>
                    *停車資訊：前港公園、百齡高中地下停車場<br>
                    *搭乘大眾運輸工具，乘車資訊：<br>
                    *搭乘台北捷運至劍潭站2號出口／3號出口，往承德路方向步行約5分鐘<br>
                    *搭乘公車：26、41、218、280、288、529、616、618、756等至圓山皇宮大廈，往前港街方向步行約3分鐘<br>
                </a>
            </div>
            <!-- 前港店 介紹 聯絡方式 -->
            <div>
                <h3 style="font-family:DFKai-sb;">聯絡方式</h3>
                <hr>
                <ul class="fs-6">
                    <li>網站 : <a href="http://www.idiving.com.tw">www.idiving.com.tw</a></li>
                    <li> Facebook 粉絲團 : <a href="http://www.facebook.com/iDivingFans"
                            target="_blank">www.facebook.com/iDivingFans</a></li>
                    <li> Email : <a href="mailto:info@idiving.com.tw">info@idiving.com.tw</a></li>
                    <br />
                    <li>電話：<a href="tel:0228827696">(02)2882-7696</a></li>
                    <li>傳真：<a href="fax:0228827656">(02)2882-7656</a></li>
                    <li>Line@：<a href="https://lin.ee/ge19YeP"><img
                                src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" alt="加入好友"
                                height="36" border="0"></a></li>
                </ul>
                <br>
            </div>
            <!-- 前港店 介紹 匯款資訊 -->
            <div>
                <h3 style="font-family:DFKai-sb;">匯款資訊</h3>
                <hr>
                <table class="fs-6">
                    <tr>
                        <td class="fs-6" width="50%">
                            <div>
                                iDiving全方位潛水中心 公司帳戶<br/>
                                戶名：愛潛水股份有限公司<br/>
                                銀行：中國信託<br/>
                                代號：822<br/>
                                分行：士林分行<br/>
                                帳號：285-54009941-9
                            </div>
                        </td>
                        <td style="text-align:center;">
                            <a href="https://qrcodepay.line.me/qr/payment/BFa6dpxPyIqmQNW1%252BROqnuOelPoYVNue6BtRrOyn38XyEXKgjG7kCCpynr2eGqFo" target="_blank">
                                <img width="50%" src="../../../assets/Image/Data/lineqrcode.png">
                            </a>
                        </td>
                    </tr>
                </table>
                <br>
            </div>

        </div>
        <div class="col-xl">
        </div>
    </div>

    <div class="row">
        <table>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </div>

    <app-foot></app-foot>

</div>